.content {
  top: 80px;
  left: 250px;
  right: 10px;
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .main-min-width {
    width: 260px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 200px) {
  .home-content {
    left: 0px;
    right: 0px;
  }
}
.card-web {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 900px) and (min-width: 200px) {
  .card-mobile {
    display: flex;
    flex-wrap: wrap;
  }
}
.bshadow {
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 14px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.bg-color-primary {
  padding: 2px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #6200ea !important;
}
.label-text-size {
  line-height: 2rem;
  color: #212121;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
}
.text-size {
  line-height: 1.25rem;
  color: #000;
  letter-spacing: 0.0178571429em;
  font-size: 0.875rem;
  opacity: 0.6;
}
.icon-circle {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.bg-primary-color {
  background-color: #6200ea !important;
  color: white !important;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
.material-icons-small {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 0.875rem;
  opacity: 0.6;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
.text-size-small {
  line-height: 1.05rem;
  color: #000;
  letter-spacing: 0.0118571429em;
  font-size: 0.675rem;
  opacity: 0.6;
}
.bg-color-secondary {
  padding: 2px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #ffb300 !important;
}
.bg-secondary-color {
  background-color: #ffb300 !important;
  color: white !important;
}
.bg-color-third {
  padding: 2px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #9c27b0 !important;
}
.bg-third-color {
  background-color: #9c27b0 !important;
  color: white !important;
}
.bg-color-fourth {
  padding: 2px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #26a69a !important;
}
.bg-fourth-color {
  background-color: #26a69a !important;
  color: white !important;
}
.card-header-dashboard {
  padding: 1rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.bg-transparent {
  background-color: transparent !important;
}
.mr {
  margin-right: 1.5rem !important;
}
.card-title-dashboard {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  margin-bottom: 0;
}
.card-subtitle-dashboard {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: 0.0071428571em;
  margin-bottom: 0;
  opacity: 0.6;
}
.btn-text-primary {
  overflow: hidden;
  position: relative;
  border: none;
  padding: calc(0.40625rem + 1px) calc(0.5rem + 1px);
  color: #6200ea;
}
.btn-icon {
  padding: 0;
  margin: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  border-radius: 100%;
  flex-shrink: 0;
  outline: none;
  border: none;
  background-color: white;
  height: calc((0.875rem * 1.5) + (0.40625rem * 2) + (2px)) !important;
  width: calc((0.875rem * 1.5) + (0.40625rem * 2) + (2px)) !important;
}
.btn-icon:focus {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 100%;
}
.btn-icon:hover {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  background-color: lightgrey;
}
.bar-chart-body-web {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) and (min-width: 200px) {
  .bar-chart-body-mobile {
    display: flex;
    flex-wrap: wrap;
  }
}
.text-xs {
  font-size: 0.75rem !important;
  line-height: 1.25rem !important;
  letter-spacing: 0.0333333333em !important;
}
.bar-chart-web {
  width: 100%;
  max-width: 400px;
}
@media screen and (max-width: 1350px) and (min-width: 200px) {
  .bar-chart-mobile {
    width: 100%;
    max-width: 340px;
  }
}
.card-footer {
  padding: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.text-color-primary {
  color: #6200ea !important;
}
.text-decoration-none {
  text-decoration: none !important;
}
.privacy-card-web {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) and (min-width: 200px) {
  .privacy-card-mobile {
    display: flex;
    flex-wrap: wrap;
  }
}
.card-text {
  line-height: 1.25rem;
  color: #000;
  font-weight: 500;
  letter-spacing: 0.0178571429em;
  font-size: 0.8rem;
  margin-bottom: 0;
  opacity: 0.6;
}
.progress {
  display: flex;
  height: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #eeeeee;
  border-radius: 0;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #6200ea;
  transition: width 0.6s ease;
}
tr :nth-child(odd) {
  background-color: #6200ea;
  cursor: pointer;
  color: #ffffff;
}
tr :nth-child(even) {
  background-color: green;
  color: #ffffff;
  cursor: pointer;
}
tr :nth-child(odd):hover {
  background-color: lightgrey;
  cursor: pointer;
  color: black;
}
tr :nth-child(even):hover {
  background-color: #eeeeee;
  color: black;
  cursor: pointer;
}
