.sidebar {
  display: flex;
  height: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1024;
  width: 210px;
  padding-top: 5px;
  flex-direction: column;
  align-items: center;
  background-color: #f3f5ff;
  box-shadow: 0 0 0.5em #e2e2e2;
  overflow: auto !important;
}
.custom-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 0px 25px 25px 0px;
  background-color: #f3f5ff;
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgba(56, 140, 224, var(--tw-text-opacity));
  font-size: 14px;
}
.custom-btn:hover {
  border: none;
  outline: none;
  background-color: #dfe1e6;
  cursor: pointer;
  color: #4d72f8;
}
.custom-btn:focus {
  border: none;
  outline: none;
}
/* .active {
  border: none;
  outline: none;
  border-radius: 0px 25px 25px 0px;
  background-color: white;
  --tw-text-opacity: 1;
  color: rgba(56, 140, 224, var(--tw-text-opacity));
} */
.custom-btn-a {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  background-color: #f3f5ff;
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgba(56, 140, 224, var(--tw-text-opacity));
  font-size: 14px;
}
.custom-btn-a:focus {
  border: none;
  outline: none;
}
.custom-btn-a:hover {
  border: none;
  outline: none;
  background-color: #dfe1e6;
  cursor: pointer;
  color: #4d72f8;
}
.label-font-size {
  font-size: 12px;
}
.text-size {
  font-size: 14px;
}
.topbar {
  position: fixed;
  top: 0px;
  left: 212px;
  right: 0px;
  max-height: 60px;
  background-color: #4276a1;
  box-shadow: 0 0 0.5em #e2e2e2;
}
.btn-profile {
  border: none;
  outline: none;
  height: 60px;
  border-radius: 0px;
  background-color: #367eba;
  cursor: pointer;
  color: white;
  font-size: 14px;
}
.icon-display {
  display: none;
}
.bottombar {
  position: fixed;
  left: 212px;
  right: 0px;
  bottom: 0;
  height: 64px;
  background-color: #ffffff;
  box-shadow: 0 0 0.5em #e2e2e2;
}
.footerColor {
  color: #7f8fa4;
  font-size: 10px;
  margin: 19px;
}
.horizonLine {
  height: 12px;
  border-right: 1px solid grey;
}
@media screen and (max-width: 414px) and (min-width: 280px) {
  .icon-display1 {
    display: block;
  }
}
@media screen and (max-width: 414px) and (min-width: 280px) {
  .navs {
    left: 0px;
    right: 0px;
  }
}
@media screen and (max-width: 414px) and (min-width: 280px) {
  .display {
    display: none;
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .footer-colors {
    color: #7f8fa4;
    font-size: 10px;
    margin: 9px;
  }
}