.content {
  top: 80px;
  left: 250px;
  right: 10px;
}
@media screen and (max-width: 800px) and (min-width: 200px) {
  .home-content {
    left: 10px;
    right: 10px;
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .main-min-width {
    width: 260px;
  }
}
.bg-color {
  background-color: #4276a1 !important;
  color: #ffffff !important;
}
.btn-primary-color {
  background-color: #4276a1 !important;
}
.white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.border-primary-color {
  border: 1px solid #4276a1 !important;
}
.tab-box {
  background: #ffffff;
  height: fit-content;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #ffffff !important;
  background-color: #626b7a !important;
  border-color: #626b7a !important;
}
.nav-link {
  cursor: pointer !important;
  font-size: small !important;
  margin-left: 1.5px !important;
  margin-right: 1.5px !important;
  background-color: white !important;
  color: #495057 !important;
  border-color: white !important;
}
.nav-tabs {
  width: 90% !important;
  border-bottom: 0px solid #dee2e6 !important;
  padding: 3px !important;
  background-color: white !important;
  display: flex !important;
  align-items: center !important;
  height: 50px !important;
}
.image-box {
  background: #ffffff;
  height: fit-content;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.mx {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  padding: 10px !important;
}
.tabbable .nav-tabs {
  overflow-x: hidden;
  overflow-y: hidden;
  flex-wrap: nowrap;
}
.tabbable .nav-tabs .nav-link {
  white-space: nowrap;
}
.tabbable-border {
  border-bottom: 1px solid #dee2e6;
  overflow-x: scroll;
  padding-left: 10px;
}
.paddle {
  position: absolute;
  top: 0;
  bottom: 0;
  height: fit-content;
  width: fit-content;
}
.left-paddle {
  left: 20px;
  top: 15px;
}
.right-paddle {
  top: 15px;
  right: 20px;
}
.bg-light-grey {
  background-color: grey !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.fontsize {
  font-size: small !important;
  padding: 5px !important;
  border-radius: 25px !important;
}
.font {
  font-size: smaller !important;
  color: white !important;
  background-color: #626b7a !important;
  border-color: #626b7a !important;
}
.form-control-image {
  position: absolute;
  top: 10px;
  right: 0px;
  border: 1px solid #626b7a !important;
  border-radius: 1px !important;
  background-color: #626b7a !important;
  color: white !important;
  outline: none !important;
  font-size: xx-small !important;
  text-align: center !important;
  width: 35px !important;
  height: 20px;
}
.form-control-image:focus {
  border: none !important;
  outline: none !important;
}
.image-sm {
  display: grid;
  text-align: center;
  justify-content: center;
}
