.sidebar {
  display: flex;
  height: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1024;
  width: 85px;
  padding-top: 5px;
  flex-direction: column;
  align-items: center;
  background-color: #f3f5ff;
  box-shadow: 0 0 0.5em #e2e2e2;
}
.sidebar-small {
  display: flex;
  height: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1024;
  width: 70px;
  padding-top: 5px;
  flex-direction: column;
  align-items: center;
  background-color: #f3f5ff;
  box-shadow: 0 0 0.5em #e2e2e2;
}
.topbar {
  position: fixed;
  top: 0px;
  left: 87px;
  right: 0px;
  max-height: 60px;
  background-color: #4276a1;
  box-shadow: 0 0 0.5em #e2e2e2;
}
.label-font-size {
  font-size: 12px;
}
.text-size {
  font-size: 14px;
}
.bottombar {
  position: fixed;
  left: 87px;
  right: 0px;
  bottom: 0;
  height: 64px;
  background-color: #ffffff;
  box-shadow: 0 0 0.5em #e2e2e2;
}
.btn-a {
  border: none;
  outline: none;
  border-radius: 0px 25px 25px 0px;
  background-color: #f3f5ff;
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgba(56, 140, 224, var(--tw-text-opacity));
  font-size: 14px;
}
.active {
  border: none;
  outline: none;
  border-radius: 0px 25px 25px 0px;
  background-color: white;
  --tw-text-opacity: 1;
  color: rgba(56, 140, 224, var(--tw-text-opacity));
}
.btn-a:hover {
  border: none;
  outline: none;
  border-radius: none;
  background-color: #dfe1e6;
  color: #4d72f8;
}
.btn-profile {
  border: none;
  outline: none;
  height: 60px;
  border-radius: 0px;
  background-color: #367eba;
  cursor: pointer;
  color: white;
  font-size: 14px;
}
.content {
  top: 80px;
  left: 100px;
  right: 10px;
}
.cards {
  margin-left: 300px;
  margin-right: 300px;
  box-shadow: 0 0 0.5em #e2e2e2;
}
.card-radio {
  padding-left: 50px;
  padding-right: 50px;
}
.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-top: none;
  z-index: 1024;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 250px !important;
  overflow: auto !important;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.btn-add {
  border: none;
  outline: none;
  border-radius: 0px;
  background-color: rgba(56, 140, 224, var(--tw-bg-opacity));
  cursor: pointer;
  --tw-bg-opacity: 1;
  color: white;
  font-size: 14px;
}
.get-started {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 2%;
  margin-bottom: 5%;
}
.horizonLine {
  height: 12px;
  border-right: 1px solid grey;
}
.footerColor {
  color: #7f8fa4;
  font-size: 10px;
  margin: 19px;
}
.icon-display {
  display: none;
}
@media screen and (max-width: 414px) and (min-width: 280px) {
  .icon-display1 {
    display: block;
  }
}
@media screen and (max-width: 414px) and (min-width: 280px) {
  .display {
    display: none;
  }
}
@media screen and (max-width: 414px) and (min-width: 280px) {
  .navs {
    left: 0px;
    right: 0px;
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .footer-colors {
    color: #7f8fa4;
    font-size: 10px;
    margin: 9px;
  }
}
@media screen and (max-width: 414px) and (min-width: 280px) {
  .home-content {
    left: 10px;
    right: 10px;
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .main-min-width {
    width: 260px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 280px) {
  .cards1 {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 280px) {
  .card-radio1 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 414px) and (min-width: 280px) {
  .add-btn {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) and (min-width: 280px) {
  .get-started1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 3%;
    margin-bottom: 12%;
  }
}
