﻿/* LOGIN CSS */

html {
    height: 100vh;
    overflow: hidden;
}
@media screen and (max-width: 540px) and (min-width: 280px) {
    html {
        height: 100vh;
        overflow:scroll;
    }
}
.form-control {
  z-index: 0!important;
}
.bg {
  background-color: #ffffff;
}
.form-control-image {
    position: absolute;
    top: 10px;
    right: 0px;
    border: 1px solid #626b7a !important;
    border-radius: 1px !important;
    background-color: #626b7a !important;
    color: white !important;
    outline: none !important;
    font-size: xx-small !important;
    text-align: center !important;
    width: 35px !important;
    height: 20px;
}
.bshadow {
  border-radius: 14px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.hideVerticalScrollbar {
  overflow-y: hidden !important;
}
.loginText {
  --tw-text-opacity: 1;
  color: rgba(57, 70, 87, var(--tw-text-opacity));
  opacity: 0.9;
  font-size: 24px;
  font-weight: 700;
  font-family: Poppins bold;
  justify-items: center;
}
.logout-image {
  display: block;
  margin: auto;
  width: 40%;
  margin-bottom: 14px;
}
.logout-login {
  display: flex;
  flex-direction: column;
  border-radius: 6px !important;
  background-color: rgba(211,242,213,.25);
  padding-left: 22px!important;
  padding-right: 22px!important;
  padding-top: 18px!important;
  padding-bottom: 18px!important;
  height: auto;
}
.emailTitle {
  --tw-text-opacity: 1;
  color: rgba(103, 122, 142, var(--tw-text-opacity));
  font-size: 14px;
  font-weight: 500;
  font-family: Open Sans SemiBold;
}
.input {
  --tw-text-opacity: 1 !important;
  color: rgba(57, 70, 87, var(--tw-text-opacity)) !important;
  padding: 12px !important;
  font-size: 14px !important;
  height: 42px !important;
  font-weight: 500 !important;
  font-family: Open Sans !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-radius: 8px !important;
  border: 1px solid #dee2e6 !important;
}
.forgetText {
  color: rgba(56, 140, 224, var(--tw-text-opacity));
  --tw-text-opacity: 1;
  font-size: 12px;
  font-weight: 500;
  font-family: Open Sans SemiBold;
  cursor: pointer;
  text-decoration: none !important;
}
.loginButton {
  --tw-text-opacity: 1 !important;
  color: rgba(255, 255, 255, var(--tw-text-opacity)) !important;
  font-size: 16px !important;
  height: 42px !important;
  cursor: pointer !important;
  font-family: Open Sans SemiBold t !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 6px !important;
  background-color: rgba(56, 140, 224, var(--tw-bg-opacity)) !important;
  --tw-bg-opacity: 1 !important;
}
a {
    text-decoration:none !important;
}
.width {
  width: 100%;
  height: 75%;
}
@media screen and (max-width: 540px) and (min-width: 280px) {
   .margin-b {
  margin-bottom: 110px !important;
}
}
@media screen and (max-width: 540px) and (min-width: 280px) {
   .margin-bottom {
  margin-bottom: 70px !important;
}
}
@media screen and (max-width: 540px) and (min-width: 280px) {
    .carousel .carousel-indicators li {
  position: relative;
  top: 50px !important;
  width: 7px;
  height: 7px;
  --tw-border-opacity: 1;
  border: 1px solid rgba(77, 148, 219, var(--tw-border-opacity));
  border-color: rgba(77, 148, 219, var(--tw-border-opacity));
  border-radius: 100%;
}
}
@media screen and (max-width: 540px) and (min-width: 280px) {
   .carousel .carousel-indicators li.active {
  position: relative;
  top: 50px !important;
  width: 7px;
  height: 7px;
  --tw-border-opacity: 1;
  border: 1px solid rgba(77, 148, 219, var(--tw-border-opacity));
  background-color: rgba(77, 148, 219, var(--tw-border-opacity));
  border-color: rgba(77, 148, 219, var(--tw-border-opacity));
  border-radius: 100%;
}
}
.carousel .carousel-indicators li {
  position: relative;
  top: 0px;
  width: 7px;
  height: 7px;
  --tw-border-opacity: 1;
  border: 1px solid rgba(77, 148, 219, var(--tw-border-opacity));
  border-color: rgba(77, 148, 219, var(--tw-border-opacity));
  border-radius: 100%;
}
.carousel .carousel-indicators li.active {
  position: relative;
  top: 0px;
  width: 7px;
  height: 7px;
  --tw-border-opacity: 1;
  border: 1px solid rgba(77, 148, 219, var(--tw-border-opacity));
  background-color: rgba(77, 148, 219, var(--tw-border-opacity));
  border-color: rgba(77, 148, 219, var(--tw-border-opacity));
  border-radius: 100%;
}
.carouselTitle {
  margin: 0px !important;
  --tw-text-opacity: 1;
  color: rgba(57, 70, 87, var(--tw-text-opacity));
  opacity: 0.9;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans SemiBold;
}
.carousalSubTitle {
  margin: 0px !important;
  --tw-text-opacity: 1;
  color: rgba(149, 158, 162, var(--tw-text-opacity));
  opacity: 0.9;
  font-size: 12px;
  font-weight: 600;
  font-family: Open Sans SemiBold;
}
.horizonLine {
  height: 12px;
  border-right: 1px solid grey;
}
.footerColor {
  color: #7f8fa4;
  font-size: 10px;
}
.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
  position: absolute;
  width: auto;
  top: 36px;
  font-size: 16px;
  right: -10px;
}

/* REGISTER CSS */

.carousel-indicator-bottom {
    bottom: -50px !important;
}
@media screen and (max-width: 540px) and (min-width: 280px) {
   .carousel-indicator-bottom {
 bottom: 0px !important;
}
}

/* SIDEBAR CSS */

.home-sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100%;
  z-index: 1024;
  background: black;
}
.sidebar-text-color {
  color: lightgrey;
  font-size: 14px;
  font-weight: 600;
}
.home-sidebar ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  color: rgb(241, 237, 237);
  position: relative;
  cursor:pointer;
  text-decoration:none;
}
.home-sidebar ul li a .icon {
  color: #dee4ec;
  display: inline-block;
}
.home-sidebar ul li a .item {
  color: #dee4ec;
  display: inline-block;
  font-size: 14px;
}
.home-sidebar ul li a:hover,
.home-sidebar ul li a.active {
  color: #0c7db1;
  background: whitesmoke;
  border-right: 2px solid rgb(5, 68, 104);
}
.home-sidebar ul li a:hover .icon,
.home-sidebar ul li a.active .icon {
  color: #0c7db1;
}
.home-sidebar ul li a:hover .item,
.home-sidebar ul li a.active .item {
  color: #0c7db1;
}
.home-sidebar ul li a:hover:before,
.home-sidebar ul li a.active:before {
  display: block;
}

/* HOVERABLE SIDEBAR CSS*/

.hoverable-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  position: fixed;
  padding: 20px 0px;
  top: 43%;
  left: 0px;
  width: 30px;
  height: 100px;
}
.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  z-index: 1024;
  overflow-x: hidden;
  background-color: #111;
}
.dashboard-sidebar-text-color {
  color: lightgrey;
  font-size: 14px;
  font-weight: 600;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.sidebar ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  color: rgb(241, 237, 237);
  position: relative;
}
.sidebar ul li a .icon {
  color: #dee4ec;
  display: inline-block;
}
.sidebar ul li a .item {
  color: #dee4ec;
  display: inline-block;
  font-size: 14px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  color: #0c7db1;
  background: whitesmoke;
  border-right: 2px solid rgb(5, 68, 104);
}
.sidebar ul li a:hover .icon,
.sidebar ul li a.active .icon {
  color: #0c7db1;
}
.sidebar ul li a:hover .item,
.sidebar ul li a.active .item {
  color: #0c7db1;
}
.sidebar ul li a:hover:before,
.sidebar ul li a.active:before {
  display: block;
}

/* TOPBAR CSS */

.topbar {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 5px;
  z-index: 1024;
  background-color: #ffffff;
  box-shadow: 1px 0px 20px rgb(0 0 0 / 8%);
}
.dashboard-topbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 5px;
  z-index: 3;
  background-color: #ffffff;
  box-shadow: 1px 0px 20px rgb(0 0 0 / 8%);
}
.dropdown {
  float: left;
}
.dropdown .dropbtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 13px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dashboard-topbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(241, 237, 237);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 225px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropbtn i {
  color: #2cabe3;
}
.dropdown-content i {
  color: #2cabe3;
}
.dropdown-content a {
  float: none;
  font-size: 13px !important;
  color: black !important;
  padding: 12px 16px;
  text-decoration: none !important;
  display: block;
  text-align: left !important;
}
.dropdown-content a:hover {
  background-color: #ddd !important;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
.sub-dropdown {
  float: left;
}
.sub-dropdown .sub-dropbtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 13px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.topbar a:hover,
.sub-dropdown:hover .sub-dropbtn {
  background-color: rgb(241, 237, 237);
}
.dropdown-sub-content {
  display: none;
  position: absolute;
  left: 200px;
  top: 0px;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-sub-content a {
  float: none;
  font-size: 13px !important;
  color: black !important;
  padding: 12px 16px;
  text-decoration: none !important;
  display: block;
  text-align: left !important;
}
.dropdown-sub-content a:hover {
  background-color: #ddd !important;
}
.sub-dropdown:hover .dropdown-sub-content {
  display: block;
}
.notification {
  position: relative;
}
.status-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
  top: -1px;
  left: 12px;
  position: absolute;
}
.text-color {
  color: #2cabe3;
  font-size: 12px;
  font-weight: 600;
}
@media screen and (max-width: 650px) and (min-width: 200px) {
  .text-color {
    color: #2cabe3;
    font-size: 10px;
    font-weight: 600;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .dropdown {
    width: 100% !important;
  }
}
@media screen and (max-width: 800px) and (min-width: 200px) {
  .navs {
    left: 0px;
    right: 0px;
    z-index:3
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .tablet-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    right:0px;
    min-width: 225px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}
.logout {
  background: none !important;
  color: #2cabe3 !important;
  text-decoration: none !important;
}

/* FOOTER CSS */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 100px;
  bottom: 0px;
  width: 100%;
  z-index: 1024;
  background-color: white;
  min-height: 60px;
  box-shadow: 1px 0px 20px rgb(0 0 0 / 8%);
  color: black;
  text-align: center;
}
.dashboard-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 1;
  background-color: white;
  min-height: 60px;
  box-shadow: 1px 0px 20px rgb(0 0 0 / 8%);
  color: black;
  text-align: center;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start !important;
    align-items: center;
  }
}
.footerColor {
  color: #7f8fa4 !important;
  font-size: 14px;
  text-decoration: none !important;
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .footerColor {
    color: #7f8fa4 !important;
    font-size: 9px;
    text-decoration: none !important;
  }
}
.footer-horizonLine {
  height: 12px;
  border-right: 1px solid grey;
}

/* HOME CSS */

#myVideo {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  top: 0;
  max-height: 400px;
  object-fit: fill;
}
.content {
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 100px;
  padding: 20px;
}
.hidden {
  opacity:0;
}
.console-container {
  font-family: sans-serif;
  font-size: 2em;
}
.home-main-content {
  top: 0px;
  left: 100px;
  right: 0px;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .home-main-content {
    top: 0px;
    left: 100px;
    right: -100px;
  }
}
.home-alert-silver {
    background-color: lightgoldenrodyellow
}
.home-btn-primary-color {
    background-color: #4276a1 !important;
}
.home-alert-close-icon {
  position: absolute;
  top: 0px;
  padding: 5px 8px 5px 8px;
  right: 0px;
}
.home-text-size {
  font-size: 16px;
}
.card {
  box-shadow: 0 0 0.5em #e2e2e2 !important;
}
.home-label-font-size {
  font-size: 14px !important;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-top: none;
  z-index: 1024;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 250px !important;
  overflow: auto !important;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.btn-add {
  border: none;
  outline: none;
  border-radius: 0px;
  background-color: rgba(56, 140, 224, var(--tw-bg-opacity));
  cursor: pointer;
  --tw-bg-opacity: 1;
  color: white;
  font-size: 14px;
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .main-min-width {
    width: 415px;
  }
}
.home-label-get-started-font {
  font-size: 18px;
  font-weight: 600;
  color: grey;
  text-align: justify;
}
.home-label-get-started-options-font {
  font-size: 14px;
  font-weight: 600;
  color: grey;
  text-align: justify;
}

/* DASHBOARD CSS */

.dashboard-main-content {
   top: 40px;
   left: 25px;
   right: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .dashboard-main-content {
    top: 70px;
    left: 25px;
    right: 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .dashboard-main-content {
    top: 225px;
    left: 5px;
    right: 5px;
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .dashboard-main-min-width {
    width: 260px;
  }
}
.dashboard-bshadow {
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 14px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
@media screen and (max-width: 1370px) and (min-width: 1200px) {
  .bshadow-height {
    height: 280px;
  }
}
.dashboard-bg-color-primary {
  padding: 2px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #6200ea !important;
}
.dashboard-label-text-size {
  line-height: 2rem;
  color: #212121;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
}
.dashboard-text-size {
  line-height: 1.25rem;
  color: #000;
  letter-spacing: 0.0178571429em;
  font-size: 0.875rem;
  opacity: 0.6;
}
.dashboard-icon-circle {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.dashboard-bg-primary-color {
  background-color: #6200ea !important;
  color: white !important;
}
.dashboard-material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
.dashboard-material-icons-small {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 0.875rem;
  opacity: 0.6;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
.dashboard-text-size-small {
  line-height: 1.05rem;
  color: #000;
  letter-spacing: 0.0118571429em;
  font-size: 0.675rem;
  opacity: 0.6;
}
.dashboard-bg-color-secondary {
  padding: 2px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #ffb300 !important;
}
.dashboard-bg-secondary-color {
  background-color: #ffb300 !important;
  color: white !important;
}
.dashboard-bg-color-third {
  padding: 2px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #9c27b0 !important;
}
.dashboard-bg-third-color {
  background-color: #9c27b0 !important;
  color: white !important;
}
.dashboard-bg-color-fourth {
  padding: 2px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #26a69a !important;
}
.dashboard-bg-fourth-color {
  background-color: #26a69a !important;
  color: white !important;
}
.card-header-dashboard {
  padding: 1rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.dashboard-bg-transparent {
  background-color: transparent !important;
}
.mr {
  margin-right: 1.5rem !important;
}
.card-title-dashboard {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  margin-bottom: 0;
}
.card-subtitle-dashboard {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: 0.0071428571em;
  margin-bottom: 0;
  opacity: 0.6;
}
.dashboard-btn-text-primary {
  overflow: hidden;
  position: relative;
  border: none;
  padding: calc(0.40625rem + 1px) calc(0.5rem + 1px);
  color: #6200ea;
}
.btn-icon {
  padding: 0;
  margin: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  border-radius: 100%;
  flex-shrink: 0;
  outline: none;
  border: none;
  background-color: white;
  height: calc((0.875rem * 1.5) + (0.40625rem * 2) + (2px)) !important;
  width: calc((0.875rem * 1.5) + (0.40625rem * 2) + (2px)) !important;
}
.btn-icon:focus {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 100%;
}
.btn-icon:hover {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  background-color: lightgrey;
}
.text-xs {
  font-size: 0.75rem !important;
  line-height: 1.25rem !important;
  letter-spacing: 0.0333333333em !important;
}
.bar-chart-web {
  width: 100%;
  max-width: 400px;
}
@media screen and (max-width: 1370px) and (min-width: 1200px) {
  .bar-chart-mobile-screen {
    width: 100%;
    max-width: 300px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 550px) {
  .bar-chart-mobile {
    width: 100%;
    max-width: 500px;
  }
}
@media screen and (max-width: 549px) and (min-width: 480px) {
  .bar-chart-mobile1 {
    width: 100%;
    max-width: 440px;
  }
}
@media screen and (max-width: 479px) and (min-width: 420px) {
  .bar-chart-mobile2 {
    width: 100%;
    max-width: 380px;
  }
}
@media screen and (max-width: 419px) and (min-width: 350px) {
  .bar-chart-mobile3 {
    width: 100%;
    max-width: 300px;
  }
}
@media screen and (max-width: 349px) and (min-width: 285px) {
  .bar-chart-mobile4 {
    width: 100%;
    max-width: 240px;
  }
}
@media screen and (max-width: 284px) and (min-width: 230px) {
  .bar-chart-mobile5 {
    width: 100%;
    max-width: 180px;
  }
}
.pie-chart-web {
  width: 100%;
  max-width: 435px;
}
@media screen and (max-width: 1370px) and (min-width: 400px) {
  .pie-chart-mobile {
    width: 100%;
    max-width: 373px;
  }
}
.card-footer {
  padding: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.text-color-primary {
  color: #6200ea !important;
}
.text-decoration-none {
  text-decoration: none !important;
}
.margin-bottom-table {
 margin-bottom: 75px !important;
}
.card-text {
  line-height: 1.25rem;
  color: #000;
  font-weight: 500;
  letter-spacing: 0.0178571429em;
  font-size: 0.8rem;
  margin-bottom: 0;
  opacity: 0.6;
}
.progress {
  display: flex;
  height: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #eeeeee;
  border-radius: 0;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #6200ea;
  transition: width 0.6s ease;
}
#dataTable tr :nth-child(odd) {
  background-color: #6200ea;
  cursor: pointer;
  color: #ffffff;
}
#dataTable tr :nth-child(even) {
  background-color: green;
  color: #ffffff;
  cursor: pointer;
}
#dataTable tr :nth-child(odd):hover {
  background-color: lightgrey;
  cursor: pointer;
  color: black;
}
#dataTable tr :nth-child(even):hover {
  background-color: #eeeeee;
  color: black;
  cursor: pointer;
}

/* STORE INFORMATION CSS */

.store-main-content {
   top: 40px;
   left: 25px;
   right: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .store-main-content {
    top: 70px;
    left: 25px;
    right: 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .store-main-content {
    top: 220px;
    left: 10px;
    right: 10px
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .store-main-min-width {
    width: 400px;
  }
}
.store-alert-silver {
  background-color: lightgoldenrodyellow
}
.store-btn-primary-color {
  background-color: #4276a1 !important;
}
.store-alert-close-icon {
  position: absolute;
  top: 0px;
  padding: 5px 8px 5px 8px;
  right: 0px;
}
.store-table-margin {
    margin-bottom: 80px;
}
@media screen and (max-width: 540px) and (min-width: 280px) {
 .store-table-margin {
    margin-bottom: 80px;
}
}
.store-table-text-size {
  font-size: 12px;
  font-weight: 400;
  font-family: sans-serif;
}
.btn-primary-color {
  background-color: #4276a1 !important;
}
.text-primary-color {
  color: #4276a1;
}
.white-box {
  background: #ffffff;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.bg-color {
  background-color: #4276a1;
  color: #ffffff;
}
.border-primary-color {
  border: 1px solid #4276a1;
}
.control-label {
  font-size: 13px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.input-border {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.form-group.required .input-group:after {
  content: "*";
  padding-left: 3px;
  color: red;
}

/* BRAND CONFIGURATION CSS */

.brand-main-content {
   top: 40px;
   left: 25px;
   right: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .brand-main-content {
    top: 70px;
    left: 25px;
    right: 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .brand-main-content {
    top: 220px;
    left: 10px;
    right: 10px
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .brand-main-min-width {
    width: 400px;
  }
}
.brand-alert-silver {
  background-color: lightgoldenrodyellow
}
.brand-btn-primary-color {
  background-color: #4276a1 !important;
}
.brand-alert-close-icon {
  position: absolute;
  top: 0px;
  padding: 5px 8px 5px 8px;
  right: 0px;
}
.brand-bg-color {
  background-color: #4276a1 !important;
  color: #ffffff !important;
}
.brand-white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.brand-border-primary-color {
  border: 1px solid #4276a1 !important;
}
.brand-font {
  font-size: x-small !important;
}
.brand-font-size {
  font-size: 12px !important;
}
.form-group.required .input-group:after {
  content: "*";
  padding-left: 3px;
  color: red;
}
.brand-text-primary-color {
  color: #4276a1;
}

/* COLOR CONFIGURATION CSS */

.color-main-content {
   top: 40px;
   left: 25px;
   right: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .color-main-content {
    top: 70px;
    left: 25px;
    right: 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .color-main-content {
    top: 220px;
    left: 10px;
    right: 10px
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .color-main-min-width {
    width: 400px;
  }
}
.color-alert-silver {
  background-color: lightgoldenrodyellow
}
.color-btn-primary-color {
  background-color: #4276a1 !important;
}
.color-alert-close-icon {
  position: absolute;
  top: 0px;
  padding: 5px 8px 5px 8px;
  right: 0px;
}
.color-bg-color {
  background-color: #4276a1 !important;
  color: #ffffff !important;
}
.color-white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.color-border-primary-color {
  border: 1px solid #4276a1 !important;
}
.color-font {
  font-size: x-small !important;
}
.color-font-size {
  font-size: 12px !important;
}
.form-group.required .input-group:after {
  content: "*";
  padding-left: 3px;
  color: red;
}
.color-text-primary-color {
  color: #4276a1;
}

/* GARMENT CATEGORY CSS */

.gCategory-main-content {
   top: 40px;
   left: 25px;
   right: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .gCategory-main-content {
    top: 70px;
    left: 25px;
    right: 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .gCategory-main-content {
    top: 220px;
    left: 10px;
    right: 10px
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .gCategory-main-min-width {
    width: 400px;
  }
}
.gCategory-alert-silver {
  background-color: lightgoldenrodyellow
}
.gCategory-btn-primary-color {
  background-color: #4276a1 !important;
}
.gCategory-alert-close-icon {
  position: absolute;
  top: 0px;
  padding: 5px 8px 5px 8px;
  right: 0px;
}
.gCategory-bg-color {
  background-color: #4276a1 !important;
  color: #ffffff !important;
}
.gCategory-white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.gCategory-border-primary-color {
  border: 1px solid #4276a1 !important;
}
.gCategory-border-color {
  border-left: 1px solid #4276a1 !important;
  border-right: 1px solid #4276a1 !important;
}
.gCategory-border-color1 {
  border-left: 1px solid #4276a1 !important;
  border-right: 1px solid #4276a1 !important;
  border-bottom: 1px solid #4276a1 !important;
}
.gCategory-font {
  font-size: x-small !important;
}
.gCategory-font-size {
  font-size: 12px !important;
}
.form-group.required .input-group:after {
  content: "*";
  padding-left: 3px;
  color: red;
}
.gCategory-text-primary-color {
  color: #4276a1;
}

/* GARMENT DESCRIPTION CSS */

.gDescription-main-content {
   top: 40px;
   left: 25px;
   right: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .gDescription-main-content {
    top: 70px;
    left: 25px;
    right: 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .gDescription-main-content {
    top: 220px;
    left: 10px;
    right: 10px
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .gDescription-main-min-width {
    width: 400px;
  }
}
.gDescription-alert-silver {
  background-color: lightgoldenrodyellow
}
.gDescription-btn-primary-color {
  background-color: #4276a1 !important;
}
.gDescription-alert-close-icon {
  position: absolute;
  top: 0px;
  padding: 5px 8px 5px 8px;
  right: 0px;
}
.gDescription-bg-color {
  background-color: #4276a1 !important;
  color: #ffffff !important;
}
.gDescription-white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.gDescription-border-primary-color {
  border: 1px solid #4276a1 !important;
}
.gDescription-font {
  font-size: x-small !important;
}
.gDescription-font-size {
  font-size: 12px !important;
}
.form-group.required .input-group:after {
  content: "*";
  padding-left: 3px;
  color: red;
}
.form-check {
  min-height: 0rem !important;
  padding-left: 1.5em !important;
  margin-bottom: .25rem !important;
}
.gDescription-text-primary-color {
  color: #4276a1;
}

/* PRICE LIST COFIGURATION CSS */

.priceListDescription-main-content {
   top: 40px;
   left: 25px;
   right: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .priceListDescription-main-content {
    top: 70px;
    left: 25px;
    right: 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .priceListDescription-main-content {
    top: 220px;
    left: 10px;
    right: 10px
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .priceListDescription-main-min-width {
    width: 400px;
  }
}
.priceListDescription-alert-silver {
  background-color: lightgoldenrodyellow
}
.priceListDescription-btn-primary-color {
  background-color: #4276a1 !important;
}
.priceListDescription-alert-close-icon {
  position: absolute;
  top: 0px;
  padding: 5px 8px 5px 8px;
  right: 0px;
}
.priceListDescription-margin-bottom {
  margin-bottom: 60px !important;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .display-content {
    display: contents !important
 }
}
.priceListDescription-bg-color {
    background-color: #4276a1 !important;
    color: #ffffff !important;
}
.priceListDescription-text-size {
  font-size: 14px;
}
.priceListDescription-white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.priceListDescription-border-primary-color {
  border: 1px solid #4276a1 !important;
}
.priceListDescription-border-secondary-color {
  border: 1px solid lightgrey !important;
}
.priceListDescription-font {
  font-size: x-small !important;
}
.priceListDescription-font-size {
  font-size: 12px !important;
}
.priceListDescription-text-primary-color {
  color: #4276a1;
}
.priceListDescription-bg-color-secondary {
  background-color: whitesmoke !important;
}
.priceListDescription-bold {
  font-weight: bold !important;
  color: black !important;
}
.priceListDescription-w {
  width: 53px !important;
}
@media screen and (max-width: 800px) and (min-width: 200px) {
  .flex-row {
    display: flex !important;
    flex-wrap: wrap !important;
  }
}
.fileUpload input[type="file"] {
  display: none;
}
.priceListDescription-btns {
  background-color: #e3e3e3;
  color: #333;
  border: 1px solid #e6e6e6 !important;
  border-radius: 0px !important;
  padding: 2px !important;
  font-size: 16px;
}
.priceListDescription-border-r {
  border: 1px solid lightgrey !important;
  border-radius: 0px !important;
  margin-right: 5px !important;
}
.form-group.required .input-group:after {
  content: "*";
  padding-left: 3px;
  color: red;
}
.priceListDescription-input-groups {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
}
.priceListDescription-border-radius {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.priceListDescription-border-radius-input {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

/* GARMENTS LIST CONFIGURATION */

.gListConfiguration-main-content {
   top: 40px;
   left: 25px;
   right: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .gListConfiguration-main-content {
    top: 70px;
    left: 25px;
    right: 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .gListConfiguration-main-content {
    top: 220px;
    left: 10px;
    right: 10px
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .gListConfiguration-main-min-width {
    width: 400px;
  }
}
.gListConfiguration-btn-primary-color {
  background-color: #4276a1 !important;
}
.gListConfiguration-alert-close-icon {
  position: absolute;
  top: 0px;
  padding: 5px 8px 5px 8px;
  right: 0px;
}
.gListConfiguration-bg-color {
  background-color: #4276a1 !important;
  color: #ffffff;
}
.gListConfiguration-white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.gListConfiguration-border-primary-color {
  border: 1px solid #4276a1;
}
.gListConfiguration-input-groups-text {
  padding: 10px !important;
  font-size: 0.875rem !important;
  border-radius: 0.2rem !important;
}
.form-group.required .input-group:after {
  content: "*";
  padding-left: 3px;
  color: red;
}
.gListConfiguration-text-size {
  font-size: 14px;
}
.gListConfiguration-info-text-size {
  line-height: 6px !important;
  padding: 7px !important;
  padding-left: 0px !important;
  color: white !important;
  background: #4276a1 !important;
  font-size: 11px !important;
  font-weight: 400 !important;
  border-color: #4276a1 !important;
  outline: none !important;
}
.gListConfiguration-secondary-text-size {
  line-height: 6px !important;
  padding: 7px !important;
  padding-right: 0px !important;
  color: white !important;
  background: grey !important;
  font-size: 11px !important;
  font-weight: 400 !important;
  border-color: grey !important;
  outline: none !important;
}
.toggle-handle {
  position: sticky !important;
  top: -4px !important;
  left: -4px;
  right: -4px;
  border-radius: 50px !important;
  height: 0px !important;
  padding: 7px !important;
}
.gListConfiguration-text-sizes {
  font-size: 11px;
  font-weight: 400;
}
.gListConfiguration-margin {
  border-radius: 25px !important;
}
.gListConfiguration-text-primary-color {
  color: #4276a1;
}
.gListConfiguration-border-round {
  border-radius: 3px;
  padding: 7px;
}
.gListConfiguration-border-primary-color {
  border: 1px solid #4276a1 !important;
}
.gListConfiguration-font {
  font-size: x-small !important;
}
.gListConfiguration-card-height {
  background-color: #e9ecef !important;
  border: 1px solid white !important;
  height: 300px;
  overflow: scroll;
}
.gListConfiguration-img-responsive {
  background-color: white !important;
  margin: 5px !important;
  width: 51px !important;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.gListConfiguration-margin-bottom {
    margin-bottom: 60px !important;
}

/* GARMENT CHECKING STAFF CSS */

.garmentCheckingStaff-main-content {
   top: 40px;
   left: 25px;
   right: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .garmentCheckingStaff-main-content {
    top: 70px;
    left: 25px;
    right: 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .garmentCheckingStaff-main-content {
    top: 220px;
    left: 10px;
    right: 10px
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .garmentCheckingStaff-main-min-width {
    width: 400px;
  }
}
.garmentCheckingStaff-alert-silver {
  background-color: lightgoldenrodyellow
}
.garmentCheckingStaff-btn-primary-color {
  background-color: #4276a1 !important;
}
.garmentCheckingStaff-alert-close-icon {
  position: absolute;
  top: 0px;
  padding: 5px 8px 5px 8px;
  right: 0px;
}
.garmentCheckingStaff-bg-color {
  background-color: #4276a1 !important;
  color: #ffffff !important;
}
.garmentCheckingStaff-white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.garmentCheckingStaff-border-primary-color {
  border: 1px solid #4276a1 !important;
}
.garmentCheckingStaff-font {
  font-size: x-small !important;
}
.garmentCheckingStaff-font-size {
  font-size: 12px !important;
}
.form-group.required .input-group:after {
  content: "*";
  padding-left: 3px;
  color: red;
}
.garmentCheckingStaff-margin-bottom {
  margin-bottom: 60px;
}

/* HOLIDAYS CSS */

.holidays-main-content {
   top: 40px;
   left: 25px;
   right: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .holidays-main-content {
    top: 70px;
    left: 25px;
    right: 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .holidays-main-content {
    top: 220px;
    left: 10px;
    right: 10px
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .holidays-main-min-width {
    width: 400px;
  }
}
.holidays-alert-silver {
  background-color: lightgoldenrodyellow
}
.holidays-btn-primary-color {
  background-color: #4276a1 !important;
}
.holidays-alert-close-icon {
  position: absolute;
  top: 0px;
  padding: 5px 8px 5px 8px;
  right: 0px;
}
.holidays-bg-color {
  background-color: #4276a1 !important;
  color: #ffffff !important;
}
.holidays-white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.holidays-border-primary-color {
  border: 1px solid #4276a1 !important;
}
.holidays-font {
  font-size: x-small !important;
}
.holidays-font-size {
  font-size: 12px !important;
}
.form-group.required .input-group:after {
  content: "*";
  padding-left: 3px;
  color: red;
}
.holidays-margin-bottom {
  margin-bottom: 50px;
}
.weekholidays-margin-bottom {
    margin-bottom: 20px;
}


/* GARMENT RETURN CAUSE CSS */
.gReturnCause-main-content {
    top: 40px;
    left: 25px;
    right: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .gReturnCause-main-content {
    top: 70px;
    left: 25px;
    right: 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .gReturnCause-main-content {
    top: 220px;
    left: 10px;
    right: 10px
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .gReturnCause-main-min-width {
    width: 400px;
  }
}
.gReturnCause-alert-silver {
  background-color: lightgoldenrodyellow
}
.gReturnCause-btn-primary-color {
  background-color: #4276a1 !important;
}
.gReturnCause-alert-close-icon {
  position: absolute;
  top: 0px;
  padding: 5px 8px 5px 8px;
  right: 0px;
}
.gReturnCause-bg-color {
  background-color: #4276a1 !important;
  color: #ffffff !important;
}
.gReturnCause-white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.gReturnCause-border-primary-color {
  border: 1px solid #4276a1 !important;
}
.gReturnCause-font {
  font-size: x-small !important;
}
.gReturnCause-font-size {
  font-size: 12px !important;
}
.form-group.required .input-group:after {
  content: "*";
  padding-left: 3px;
  color: red;
}
.gReturnCause-text-primary-color {
  color: #4276a1;
}
.gReturnCause-margin-bottom {
  margin-bottom: 60px;
}

/* MEMBER PREFERENCES CSS */

.mPreferences-main-content {
    top: 40px;
    left: 25px;
    right: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .mPreferences-main-content {
    top: 70px;
    left: 25px;
    right: 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .mPreferences-main-content {
    top: 380px;
    left: 10px;
    right: 10px
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .mPreferences-main-min-width {
    width: 400px;
  }
}
.mPreferences-btn-primary-color {
  background-color: #4276a1 !important;
}
.mPreferences-alert-close-icon {
  position: absolute;
  top: 0px;
  padding: 5px 8px 5px 8px;
  right: 0px;
}
.mPreferences-bg-color {
  background-color: #4276a1 !important;
  color: #ffffff !important;
}
.mPreferences-white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.mPreferences-border-primary-color {
  border: 1px solid #4276a1 !important;
}
.mPreferences-font {
  font-size: x-small !important;
}
.mPreferences-font-size {
  font-size: 12px !important;
}
.form-group.required .input-group:after {
  content: "*";
  padding-left: 3px;
  color: red;
}
.mPreferences-text-primary-color {
  color: #4276a1;
}
.mPreferences-margin-bottom {
  margin-bottom: 60px;
}

/* MEMBER ADD NEW CSS */

.mAddNew-main-content {
    top: 40px;
    left: 25px;
    right: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .mAddNew-main-content {
    top: 70px;
    left: 25px;
    right: 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .mAddNew-main-content {
    top: 380px;
    left: 10px;
    right: 10px
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .mAddNew-main-min-width {
    width: 400px;
  }
}
.mAddNew-btn-primary-color {
  background-color: #4276a1 !important;
}
.mAddNew-alert-close-icon {
  position: absolute;
  top: 0px;
  padding: 5px 8px 5px 8px;
  right: 0px;
}
.mAddNew-bg-color {
  background-color: #4276a1 !important;
  color: #ffffff !important;
}
.mAddNew-white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.mAddNew-border-primary-color {
  border: 1px solid #4276a1 !important;
}
.mAddNew-font {
  font-size: x-small !important;
}
.mAddNew-font-size {
  font-size: 12px !important;
}
.form-group.required .input-group:after {
  content: "*";
  padding-left: 3px;
  color: red;
}
.mAddNew-text-primary-color {
  color: #4276a1;
}
.mAddNew-margin-bottom {
  margin-bottom: 60px;
}
.mAddNew-w {
  width: 100px !important;
}
@media screen and (max-width: 800px) and (min-width: 200px) {
  .mAddNew-width {
    width: 100% !important;
  }
}
.column {
  display: grid;
  align-items: flex-end;
}
.mAddNew-h {
  height: 60px;
}
.mAddNew-btn-text {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.mAddNew-btn-second {
  background-color: #e9ecef !important;
  color: black;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 2px !important;
  right: 1px;
  width: 20px;
}

/* PACKING STICKERS CSS */

.packingStickers-main-content {
    top: 40px;
    left: 25px;
    right: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .packingStickers-main-content {
    top: 70px;
    left: 25px;
    right: 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .packingStickers-main-content {
    top: 380px;
    left: 10px;
    right: 10px
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .packingStickers-main-min-width {
    width: 400px;
  }
}
.packingStickers-btn-primary-color {
  background-color: #4276a1 !important;
}
.packingStickers-alert-close-icon {
  position: absolute;
  top: 0px;
  padding: 5px 8px 5px 8px;
  right: 0px;
}
.packingStickers-bg-color {
  background-color: #4276a1 !important;
  color: #ffffff !important;
}
.packingStickers-white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.packingStickers-border-primary-color {
  border: 1px solid #4276a1 !important;
}
.packingStickers-font {
  font-size: 7px !important;
}
.packingStickers-font-size {
  font-size: 12px !important;
}
.packingStickers-text-size {
    font-size: 14px !important;
}
.packingStickers-bg-lightgrey {
  background-color: lightgrey;
  border-radius: 3px;
}
.form-control-width {
  width: auto !important;
}
.packingStickers-margin-bottom {
  margin-bottom: 60px;
}
.packingStickers-zindex {
  z-index: 0 !important;
}

/* STICKER PREVIEW CSS */

.stickerPreview-main-content {
    top: 40px;
    left: 25px;
    right: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .stickerPreview-main-content {
    top: 70px;
    left: 25px;
    right: 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .stickerPreview-main-content {
    top: 380px;
    left: 10px;
    right: 10px
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .stickerPreview-main-min-width {
    width: 400px;
  }
}
.stickerPreview-btn-primary-color {
  background-color: #4276a1 !important;
}
.stickerPreview-alert-close-icon {
  position: absolute;
  top: 0px;
  padding: 5px 8px 5px 8px;
  right: 0px;
}
.stickerPreview-bg-color {
  background-color: #4276a1 !important;
  color: #ffffff !important;
}
.stickerPreview-white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.stickerPreview-border-primary-color {
    border: 1px solid #4276a1 !important;
}
.stickerPreview-bg-lightgrey {
  background-color: grey;
  color: white;
  border-radius: 3px;
}
.stickerPreview-fontsize {
  font-size: x-small !important;
}
.stickerPreview-text-color {
  color: #4276a1 !important;
}
.stickerPreview-text-indent {
  text-indent: -500px;
}
.stickerPreview-bg-white-box {
  background: grey;
  border-radius: 5px;
  padding: 4px;
  height: fit-content;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.stickerPreview-border {
  border: 1px solid lightgrey !important;
}
.stickerPreview-font {
  font-size: 0px !important;
}
.stickerPreview-table-white-box {
  background: #ffffff;
  height: 400px;
  padding: 10px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.stickerPreview-textsize {
  font-size: 12px !important;
}
.stickerPreview-margin-bottom {
  margin-bottom: 60px;
}

/* STICKER PRINT CSS */

.stickerPrint-main-content {
    top: 40px;
    left: 10px;
    right: 10px;
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .stickerPrint-main-min-width {
    width: 400px;
  }
}
.stickerPrint-bg-color {
  background-color: #4276a1 !important;
  color: #ffffff !important;
}
.stickerPrint-white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.stickerPrint-border-primary-color {
  border: 1px solid #4276a1 !important;
}
.stickerPrint-sticker {
  width: 80px;
}
.stickerPrint-font {
  font-size: x-small;
  font-weight: 600;
}
.stickerPrint-fontsize {
  font-size: x-large;
  font-weight: bold;
}

/* STICKER CONFIGURATION CSS */

.stickerConfiguration-main-content {
    top: 40px;
    left: 25px;
    right: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .stickerConfiguration-main-content {
    top: 70px;
    left: 25px;
    right: 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .stickerConfiguration-main-content {
    top: 380px;
    left: 10px;
    right: 10px
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .stickerConfiguration-main-min-width {
    width: 400px;
  }
}
.stickerConfiguration-btn-primary-color {
  background-color: #4276a1 !important;
}
.stickerConfiguration-alert-close-icon {
  position: absolute;
  top: 0px;
  padding: 5px 8px 5px 8px;
  right: 0px;
}
.stickerConfiguration-bg-color {
  background-color: #4276a1;
  color: #ffffff;
}
.stickerConfiguration-white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.stickerConfiguration-border-primary-color {
  border: 1px solid #4276a1;
}
.stickerConfiguration-horizon-line {
  width: 100%;
  height: 2px;
  background: black;
}
.stickerConfiguration-text-sizes {
  font-size: 11px;
  font-weight: 400;
}
.stickerConfiguration-bg-color-1 {
  background: #e9ecef;
}
.stickerConfiguration-margin {
  border-radius: 25px !important;
}
.stickerConfiguration-info-text-size {
  line-height: 6px !important;
  padding: 7px !important;
  padding-left: 0px !important;
  color: white !important;
  background: #4276a1 !important;
  font-size: 11px !important;
  font-weight: 400 !important;
  border-color: #4276a1 !important;
  outline: none !important;
}
.stickerConfiguration-secondary-text-size {
  line-height: 6px !important;
  padding: 7px !important;
  padding-right: 0px !important;
  color: white !important;
  background: grey !important;
  font-size: 11px !important;
  font-weight: 400 !important;
  border-color: grey !important;
  outline: none !important;
}
.stickerConfiguration-card-box {
  background: lightgrey;
  width: fit-content;
  border: 2px solid grey;
  height: fit-content;
  margin-bottom: 20px;
  padding: 10px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.stickerConfiguration-font-size {
  font-size: 10px;
  font-weight: 400;
}
.stickerConfiguration-border-round {
  border-radius: 3px;
  padding: 7px;
}
.stickerConfiguration-padding {
  padding-top: 10px !important;
}
.stickerConfiguration-padding-top {
  padding-top: 13px !important;
}
.stickerConfiguration-text-size {
  font-size: 14px;
}
.stickerConfiguration-margin-bottom {
  margin-bottom: 60px;
}

/* ORDER CONFIGURATION CSS */

.orderConfiguration-main-content {
    top: 40px;
    left: 25px;
    right: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .orderConfiguration-main-content {
    top: 70px;
    left: 25px;
    right: 10px;
  }
}
@media screen and (max-width: 540px) and (min-width: 280px) {
  .orderConfiguration-main-content {
    top: 380px;
    left: 10px;
    right: 10px
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .orderConfiguration-main-min-width {
    width: 400px;
  }
}
.orderConfiguration-btn-primary-color {
  background-color: #4276a1 !important;
}
.orderConfiguration-alert-close-icon {
  position: absolute;
  top: 0px;
  padding: 5px 8px 5px 8px;
  right: 0px;
}
.orderConfiguration-text-sizes {
  font-size: 11px;
  font-weight: 400;
  font-family: sans-serif;
}
.orderConfiguration-text-primary-color {
  color: #4276a1;
}
.orderConfiguration-form-select-zindex {
    z-index: 0 !important
}
.orderConfiguration-white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.orderConfiguration-bg-color {
  background-color: #4276a1;
  color: #ffffff;
}
.orderConfiguration-border-primary-color {
  border: 1px solid #4276a1;
}
.orderConfiguration-border-round {
  border-radius: 3px;
  padding: 7px;
}
.orderConfiguration-input-border {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.orderConfiguration-line-height {
  line-height: 0px !important;
}
.orderConfiguration-text-danger-color {
  color: red;
  font-weight: 400;
}
.orderConfiguration-info-text-size {
  line-height: 6px !important;
  padding: 10px !important;
  padding-left: 0px !important;
  color: white !important;
  background: #4276a1 !important;
  font-size: 11px !important;
  font-weight: 400 !important;
  border-color: #4276a1 !important;
  outline: none !important;
}
.orderConfiguration-secondary-text-size {
  line-height: 6px !important;
  padding: 10px !important;
  padding-right: 0px !important;
  color: white !important;
  background: grey !important;
  font-size: 11px !important;
  font-weight: 400 !important;
  border-color: grey !important;
  outline: none !important;
}
.orderConfiguration-margin {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 8px;
  border-radius: 25px !important;
}
.orderConfiguration-margin-bottom {
  margin-bottom: 60px;
}