html {
    height: 100vh;
    overflow: hidden;
}
.bg {
  background-color: #ffffff;
}
.bshadow {
  border-radius: 14px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.hideVerticalScrollbar {
    overflow-y: hidden !important;
}
.loginText {
    --tw-text-opacity: 1;
    color: rgba(57, 70, 87, var(--tw-text-opacity));
    opacity: 0.9;
    font-size: 24px;
    font-weight: 700;
    font-family: Poppins bold;
    justify-items: center;
}
.emailTitle {
  --tw-text-opacity: 1;
  color: rgba(103, 122, 142, var(--tw-text-opacity));
  font-size: 14px;
  font-weight: 500;
  font-family: Open Sans SemiBold;
}
.input {
  --tw-text-opacity: 1;
  color: rgba(57, 70, 87, var(--tw-text-opacity));
  padding: 12px;
  font-size: 14px;
  height: 42px;
  font-weight: 500;
  font-family: Open Sans;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  border: 1px solid #dee2e6;
}
.forgetText {
  color: rgba(56, 140, 224, var(--tw-text-opacity));
  --tw-text-opacity: 1;
  font-size: 12px;
  font-weight: 500;
  font-family: Open Sans SemiBold;
  cursor: pointer;
}
.loginButton {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  font-size: 16px;
  height: 42px;
  cursor: pointer;
  font-family: Open Sans SemiBold t;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: rgba(56, 140, 224, var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
}
.width {
  width: 75%;
  height: 75%;
}
.carousel .carousel-indicators li {
  position: relative;
  top: 50px;
  width: 10px;
  height: 10px;
  --tw-border-opacity: 1;
  border: 1px solid rgba(77, 148, 219, var(--tw-border-opacity));
  border-color: rgba(77, 148, 219, var(--tw-border-opacity));
  border-radius: 100%;
}
.carousel .carousel-indicators li.active {
  position: relative;
  top: 50px;
  width: 10px;
  height: 10px;
  --tw-border-opacity: 1;
  border: 1px solid rgba(77, 148, 219, var(--tw-border-opacity));
  background-color: rgba(77, 148, 219, var(--tw-border-opacity));
  border-color: rgba(77, 148, 219, var(--tw-border-opacity));
  border-radius: 100%;
}
.carouselTitle {
  --tw-text-opacity: 1;
  color: rgba(57, 70, 87, var(--tw-text-opacity));
  opacity: 0.9;
  font-size: 20px;
  font-weight: 600;
  font-family: Open Sans SemiBold;
}
.carousalSubTitle {
  --tw-text-opacity: 1;
  color: rgba(149, 158, 162, var(--tw-text-opacity));
  opacity: 0.9;
  font-size: 12px;
  font-weight: 600;
  font-family: Open Sans SemiBold;
}
.horizonLine {
  height: 12px;
  border-right: 1px solid grey;
}
.footerColor {
  color: #7f8fa4;
  font-size: 10px;
}
.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
  position: absolute;
  width: auto;
  top: 33.5px;
  font-size: 16px;
  right: -10px;
}
