.content {
    top: 80px;
    left: 250px;
    right: 10px;
  }
  @media screen and (max-width: 800px) and (min-width: 200px) {
    .home-content {
      left: 10px;
      right: 10px;
    }
  }
  @media screen and (max-width: 319px) and (min-width: 280px) {
    .main-min-width {
      width: 260px;
    }
  }
  .bg-color {
    background-color: #4276a1 !important;
    color: #ffffff !important;
  }
  .btn-primary-color {
    background-color: #4276a1 !important;
  }
  .white-box {
    background: #ffffff;
    height: fit-content;
    margin-bottom: 20px;
    --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
      var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  }
  .border-primary-color {
    border: 1px solid #4276a1 !important;
  }
  .border-color {
    border-left: 1px solid #4276a1 !important;
    border-right: 1px solid #4276a1 !important;
  }
  .border-color1 {
    border-left: 1px solid #4276a1 !important;
    border-right: 1px solid #4276a1 !important;
    border-bottom: 1px solid #4276a1 !important;
  }
  .font {
    font-size: x-small !important;
  }
  .font-size {
    font-size: 12px !important;
  }
  .form-group.required .input-group:after {
    content: "*";
    padding-left: 3px;
    color: red;
  }
  .text-primary-color {
    color: #4276a1;
  }
  