.content {
  top: 80px;
  left: 250px;
  right: 10px;
}
@media screen and (max-width: 800px) and (min-width: 200px) {
  .home-content {
    left: 10px;
    right: 10px;
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .main-min-width {
    width: 260px;
  }
}
.bg-color {
  background-color: #4276a1 !important;
  color: #ffffff !important;
}
.btn-primary-color {
  background-color: #4276a1 !important;
}
.white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.border-primary-color {
  border: 1px solid #4276a1 !important;
}
.font-size {
  font-size: 10px !important;
  font-weight: 600;
}
.font {
  font-size: 10px !important;
  font-weight: 500 !important;
  color: grey !important;
}
.form-group.required .input-group:after {
  content: "*";
  padding-left: 3px;
  color: red;
}
.column {
  display: grid;
  align-items: flex-end;
}
.row-column {
  display: grid;
  align-items: center;
}
.w {
  width: 100px !important;
}
@media screen and (max-width: 800px) and (min-width: 200px) {
  .width {
    width: 100% !important;
  }
}
.h {
  height: 60px;
}
.btn-text {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.btn-second {
  background-color: #e9ecef !important;
  color: black;
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transform: rotate(45deg);
  background-color: #e9ecef !important;
}
.half-circle {
  width: 200px;
  height: 200px;
  border: 5px solid;
  border-bottom: 5px solid grey;
  border-top: 5px solid hotpink;
  border-left: 5px solid indianred;
  border-right: 5px solid lawngreen;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.min-text {
  margin-left: 45px;
  margin-top: -8px;
  font-size: 12px;
  font-weight: 400;
}
