.content {
  top: 80px;
  left: 250px;
  right: 10px;
}
@media screen and (max-width: 800px) and (min-width: 200px) {
  .home-content {
    left: 10px;
    right: 10px;
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .main-min-width {
    width: 260px;
  }
}
.btn-primary-color {
  background-color: #4276a1 !important;
}
.bg-color {
  background-color: #4276a1 !important;
  color: #ffffff !important;
}
.bg-color-secondary {
  background-color: #808c9e !important;
}
.white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.font-size {
  font-size: 14px !important;
}
.font-size-bold {
  font-size: 12px !important;
  font-weight: bold !important;
}
.font-label {
  font-size: 12px !important;
  font-weight: bold !important;
}
.font-order {
  font-size: 12px !important;
  font-weight: 400 !important;
}
.h {
  height: 32px !important;
}
.height {
  height: 27px !important;
}
.bg-light {
  background-color: #e9ecef !important;
  color: grey !important;
}
.horizon-line {
  padding: 0.6px !important;
  margin-left: 8px !important;
  width: 96% !important;
  background-color: #e9ecef !important;
}
.bg-color-white {
  font-size: 10px !important;
  color: black !important;
  background-color: white !important;
  border: 1px solid lightgrey !important;
}
.bg-color-light {
  font-size: 10px !important;
  color: black !important;
  background-color: #e9ecef !important;
  border: 1px solid lightgrey !important;
}
.form-control-time {
  display: flex !important;
  align-items: center !important;
  font-size: 8px !important;
}
.font-brand {
  font-size: 11px !important;
}
