.content {
  top: 80px;
  left: 250px;
  right: 10px;
}
@media screen and (max-width: 800px) and (min-width: 200px) {
  .home-content {
    left: 10px;
    right: 10px;
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .main-min-width {
    width: 260px;
  }
}
.bg-color {
  background-color: #4276a1 !important;
  color: #ffffff !important;
}
.btn-primary-color {
  background-color: #4276a1 !important;
}
.white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.border-primary-color {
  border: 1px solid #4276a1 !important;
}
.border-secondary-color {
  border: 1px solid lightgrey !important;
}
.font {
  font-size: x-small !important;
}
.font-size {
  font-size: 12px !important;
}
.text-primary-color {
  color: #4276a1;
}
.bg-color-secondary {
  background-color: whitesmoke !important;
}
.bold {
  font-weight: bold !important;
  color: black !important;
}
.w {
  width: 53px !important;
}
@media screen and (max-width: 800px) and (min-width: 200px) {
  .flex-row {
    display: flex !important;
    flex-wrap: wrap !important;
  }
}
.fileUpload input[type="file"] {
  display: none;
}
.btns {
  background-color: #e3e3e3;
  color: #333;
  border: 1px solid #e6e6e6 !important;
  border-radius: 0px !important;
  padding: 2px !important;
  font-size: 16px;
}
.border-r {
  border: 1px solid lightgrey !important;
  border-radius: 0px !important;
  margin-right: 5px !important;
}
.form-group.required .input-group:after {
  content: "*";
  padding-left: 3px;
  color: red;
}
.input-groups {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
}
.border-radius {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.border-radius-input {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
