.content {
  top: 80px;
  left: 250px;
  right: 10px;
}
@media screen and (max-width: 800px) and (min-width: 200px) {
  .home-content {
    left: 10px;
    right: 10px;
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .main-min-width {
    width: 260px;
  }
}
.bshadow {
  border-radius: 5px;
  border: 1px solid #4276a1;
  --tw-shadow: 0 0 0.5em #e2e2e2;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.bg-color {
  background-color: #4276a1;
  color: #ffffff;
}
.btn-primary-color {
  background-color: #4276a1 !important;
}
.bg-color-grey {
  background: #f7f5f5 !important;
}
.white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.border-primary-color {
  border: 1px solid #4276a1;
}
