.content {
  top: 80px;
  left: 250px;
  right: 10px;
}
@media screen and (max-width: 800px) and (min-width: 200px) {
  .home-content {
    left: 10px;
    right: 10px;
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .main-min-width {
    width: 260px;
  }
}
.bg-color {
  background-color: #4276a1 !important;
  color: #ffffff !important;
}
.btn-primary-color {
  background-color: #4276a1 !important;
}
.white-box {
  background: #ffffff;
  height: fit-content;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.border-primary-color {
  border: 1px solid #4276a1 !important;
}
.bg-lightgrey {
  background-color: grey;
  color: white;
  border-radius: 3px;
}
.fontsize {
  font-size: x-small !important;
}
.text-color {
  color: #4276a1 !important;
}
.text-indent {
  text-indent: -500px;
}
.bg-white-box {
  background: grey;
  border-radius: 5px;
  padding: 4px;
  height: fit-content;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.border {
  border: 1px solid lightgrey !important;
}
.font {
  font-size: 0px !important;
}
.table-white-box {
  background: #ffffff;
  height: 400px;
  padding: 10px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.textsize {
  font-size: 12px !important;
}
