.content {
  top: 80px;
  left: 250px;
  right: 10px;
}
@media screen and (max-width: 800px) and (min-width: 200px) {
  .home-content {
    left: 10px;
    right: 10px;
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .main-min-width {
    width: 260px;
  }
}
.bg-color {
  background-color: #4276a1;
  color: #ffffff;
}
.btn-primary-color {
  background-color: #4276a1 !important;
}
.white-box {
  background: #ffffff;
  height: fit-content;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.border-primary-color {
  border: 1px solid #4276a1;
}
.horizon-line {
  width: 100%;
  height: 2px;
  background: black;
}
.text-sizes {
  font-size: 11px;
  font-weight: 400;
}
.bg-color-1 {
  background: #e9ecef;
}
.margin {
  border-radius: 25px !important;
}
.info-text-size {
  line-height: 6px !important;
  padding-left: 0px !important;
  color: white !important;
  background: #4276a1 !important;
  font-size: 11px !important;
  font-weight: 400 !important;
  border-color: #4276a1 !important;
  outline: none !important;
}
.secondary-text-size {
  line-height: 6px !important;
  padding-right: 0px !important;
  color: white !important;
  background: grey !important;
  font-size: 11px !important;
  font-weight: 400 !important;
  border-color: grey !important;
  outline: none !important;
}
.toggle-handle {
  position: sticky !important;
  top: -4px !important;
  left: -10px;
  right: -10px;
  border-radius: 50px !important;
  height: 0px !important;
  padding: 7px !important;
}
.card-box {
  background: lightgrey;
  width: fit-content;
  border: 2px solid grey;
  height: fit-content;
  margin-bottom: 20px;
  padding: 10px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.font-size {
  font-size: 10px;
  font-weight: 400;
}
.border-round {
  border-radius: 3px;
  padding: 7px;
}
