.content {
  top: 80px;
  left: 250px;
  right: 20px;
}
@media screen and (max-width: 800px) and (min-width: 200px) {
  .home-content {
    left: 0px;
    right: 0px;
  }
}
@media screen and (max-width: 319px) and (min-width: 280px) {
  .main-min-width {
    width: 280px;
  }
}
.text-size {
  font-size: 10px;
  font-weight: 400;
  font-family: sans-serif;
}
.btn-primary-color {
  background-color: #4276a1 !important;
}
.text-primary-color {
  color: #4276a1;
}
.white-box {
  background: #ffffff;
  margin-bottom: 20px;
  --tw-shadow: 0 12px 34px 0 rgba(57, 67, 87, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.bg-color {
  background-color: #4276a1;
  color: #ffffff;
}
.border-primary-color {
  border: 1px solid #4276a1;
}
.control-label {
  font-size: 13px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.input-border {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.form-group.required .input-group:after {
  content: "*";
  padding-left: 3px;
  color: red;
}
