﻿@model FLS.LC.Web.Models.UserModel
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/lcMain.css" asp-append-version="true" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <div class="overflow-auto">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="navbar navbar-expand-lg">
                        <div class="col-sm-3 d-flex flex-wrap justify-content-start align-items-center">
                            <a class="navbar-brand" href="#">
                                <img src="~/assests/logo.png" width="150" height="50" alt="message" />
                            </a>
                        </div>
                        <div class="col-sm-9"></div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="col-md-12 my-5">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4 m-3 p-4 h-50 bshadow">
                    <div class="text-center">
                        <img class="logout-image" src="~/assests/logo2.png" alt="login" />
                    </div>
                    <div class="mx-auto">
                        <div class="d-block text-center mx-auto">
                            <img class="m-3" src="~/assests/logout-success.svg" alt="logout" />
                        </div>
                        <div class="logout-login">
                            <label class="mb-2">All done ! Have a good time &#128522; </label>
                            <a class="logout" href="@Url.Action("Login", "Login")"><label>Go back to log in</label></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 margin-b d-flex justify-content-center">
                    <div id="slider" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="width" src="~/assests/blue1.jpeg">
                                <div class="d-flex flex-column mb-2 mt-4">
                                    <label class="text-center carouselTitle">Letter Creator Suite</label>
                                    <label class="text-center carousalSubTitle">Generate Best in class letters</label>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="width" src="~/assests/laundry.gif">
                                <div class="d-flex flex-column mb-2 mt-4">
                                    <label class="text-center carouselTitle">Attendance Through Facial Recognition</label>
                                    <label class="text-center carousalSubTitle">Safe touch-less entry</label>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="width" src="~/assests/9.png">
                                <div class="d-flex flex-column mb-2 mt-4">
                                    <label class="text-center carouselTitle">Simplify Communication</label>
                                    <label class="text-center carousalSubTitle">
                                        communicate to employees via email,
                                        newsfeed
                                    </label>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="width" src="~/assests/blue2.jpeg">
                                <div class="d-flex flex-column mb-2 mt-4">
                                    <label class="text-center carouselTitle">Tasks and Checklists</label>
                                    <label class="text-center carousalSubTitle">
                                        Automate and streamline your daily tasks
                                    </label>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="width" src="~/assests/Wash-Square.gif">
                                <div class="d-flex flex-column mb-2 mt-4">
                                    <label class="text-center carouselTitle">Anytime, Anywhere Access</label>
                                    <label class="text-center carousalSubTitle">
                                        Employees self service at your fingertips
                                    </label>
                                </div>
                            </div>
                        </div>
                        <ol class="carousel-indicators">
                            <li data-target="#slider" data-slide-to="0" class="active"></li>
                            <li data-target="#slider" data-slide-to="1"></li>
                            <li data-target="#slider" data-slide-to="2"></li>
                            <li data-target="#slider" data-slide-to="3"></li>
                            <li data-target="#slider" data-slide-to="4"></li>
                        </ol>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <nav class="navbar fixed-bottom navbar-dark bg justify-content-center">
            <Span class="m-1 footerColor">
                <i class="fa fa-copyright mr-1" aria-hidden="true"></i>Excel Laundry
                Services.com
            </Span>
            <span class="horizonLine"></span>
            <a class="text-center m-1 footerColor" href="#">Contact Us</a>
            <span class="horizonLine"></span>
            <a class="text-center m-1 footerColor" href="#">Privacy Policy</a>
            <span class="horizonLine"></span>
            <a class="text-center m-1 footerColor" href="#">Terms of service</a>
        </nav>
    </div>
</body>
</html>
