﻿@model FLS.LC.Web.Models.Master.GarmentRemarkResponseDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/lc.css" asp-append-version="true" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <div>
        <div class="position-absolute gDescription-main-min-width gDescription-main-content">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="gDescription-white-box gDescription-border-primary-color">
                            <div class="gDescription-bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                <label class="mb-0 gDescription-font-size">Descriptions/Remarks/Defects</label>
                            </div>
                            <form method="get" id="garmentRemarks" enctype="multipart/form-data" asp-controller="GarmentsRemarks" asp-action="GarmentsRemarks" class="p-3" novalidate autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group required d-flex my-2">
                                            <div class="input-group input-group-sm">
                                                <label class="input-group-text gDescription-font-size">Description</label>
                                                @Html.TextBoxFor(m => m.GreRemarkDescription, new { id = "GreRemarksDescription", @class = "form-control", @placeholder = "Kindly Enter Descriptions/Remarks/Defects" })
                                            </div>
                                            <i class="fa fa-info-circle pl-1 pt-1 gDescription-text-primary-color"
                                               data-bs-toggle="tooltip"
                                               title='Create list of defects/conditions/remarks to be used at the time of order generation to ensure right treatment for the garment and also limit the risk involved in the process like: garment faded, button loose, color bleed, frayed, sensitive garment, in box packing, flat ironing, no starch, hard starch, no hanger'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12 d-flex flex-wrap justify-content-start">
                                            <button id="btnOperation" type="button" onclick="PostGarmentRemark()" class="btn btn-info gDescription-font my-2 mr-2">
                                                <i class="fa fa-floppy-o"></i>
                                                Create
                                            </button>
                                            <button id="btnDelete" type="button" class="btn btn-info gDescription-font my-2 ml-2" data-toggle="modal"
                                                    data-target="#exampleModal">
                                                <i class="fa fa-trash"></i>
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-sm">
                                <thead class="bg-secondary">
                                    <tr>
                                        <th class="text-left text-white">
                                            <div class="form-check d-flex align-items-center">
                                                <input class="form-check-input gDescription-font-size" type="checkbox">
                                                <label class="form-check-label mt-1 gDescription-font-size">
                                                    Select All
                                                </label>
                                            </div>
                                        </th>
                                        <th class="text-center text-white gDescription-font-size">Id</th>
                                        <th class="text-center text-white gDescription-font-size">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.lstGarmentRemarks == null || Model.lstGarmentRemarks.Count == 0 || Model.ShowSuccessAlert == false)
                                    {
                                        <tr style="text-align:center">
                                            <td>
                                                <label> <b> No Registered Garment Remarks Found.... </b> </label>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var garmentRemark in Model.lstGarmentRemarks)
                                        {
                                            <tr class="border">
                                                <td class="text-center"><a class="btnselect btn btn-primary">Select</a></td>
                                                <td class="text-center">@garmentRemark.Gre_ID</td>
                                                <td class="text-center">@garmentRemark.GreRemarkDescription</td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <input type="hidden" id="garmentRemarkDescriptionOldValue" />
                            <input type="hidden" id="garmentRemarkId" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        function PostGarmentRemark() {
            var garmentRemarkDescriptionOldValue = $("#garmentRemarkDescriptionOldValue").val();
            var garmentRemarkDescriptionNewValue = $("#GreRemarksDescription").val();
            var garmentRemarkId = $("#garmentRemarkId").val();
            var model = {
                'garmentRemarkDescriptionOldValue': garmentRemarkDescriptionOldValue.trim(),
                'garmentRemarkDescriptionNewValue': garmentRemarkDescriptionNewValue.trim(),
                'garmentRemarkId': garmentRemarkId
            }
            $.ajax({
                url: '@Url.Action("PostGarmentsRemarks", "GarmentsRemarks")',
                type: "POST",
                data: model,
                success: function (result) {
                    if (result == "true") {
                        $("#garmentRemarks").submit();
                    }
                }
            });
        }

        $(document).ready(function () {
        });
        $('.btnselect').click(function (e) {
            $("#btnOperation").html('Update');
            var currentRow = $(this).closest("tr");
            var selectedGarmentDescription = currentRow.find("td:eq(2)").text();
            var selectedGarmentId = currentRow.find("td:eq(1)").text();
            $("#garmentRemarkDescriptionOldValue").val(selectedGarmentDescription);
            $("#garmentRemarkId").val(selectedGarmentId);
            $("#GreRemarksDescription").val(selectedGarmentDescription);
        });
    </script>
</body>
</html>
