﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/GarmentSelection.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <div>
        <div class="position-absolute content main-min-width home-content mb-5 pb-5">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box border-primary-color">
                            <div class="bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                <label class="mb-0 text-size">
                                    Edit Default Price List: Select the garment and mention
                                    the cost of service in the PRICE field. This price would be fetched automatically
                                    while generating order.
                                </label>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="col-sm-12 p-0 pt-2">
                                    <div class="tab-box">
                                        <div class="tabbable d-flex justify-content-center"
                                             style="border-bottom: 1px solid #dee2e6;">
                                            <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                                                <li><a class="nav-link active" data-toggle="tab">Dry Cleaning</a></li>
                                                <li><a class="nav-link" data-toggle="tab">Laundry</a> </li>
                                                <li><a class="nav-link" data-toggle="tab">Ironing Only</a> </li>
                                                <li><a class="nav-link" data-toggle="tab">Alteration Only</a> </li>
                                                <li><a class="nav-link" data-toggle="tab">Leather Care</a> </li>
                                                <li><a class="nav-link" data-toggle="tab">Mending Only</a> </li>
                                                <li><a class="nav-link" data-toggle="tab">Wash and Iron</a></li>
                                                <li><a class="nav-link" data-toggle="tab">Wash and Fold</a> </li>
                                                <li><a class="nav-link" data-toggle="tab">Iron Only</a> </li>
                                                <li><a class="nav-link" data-toggle="tab">On Hanger</a> </li>
                                                <li><a class="nav-link" data-toggle="tab">Softner</a> </li>
                                                <li><a class="nav-link" data-toggle="tab">Freshner</a> </li>
                                            </ul>
                                            <button style="display: none;" id="slideLeft" type="button"
                                                    class="btn bg-light-grey text-white left-paddle paddle">
                                                <i class="fa fa-arrow-left bg-dark fontsize"></i>
                                            </button>
                                            <button id="slideRight" type="button"
                                                    class="btn bg-light-grey text-white right-paddle paddle">
                                                <i class="fa fa-arrow-right bg-dark fontsize"></i>
                                            </button>
                                        </div>
                                        <script>
    const buttonRight = document.getElementById('slideRight');
                                            const buttonLeft = document.getElementById('slideLeft');
                                            buttonRight.onclick = function () {
                                                document.getElementById('nav-tab').scrollLeft += 185;
                                                document.getElementById('slideLeft').style.display = "block";
                                                document.getElementById('slideRight').style.display = "none";
                                            };
                                            buttonLeft.onclick = function () {
                                                document.getElementById('nav-tab').scrollLeft -= 200;
                                                document.getElementById('slideRight').style.display = "block";
                                                document.getElementById('slideLeft').style.display = "none";
                                            };</script>
                                    </div>
                                </div>
                                <div class="col-sm-10 p-0">
                                    <div class="tab-box">
                                        <div class="tabbable tabbable-border d-flex justify-content-center">
                                            <ul class="nav nav-tabs" id="nav-tab" role="tablist"
                                                style="overflow-x: scroll;">
                                                <li>
                                                    <a class="nav-link active" href="#men" data-toggle="tab">Men</a>
                                                </li>
                                                <li><a class="nav-link" href="#women" data-toggle="tab">Women</a> </li>
                                                <li><a class="nav-link" href="#kids" data-toggle="tab">Kids</a> </li>
                                                <li>
                                                    <a class="nav-link" href="#household"
                                                       data-toggle="tab">Household</a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" href="#institutional"
                                                       data-toggle="tab">Institutional</a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" href="#others" data-toggle="tab">others</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <div class="input-group input-group-sm my-2">
                                                        <i class="input-group-text fa fa-search p-2"></i>
                                                        <input type="text" class="form-control"
                                                               placeholder="Search Garment to add" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-content p-2">
                                            <div class="tab-pane fade show active" id="men">
                                                <div class="d-flex flex-wrap">
                                                    <div class="col-sm-1 mx">
                                                        <input type="text" class="form-control-image">
                                                        <img id="achkan" class="img-responsive p-2"
                                                             src="/assests/achkan.png" width="75" height="75" />
                                                        <label class="fontsize">Achkan</label>
                                                    </div>
                                                    <div class="col-sm-1 mx">
                                                        <input type="text" class="form-control-image">
                                                        <img id="achkankids" class="img-responsive p-2"
                                                             src="/assests/AchkanKids.png" width="75" height="75" />
                                                        <label class="fontsize">Achkan Kids</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="women">
                                                <div class="d-flex flex-wrap">
                                                    <div class="col-sm-1 mx">
                                                        <input type="text" class="form-control-image">
                                                        <img id="achkan-women" class="img-responsive p-2"
                                                             src="/assests/achkan.png" width="75" height="75" />
                                                        <label class="fontsize">Achkan</label>
                                                    </div>
                                                    <div class="col-sm-1 mx">
                                                        <input type="text" class="form-control-image">
                                                        <img id="achkankids-women" class="img-responsive p-2"
                                                             src="/assests/AchkanKids.png" width="75" height="75" />
                                                        <label class="fontsize">Achkan Kids</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="kids">
                                                <div class="d-flex flex-wrap">
                                                    <div class="col-sm-1 mx">
                                                        <input type="text" class="form-control-image">
                                                        <img id="achkan-kids" class="img-responsive p-2"
                                                             src="/assests/achkan.png" width="75" height="75" />
                                                        <label class="fontsize">Achkan</label>
                                                    </div>
                                                    <div class="col-sm-1 mx">
                                                        <input type="text" class="form-control-image">
                                                        <img id="achkankids-kids" class="img-responsive p-2"
                                                             src="/assests/AchkanKids.png" width="75" height="75" />
                                                        <label class="fontsize">Achkan Kids</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="household">
                                                <div class="d-flex flex-wrap">
                                                    <div class="col-sm-1 mx">
                                                        <input type="text" class="form-control-image">
                                                        <img id="achkan-household" class="img-responsive p-2"
                                                             src="/assests/achkan.png" width="75" height="75" />
                                                        <label class="fontsize">Achkan</label>
                                                    </div>
                                                    <div class="col-sm-1 mx">
                                                        <input type="text" class="form-control-image">
                                                        <img id="achkankids-household" class="img-responsive p-2"
                                                             src="/assests/AchkanKids.png" width="75" height="75" />
                                                        <label class="fontsize">Achkan Kids</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="institutional">
                                                <div class="d-flex flex-wrap">
                                                    <div class="col-sm-1 mx">
                                                        <input type="text" class="form-control-image">
                                                        <img id="achkan-institutional" class="img-responsive p-2"
                                                             src="/assests/achkan.png" width="75" height="75" />
                                                        <label class="fontsize">Achkan</label>
                                                    </div>
                                                    <div class="col-sm-1 mx">
                                                        <input type="text" class="form-control-image">
                                                        <img id="achkankids-institutional" class="img-responsive p-2"
                                                             src="/assests/AchkanKids.png" width="75" height="75" />
                                                        <label class="fontsize">Achkan Kids</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="others">
                                                <div class="d-flex flex-wrap">
                                                    <div class="col-sm-1 mx">
                                                        <input type="text" class="form-control-image">
                                                        <img id="achkan-others" class="img-responsive p-2"
                                                             src="/assests/achkan.png" width="75" height="75" />
                                                        <label class="fontsize">Achkan</label>
                                                    </div>
                                                    <div class="col-sm-1 mx">
                                                        <input type="text" class="form-control-image">
                                                        <img id="achkankids-others" class="img-responsive p-2"
                                                             src="/assests/AchkanKids.png" width="75" height="75" />
                                                        <label class="fontsize">Achkan Kids</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="d-flex flex-column my-3">
                                        <label class="mb-0 text-center font-quantity">Quantity</label>
                                        <div class="input-group input-group-sm">
                                            <i class="fa fa-minus input-group-text p-2 bg-secondary text-white"
                                               data-decrease></i>
                                            <input data-value type="text" class="form-control text-center" value="1" />
                                            <i class="fa fa-plus input-group-text p-2 bg-secondary text-white"
                                               data-increase></i>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column align-items-center">
                                        <label class="mb-0 text-center font-quantity">Price</label>
                                        <div class="input-group input-group-sm w-50">
                                            <input type="text" class="form-control text-center font-size-input-price"
                                                   placeholder="111">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 image-sm">
                                        <img style="display: none;" id="achkan-img" class="img-responsive p-2"
                                             src="/assests/achkan.png" width="75" height="75" />
                                        <label style="display: none;" id="achkan-label" class="fontsize">Achkan</label>
                                        <img style="display: none;" id="achkankids-img" class="img-responsive p-2"
                                             src="/assests/AchkanKids.png" width="75" height="75" />
                                        <label style="display: none;" id="achkankids-label" class="fontsize">
                                            Achkan
                                            Kids
                                        </label>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-sm bg-color-light w-100 my-2"
                                                data-toggle="modal" data-target="#topupService">
                                            Top Up Service
                                        </button>
                                        <div class="modal fade" id="topupService">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header flex-wrap align-items-center p-2">
                                                        <h5 class="modal-title">
                                                            Top Up Service
                                                        </h5>
                                                        <button type="button" class="close" style="outline: none;"
                                                                data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">
                                                                ×
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="row">
                                                                        <div class="col-sm-3 my-2">
                                                                            <button type="button"
                                                                                    class="btn btn-sm btn-secondary text-white brand-font-size d-flex justify-content-between align-items-center w-100">
                                                                                <label class="mb-0 text-white me-2">Alteration</label>
                                                                                <input type="text"
                                                                                       class="w-50 text-center"
                                                                                       placeholder="11" />
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-sm-3 my-2">
                                                                            <button type="button"
                                                                                    class="btn btn-sm btn-secondary text-white brand-font-size d-flex justify-content-between align-items-center w-100">
                                                                                <label class="mb-0 text-white me-2">
                                                                                    On
                                                                                    Hanger
                                                                                </label>
                                                                                <input type="text"
                                                                                       class="w-50 text-center"
                                                                                       placeholder="11" />
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex flex-wrap justify-content-end align-items-center">
                                                            <button type="button" class="btn btn-sm btn-secondary"
                                                                    data-dismiss="modal">
                                                                Proceed
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer justify-content-start">
                                                        <label class="mb-0 text-secondary alteration-font-size text-justify">
                                                            You
                                                            can
                                                            select maximum <span style="font-weight: bold;">
                                                                four top up
                                                                services
                                                            </span>.
                                                            the price mentioned here for any would be added to the total
                                                            bill as it is, it will not be multiplied with the
                                                            quantity
                                                        </label>
                                                        <label class="mb-0 text-secondary alteration-font-size text-justify">
                                                            for
                                                            eg:
                                                            if you are generating an order for 2
                                                            shirts for dry cleaning for 20$ each and to top up services
                                                            for 10$ and 5$ respectively then the total amount of order
                                                            would be <span style="font-weight: bold;">
                                                                (20*2) + (10 + 5)
                                                                = 55$
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-sm bg-color-light w-100 my-2"
                                                data-toggle="modal" data-target="#brand">
                                            Brand
                                        </button>
                                        <div class="modal fade" id="brand">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header flex-wrap align-items-center p-2">
                                                        <h5 class="modal-title my-1">
                                                            Brand
                                                        </h5>
                                                        <div class="d-flex flex-wrap">
                                                            <div class="d-flex align-items-center my-1">
                                                                <input type="search"
                                                                       class="form-control form-control-sm me-2"
                                                                       placeholder="Search or add brands">
                                                                <button type="button" class="btn btn-sm btn-info">
                                                                    Add
                                                                </button>
                                                            </div>
                                                            <button type="button" class="close my-1"
                                                                    style="outline: none;" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">
                                                                    ×
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="row">
                                                                        <div class="col-sm-3 my-2">
                                                                            <button type="button"
                                                                                    class="btn btn-md btn-white text-secondary brand-font-size border w-100">
                                                                                Adidas
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-sm-3 my-2">
                                                                            <button type="button"
                                                                                    class="btn btn-md btn-white text-secondary brand-font-size border w-100">
                                                                                Benetton
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-sm-3 my-2">
                                                                            <button type="button"
                                                                                    class="btn btn-md btn-white text-secondary brand-font-size border w-100">
                                                                                Club Monaco
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-sm-3 my-2">
                                                                            <button type="button"
                                                                                    class="btn btn-md btn-white text-secondary brand-font-size border w-100">
                                                                                Diesel
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-sm-3 my-2">
                                                                            <button type="button"
                                                                                    class="btn btn-md btn-white text-secondary brand-font-size border w-100">
                                                                                Esprit
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-sm-3 my-2">
                                                                            <button type="button"
                                                                                    class="btn btn-md btn-white text-secondary brand-font-size border w-100">
                                                                                Fanatic
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-sm-3 my-2">
                                                                            <button type="button"
                                                                                    class="btn btn-md btn-white text-secondary brand-font-size border w-100">
                                                                                Champion
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-sm-3 my-2">
                                                                            <button type="button"
                                                                                    class="btn btn-md btn-white text-secondary brand-font-size border w-100">
                                                                                Dockers
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-sm btn-secondary">
                                                            <label class="mb-0 text-white">Next Brand</label>
                                                            <i class="fa fa-arrow-right text-secondary bg-white border-radius"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary"
                                                                data-dismiss="modal">
                                                            Proceed
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-sm bg-color-light w-100 my-2">
                                            Defects/Description
                                        </button>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-sm bg-color-light w-100 my-2"
                                                data-toggle="modal" data-target="#colors">
                                            Colors
                                        </button>
                                        <div class="modal fade" id="colors">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header flex-wrap align-items-center p-2">
                                                        <h5 class="modal-title my-1">
                                                            Colors
                                                        </h5>
                                                        <div class="d-flex flex-wrap">
                                                            <div class="d-flex align-items-center my-1">
                                                                <input type="text"
                                                                       class="form-control form-control-sm me-2"
                                                                       placeholder="Search or add Colors">
                                                                <input type="text"
                                                                       class="form-control form-control-sm me-2"
                                                                       placeholder="Color code">
                                                                <button type="button" class="btn btn-sm btn-info">
                                                                    Add
                                                                </button>
                                                            </div>
                                                            <button type="button" class="close my-1"
                                                                    style="outline: none;" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">
                                                                    ×
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="row">
                                                                        <div class="col-sm-3 my-2">
                                                                            <button type="button"
                                                                                    class="btn btn-md brand-font-size border w-100 d-flex justify-content-start align-items-center">
                                                                                <div style="background-color: blue;width: 15px;height: 15px; margin-right: 10px;">
                                                                                </div>
                                                                                <label class="mb-0 text-secondary">Blue</label>
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-sm-3 my-2">
                                                                            <button type="button"
                                                                                    class="btn btn-md brand-font-size border w-100 d-flex justify-content-start align-items-center">
                                                                                <div style="background-color: chocolate;width: 15px;height: 15px; margin-right: 10px;">
                                                                                </div>
                                                                                <label class="mb-0 text-secondary">Chocolate</label>
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-sm-3 my-2">
                                                                            <button type="button"
                                                                                    class="btn btn-md brand-font-size border w-100 d-flex justify-content-start align-items-center">
                                                                                <div style="background-color: grey;width: 15px;height: 15px; margin-right: 10px;">
                                                                                </div>
                                                                                <label class="mb-0 text-secondary">Grey</label>
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-sm-3 my-2">
                                                                            <button type="button"
                                                                                    class="btn btn-md brand-font-size border w-100 d-flex justify-content-start align-items-center">
                                                                                <div style="background-color: green;width: 15px;height: 15px; margin-right: 10px;">
                                                                                </div>
                                                                                <label class="mb-0 text-secondary">Green</label>
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-sm-3 my-2">
                                                                            <button style="background-color: purple;"
                                                                                    type="button"
                                                                                    class="btn btn-md text-white brand-font-size border w-100">
                                                                                Purple
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-sm-3 my-2">
                                                                            <button style="background-color: black;"
                                                                                    type="button"
                                                                                    class="btn btn-md text-white brand-font-size border w-100">
                                                                                Black
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-sm-3 my-2">
                                                                            <button style="background-color: brown;"
                                                                                    type="button"
                                                                                    class="btn btn-md text-white brand-font-size border w-100">
                                                                                Brown
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-sm-3 my-2">
                                                                            <button style="background-color: crimson;"
                                                                                    type="button"
                                                                                    class="btn btn-md text-white brand-font-size border w-100">
                                                                                Crimson
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-sm btn-secondary">
                                                            <label class="mb-0 text-white">Next Color</label>
                                                            <i class="fa fa-arrow-right text-secondary bg-white border-radius"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary"
                                                                data-dismiss="modal">
                                                            Proceed
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-sm bg-color-light w-100 my-2">
                                            Cancel
                                        </button>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-sm bg-color-secondary w-100 my-2">
                                            Add To Order
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div component="/components/Footer/footer.html"></div>
            <script>includeHTML();</script>
            <script>
    document.getElementById("achkan").onclick = function () {
                    document.getElementById("achkan-img").style.display = "block";
                    document.getElementById("achkan-label").style.display = "block";
                    document.getElementById("achkankids-img").style.display = "none";
                    document.getElementById("achkankids-label").style.display = "none";
                }
                document.getElementById("achkankids").onclick = function () {
                    document.getElementById("achkankids-img").style.display = "block";
                    document.getElementById("achkankids-label").style.display = "block";
                    document.getElementById("achkan-img").style.display = "none";
                    document.getElementById("achkan-label").style.display = "none";
                }
                document.getElementById("achkan-women").onclick = function () {
                    document.getElementById("achkan-img").style.display = "block";
                    document.getElementById("achkan-label").style.display = "block";
                    document.getElementById("achkankids-img").style.display = "none";
                    document.getElementById("achkankids-label").style.display = "none";
                }
                document.getElementById("achkankids-women").onclick = function () {
                    document.getElementById("achkankids-img").style.display = "block";
                    document.getElementById("achkankids-label").style.display = "block";
                    document.getElementById("achkan-img").style.display = "none";
                    document.getElementById("achkan-label").style.display = "none";
                }
                document.getElementById("achkan-kids").onclick = function () {
                    document.getElementById("achkan-img").style.display = "block";
                    document.getElementById("achkan-label").style.display = "block";
                    document.getElementById("achkankids-img").style.display = "none";
                    document.getElementById("achkankids-label").style.display = "none";
                }
                document.getElementById("achkankids-kids").onclick = function () {
                    document.getElementById("achkankids-img").style.display = "block";
                    document.getElementById("achkankids-label").style.display = "block";
                    document.getElementById("achkan-img").style.display = "none";
                    document.getElementById("achkan-label").style.display = "none";
                }
                document.getElementById("achkan-household").onclick = function () {
                    document.getElementById("achkan-img").style.display = "block";
                    document.getElementById("achkan-label").style.display = "block";
                    document.getElementById("achkankids-img").style.display = "none";
                    document.getElementById("achkankids-label").style.display = "none";
                }
                document.getElementById("achkankids-household").onclick = function () {
                    document.getElementById("achkankids-img").style.display = "block";
                    document.getElementById("achkankids-label").style.display = "block";
                    document.getElementById("achkan-img").style.display = "none";
                    document.getElementById("achkan-label").style.display = "none";
                }
                document.getElementById("achkan-institutional").onclick = function () {
                    document.getElementById("achkan-img").style.display = "block";
                    document.getElementById("achkan-label").style.display = "block";
                    document.getElementById("achkankids-img").style.display = "none";
                    document.getElementById("achkankids-label").style.display = "none";
                }
                document.getElementById("achkankids-institutional").onclick = function () {
                    document.getElementById("achkankids-img").style.display = "block";
                    document.getElementById("achkankids-label").style.display = "block";
                    document.getElementById("achkan-img").style.display = "none";
                    document.getElementById("achkan-label").style.display = "none";
                }
                document.getElementById("achkan-others").onclick = function () {
                    document.getElementById("achkan-img").style.display = "block";
                    document.getElementById("achkan-label").style.display = "block";
                    document.getElementById("achkankids-img").style.display = "none";
                    document.getElementById("achkankids-label").style.display = "none";
                }
                document.getElementById("achkankids-others").onclick = function () {
                    document.getElementById("achkankids-img").style.display = "block";
                    document.getElementById("achkankids-label").style.display = "block";
                    document.getElementById("achkan-img").style.display = "none";
                    document.getElementById("achkan-label").style.display = "none";
                }</script>
            <script>
    $(function () {
                    $('[data-decrease]').click(decrease);
                    $('[data-increase]').click(increase);
                    $('[data-value]').change(valueChange);
                });

                function decrease() {
                    var value = $(this).parent().find('[data-value]').val();
                    if (value > 1) {
                        value--;
                        $(this).parent().find('[data-value]').val(value);
                    }
                }

                function increase() {
                    var value = $(this).parent().find('[data-value]').val();
                    if (value < 100) {
                        value++;
                        $(this).parent().find('[data-value]').val(value);
                    }
                }

                function valueChange() {
                    var value = $(this).val();
                    if (value == undefined || isNaN(value) == true || value <= 0) {
                        $(this).val(1);
                    } else if (value >= 101) {
                        $(this).val(100);
                    }
                }</script>
        </div>
        </div>
</body>

</html>