﻿@model FLS.LC.Web.Models.Master.viewUserStore
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en" style="overflow-y:scroll !important">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/lcMain.css" asp-append-version="true" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b7245b8622.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <!-- Bootstrap core JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <div>
        <div class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()" id="mySidebar">
            <div class="hoverable-sidebar" id="hover">
                <span class="dashboard-sidebar-text-color">Menu</span>
            </div>
            <ul class="nav flex-column">
                <li class="mb-3">
                    <a href="@Url.Action("Home", "Home")">
                        <span class="icon"><i class="fa fa-home fa-2x"></i></span>
                        <span class="item">Home</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a>
                        <span class="icon"><i class="fa fa-user fa-2x"></i></span>
                        <span class="item">Customer</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a href="@Url.Action("DailyDashBoard", "DashBoard")">
                        <span class="icon"><i class="fa fa-dashboard fa-2x"></i></span>
                        <span class="item">Dashboard</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a>
                        <span class="icon"><i class="fa fa-bar-chart fa-2x"></i></span>
                        <span class="item">Reports</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a>
                        <span class="icon"><i class="fa fa-cogs fa-2x"></i></span>
                        <span class="item">Set Up</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a>
                        <span class="icon"><i class="fa fa-cog fa-2x"></i></span>
                        <span class="item">Config Store</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a>
                        <span class="icon"><i class="fa fa-question-circle-o fa-2x"></i></span>
                        <span class="item">Help</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="position-absolute dashboard-main-min-width dashboard-main-content">
            <div class="col-md-12 mb-4">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                        <div class="row">
                            <div class="card dashboard-bshadow flex-row mx-2 my-2">
                                <div class="dashboard-bg-color-primary"></div>
                                <div class="card-body">
                                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                                        <div class="d-flex flex-column">
                                            <label class="mb-0 dashboard-label-text-size">101.1K</label>
                                            <label class="mb-0 dashboard-text-size">Downloads</label>
                                        </div>
                                        <div class="dashboard-icon-circle dashboard-bg-primary-color">
                                            <i class="dashboard-material-icons">download</i>
                                        </div>
                                    </div>
                                    <div class="pt-2">
                                        <div class="d-inline-flex align-items-center">
                                            <i class="dashboard-material-icons-small text-success">arrow_upward</i>
                                            <label class="mb-0 dashboard-text-size-small">3% from last month</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                        <div class="row">
                            <div class="card dashboard-bshadow flex-row mx-2 my-2">
                                <div class="dashboard-bg-color-secondary"></div>
                                <div class="card-body">
                                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                                        <div class="d-flex flex-column">
                                            <label class="mb-0 dashboard-label-text-size">12.2K</label>
                                            <label class="mb-0 dashboard-text-size">Purchases</label>
                                        </div>
                                        <div class="dashboard-icon-circle dashboard-bg-secondary-color">
                                            <i class="dashboard-material-icons">storefront</i>
                                        </div>
                                    </div>
                                    <div class="pt-2">
                                        <div class="d-inline-flex align-items-center">
                                            <i class="dashboard-material-icons-small text-success">arrow_upward</i>
                                            <label class="mb-0 dashboard-text-size-small">3% from last month</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                        <div class="row">
                            <div class="card dashboard-bshadow flex-row mx-2 my-2">
                                <div class="dashboard-bg-color-third"></div>
                                <div class="card-body">
                                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                                        <div class="d-flex flex-column">
                                            <label class="mb-0 dashboard-label-text-size">5.3K</label>
                                            <label class="mb-0 dashboard-text-size">Customers</label>
                                        </div>
                                        <div class="dashboard-icon-circle dashboard-bg-third-color">
                                            <i class="dashboard-material-icons">people</i>
                                        </div>
                                    </div>
                                    <div class="pt-2">
                                        <div class="d-inline-flex align-items-center">
                                            <i class="dashboard-material-icons-small text-success">arrow_upward</i>
                                            <label class="mb-0 dashboard-text-size-small">3% from last month</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                        <div class="row">
                            <div class="card dashboard-bshadow flex-row mx-2 my-2">
                                <div class="dashboard-bg-color-fourth"></div>
                                <div class="card-body">
                                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                                        <div class="d-flex flex-column">
                                            <label class="mb-0 dashboard-label-text-size">7K</label>
                                            <label class="mb-0 dashboard-text-size">Channels</label>
                                        </div>
                                        <div class="dashboard-icon-circle dashboard-bg-fourth-color">
                                            <i class="dashboard-material-icons">devices</i>
                                        </div>
                                    </div>
                                    <div class="pt-2">
                                        <div class="d-inline-flex align-items-center">
                                            <i class="dashboard-material-icons-small text-success">arrow_upward</i>
                                            <label class="mb-0 dashboard-text-size-small">3% from last month</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 my-4">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                        <div class="row">
                            <div class="card dashboard-bshadow m-2">
                                <div class="card-header-dashboard dashboard-bg-transparent">
                                    <div class="row justify-content-between align-items-center px-3">
                                        <div class="d-flex flex-column">
                                            <label class="card-title-dashboard mb-0">Revenue Breakdown</label>
                                            <label class="card-subtitle-dashboard mb-0">
                                                Compared to previous
                                                year
                                            </label>
                                        </div>
                                        <div class="row justify-content-between align-items-center">
                                            <button class="btn-text-primary btn-icon" type="button">
                                                <i class="dashboard-material-icons">download</i>
                                            </button>
                                            <button class="btn-text-primary btn-icon" type="button">
                                                <i class="dashboard-material-icons">print</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body row justify-content-center align-items-center">
                                    <div class="row m-2">
                                        <div class="mx-2">
                                            <div class="d-flex flex-column">
                                                <label class="text-muted text-xs mb-1">Actual Revenue</label>
                                                <label class="text-info">$59,482</label>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <label class="text-muted text-xs mb-1">Revenue Target</label>
                                                <label class="text-secondary">$50,000</label>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <label class="text-muted text-xs mb-1">Goal</label>
                                                <label class="text-secondary">119%</label>
                                            </div>
                                        </div>
                                        <canvas id="barChart"
                                                class="bar-chart-web bar-chart-mobile-screen bar-chart-mobile bar-chart-mobile1 bar-chart-mobile2 bar-chart-mobile3 bar-chart-mobile4 bar-chart-mobile5"></canvas>
                                        <script>
                                            var xValues = ["Italy", "France", "Spain", "USA"];
                                            var yValues = [55, 49, 44, 24];
                                            var barColors = ["#6200ea", "#6200ea", "#6200ea", "#6200ea"];

                                            new Chart("barChart", {
                                                type: "bar",
                                                data: {
                                                    labels: xValues,
                                                    datasets: [{
                                                        backgroundColor: barColors,
                                                        data: yValues, xValues,
                                                    }]
                                                },
                                                options: {
                                                    legend: { display: false },
                                                    title: {
                                                        display: true,
                                                        text: "World Wine Production 2018"
                                                    }
                                                }
                                            });</script>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent position-relative">
                                    <a class="row align-items-center justify-content-end text-decoration-none text-color-primary"
                                       href="#!">
                                        <div class="fst-button">Open Report</div>
                                        <i class="dashboard-material-icons icon-sm">chevron_right</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                        <div class="row">
                            <div class="card dashboard-bshadow m-2">
                                <div class="card-header-dashboard dashboard-bg-transparent">
                                    <div class="row justify-content-between align-items-center px-3">
                                        <div class="d-flex flex-column">
                                            <label class="card-title-dashboard">Segments</label>
                                            <label class="card-subtitle-dashboard">
                                                Revenue sources
                                            </label>
                                        </div>
                                        <div class="row justify-content-between align-items-center">
                                            <button class="btn-text-primary btn-icon" type="button">
                                                <i class="dashboard-material-icons">more_vert</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body row justify-content-center align-items-center">
                                    <canvas id="pieChart" class="pie-chart-web pie-chart-mobile"></canvas>
                                    <script>
                                        var xValues = ["Italy", "France", "Spain", "USA"];
                                        var yValues = [65, 79, 79, 65];
                                        var barColors = [
                                            "#6200ea",
                                            "#ffb300",
                                            "#9c27b0",
                                            "#26a69a"
                                        ];

                                        new Chart("pieChart", {
                                            type: "pie",
                                            data: {
                                                labels: xValues,
                                                datasets: [{
                                                    backgroundColor: barColors,
                                                    data: yValues
                                                }]
                                            },
                                            options: {
                                                title: {
                                                    display: true,
                                                    text: "World Wide Wine Production 2018"
                                                }
                                            }
                                        });</script>
                                </div>
                                <div class="card-footer dashboard-bg-transparent position-relative">
                                    <a class="row align-items-center justify-content-end text-decoration-none text-color-primary"
                                       href="#!">
                                        <div class="fst-button">Open Report</div>
                                        <i class="dashboard-material-icons icon-sm">chevron_right</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 my-4">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                        <div class="row">
                            <div class="card dashboard-bshadow bshadow-height m-2">
                                <div class="card-body mx-2">
                                    <div class="row justify-content-between">
                                        <div class="d-flex flex-column">
                                            <label class="card-title-dashboard">Privacy Suggestions</label>
                                            <p class="card-text">
                                                Take our privacy checkup to choose which
                                                settings are right for you
                                            </p>
                                        </div>
                                        <img src="~/assests/security.svg" alt="security" style="height: 6rem">
                                    </div>
                                </div>
                                <div class="card-footer dashboard-bg-transparent position-relative">
                                    <a class="dashboard-text-size row align-items-center justify-content-start text-decoration-none text-color-primary"
                                       href="#!">
                                        Review Suggestions(4)
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                        <div class="row">
                            <div class="card dashboard-bshadow bshadow-height m-2">
                                <div class="card-body mx-2">
                                    <div class="row justify-content-between">
                                        <div class="d-flex flex-column">
                                            <label class="card-title-dashboard">Account Storage</label>
                                            <p class="card-text">
                                                Your account storage is shared across all devices.
                                            </p>
                                            <div class="progress" style="height: 0.25rem">
                                                <div class="progress-bar" role="progressbar" style="width: 33%"
                                                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="30"></div>
                                            </div>
                                            <p class="card-text">10 GB of 30 GB used</p>
                                        </div>
                                        <img src="~/assests/cloud.svg" alt="cloud" style="height: 6rem">
                                    </div>
                                </div>
                                <div class="card-footer dashboard-bg-transparent position-relative">
                                    <a class="dashboard-text-size row align-items-center justify-content-start text-decoration-none text-color-primary"
                                       href="#!">
                                        Manage Storage
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4 margin-bottom-table">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 col-xl-12">
                        <div class="row">
                            <div class="card dashboard-bshadow m-2">
                                <div class="card-header-dashboard dashboard-bg-transparent">
                                    <div class="row justify-content-between align-items-center px-3">
                                        <div class="d-flex flex-column">
                                            <label class="card-title-dashboard">Orders</label>
                                            <label class="card-subtitle-dashboard">
                                                Details and history
                                            </label>
                                        </div>
                                        <div class="row justify-content-between align-items-center">
                                            <button class="btn-text-primary btn-icon" type="button">
                                                <i class="dashboard-material-icons">download</i>
                                            </button>
                                            <button class="btn-text-primary btn-icon" type="button">
                                                <i class="dashboard-material-icons">print</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div class="table-responsive">
                                        <table id="dataTable" class="table table-bordered table-hover mb-0"
                                               cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th class="text-center bg-white text-secondary">Name</th>
                                                    <th class="text-center bg-white text-secondary">Position</th>
                                                    <th class="text-center bg-white text-secondary">Office</th>
                                                    <th class="text-center bg-white text-secondary">Age</th>
                                                    <th class="text-center bg-white text-secondary">Start date</th>
                                                    <th class="text-center bg-white text-secondary">Salary</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">Tiger Nixon</td>
                                                    <td class="text-center">System Architect</td>
                                                    <td class="text-center">Edinburgh</td>
                                                    <td class="text-center">61</td>
                                                    <td class="text-center">2011/04/25</td>
                                                    <td class="text-center">$320,800</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Garrett Winters</td>
                                                    <td class="text-center">Accountant</td>
                                                    <td class="text-center">Tokyo</td>
                                                    <td class="text-center">63</td>
                                                    <td class="text-center">2011/07/25</td>
                                                    <td class="text-center">$170,750</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Ashton Cox</td>
                                                    <td class="text-center">Junior Technical Author</td>
                                                    <td class="text-center">San Francisco</td>
                                                    <td class="text-center">66</td>
                                                    <td class="text-center">2009/01/12</td>
                                                    <td class="text-center">$86,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Cedric Kelly</td>
                                                    <td class="text-center">Senior Javascript Developer</td>
                                                    <td class="text-center">Edinburgh</td>
                                                    <td class="text-center">22</td>
                                                    <td class="text-center">2012/03/29</td>
                                                    <td class="text-center">$433,060</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Airi Satou</td>
                                                    <td class="text-center">Accountant</td>
                                                    <td class="text-center">Tokyo</td>
                                                    <td class="text-center">33</td>
                                                    <td class="text-center">2008/11/28</td>
                                                    <td class="text-center">$162,700</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Brielle Williamson</td>
                                                    <td class="text-center">Integration Specialist</td>
                                                    <td class="text-center">New York</td>
                                                    <td class="text-center">61</td>
                                                    <td class="text-center">2012/12/02</td>
                                                    <td class="text-center">$372,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Herrod Chandler</td>
                                                    <td class="text-center">Sales Assistant</td>
                                                    <td class="text-center">San Francisco</td>
                                                    <td class="text-center">59</td>
                                                    <td class="text-center">2012/08/06</td>
                                                    <td class="text-center">$137,500</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Rhona Davidson</td>
                                                    <td class="text-center">Integration Specialist</td>
                                                    <td class="text-center">Tokyo</td>
                                                    <td class="text-center">55</td>
                                                    <td class="text-center">2010/10/14</td>
                                                    <td class="text-center">$327,900</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Colleen Hurst</td>
                                                    <td class="text-center">Javascript Developer</td>
                                                    <td class="text-center">San Francisco</td>
                                                    <td class="text-center">39</td>
                                                    <td class="text-center">2009/09/15</td>
                                                    <td class="text-center">$205,500</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Sonya Frost</td>
                                                    <td class="text-center">Software Engineer</td>
                                                    <td class="text-center">Edinburgh</td>
                                                    <td class="text-center">23</td>
                                                    <td class="text-center">2008/12/13</td>
                                                    <td class="text-center">$103,600</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Jena Gaines</td>
                                                    <td class="text-center">Office Manager</td>
                                                    <td class="text-center">London</td>
                                                    <td class="text-center">30</td>
                                                    <td class="text-center">2008/12/19</td>
                                                    <td class="text-center">$90,560</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Quinn Flynn</td>
                                                    <td class="text-center">Support Lead</td>
                                                    <td class="text-center">Edinburgh</td>
                                                    <td class="text-center">22</td>
                                                    <td class="text-center">2013/03/03</td>
                                                    <td class="text-center">$342,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Charde Marshall</td>
                                                    <td class="text-center">Regional Director</td>
                                                    <td class="text-center">San Francisco</td>
                                                    <td class="text-center">36</td>
                                                    <td class="text-center">2008/10/16</td>
                                                    <td class="text-center">$470,600</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Haley Kennedy</td>
                                                    <td class="text-center">Senior Marketing Designer</td>
                                                    <td class="text-center">London</td>
                                                    <td class="text-center">43</td>
                                                    <td class="text-center">2012/12/18</td>
                                                    <td class="text-center">$313,500</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Tatyana Fitzpatrick</td>
                                                    <td class="text-center">Regional Director</td>
                                                    <td class="text-center">London</td>
                                                    <td class="text-center">19</td>
                                                    <td class="text-center">2010/03/17</td>
                                                    <td class="text-center">$385,750</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Michael Silva</td>
                                                    <td class="text-center">Marketing Designer</td>
                                                    <td class="text-center">London</td>
                                                    <td class="text-center">66</td>
                                                    <td class="text-center">2012/11/27</td>
                                                    <td class="text-center">$198,500</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Paul Byrd</td>
                                                    <td class="text-center">Chief Financial Officer (CFO)</td>
                                                    <td class="text-center">New York</td>
                                                    <td class="text-center">64</td>
                                                    <td class="text-center">2010/06/09</td>
                                                    <td class="text-center">$725,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Gloria Little</td>
                                                    <td class="text-center">Systems Administrator</td>
                                                    <td class="text-center">New York</td>
                                                    <td class="text-center">59</td>
                                                    <td class="text-center">2009/04/10</td>
                                                    <td class="text-center">$237,500</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Bradley Greer</td>
                                                    <td class="text-center">Software Engineer</td>
                                                    <td class="text-center">London</td>
                                                    <td class="text-center">41</td>
                                                    <td class="text-center">2012/10/13</td>
                                                    <td class="text-center">$132,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Dai Rios</td>
                                                    <td class="text-center">Personnel Lead</td>
                                                    <td class="text-center">Edinburgh</td>
                                                    <td class="text-center">35</td>
                                                    <td class="text-center">2012/09/26</td>
                                                    <td class="text-center">$217,500</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Jenette Caldwell</td>
                                                    <td class="text-center">Development Lead</td>
                                                    <td class="text-center">New York</td>
                                                    <td class="text-center">30</td>
                                                    <td class="text-center">2011/09/03</td>
                                                    <td class="text-center">$345,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Yuri Berry</td>
                                                    <td class="text-center">Chief Marketing Officer (CMO)</td>
                                                    <td class="text-center">New York</td>
                                                    <td class="text-center">40</td>
                                                    <td class="text-center">2009/06/25</td>
                                                    <td class="text-center">$675,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Caesar Vance</td>
                                                    <td class="text-center">Pre-Sales Support</td>
                                                    <td class="text-center">New York</td>
                                                    <td class="text-center">21</td>
                                                    <td class="text-center">2011/12/12</td>
                                                    <td class="text-center">$106,450</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Doris Wilder</td>
                                                    <td class="text-center">Sales Assistant</td>
                                                    <td class="text-center">Sydney</td>
                                                    <td class="text-center">23</td>
                                                    <td class="text-center">2010/09/20</td>
                                                    <td class="text-center">$85,600</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Angelica Ramos</td>
                                                    <td class="text-center">Chief Executive Officer (CEO)</td>
                                                    <td class="text-center">London</td>
                                                    <td class="text-center">47</td>
                                                    <td class="text-center">2009/10/09</td>
                                                    <td class="text-center">$1,200,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Gavin Joyce</td>
                                                    <td class="text-center">Developer</td>
                                                    <td class="text-center">Edinburgh</td>
                                                    <td class="text-center">42</td>
                                                    <td class="text-center">2010/12/22</td>
                                                    <td class="text-center">$92,575</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Jennifer Chang</td>
                                                    <td class="text-center">Regional Director</td>
                                                    <td class="text-center">Singapore</td>
                                                    <td class="text-center">28</td>
                                                    <td class="text-center">2010/11/14</td>
                                                    <td class="text-center">$357,650</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Brenden Wagner</td>
                                                    <td class="text-center">Software Engineer</td>
                                                    <td class="text-center">San Francisco</td>
                                                    <td class="text-center">28</td>
                                                    <td class="text-center">2011/06/07</td>
                                                    <td class="text-center">$206,850</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Fiona Green</td>
                                                    <td class="text-center">Chief Operating Officer (COO)</td>
                                                    <td class="text-center">San Francisco</td>
                                                    <td class="text-center">48</td>
                                                    <td class="text-center">2010/03/11</td>
                                                    <td class="text-center">$850,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Shou Itou</td>
                                                    <td class="text-center">Regional Marketing</td>
                                                    <td class="text-center">Tokyo</td>
                                                    <td class="text-center">20</td>
                                                    <td class="text-center">2011/08/14</td>
                                                    <td class="text-center">$163,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Michelle House</td>
                                                    <td class="text-center">Integration Specialist</td>
                                                    <td class="text-center">Sydney</td>
                                                    <td class="text-center">37</td>
                                                    <td class="text-center">2011/06/02</td>
                                                    <td class="text-center">$95,400</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Suki Burks</td>
                                                    <td class="text-center">Developer</td>
                                                    <td class="text-center">London</td>
                                                    <td class="text-center">53</td>
                                                    <td class="text-center">2009/10/22</td>
                                                    <td class="text-center">$114,500</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Prescott Bartlett</td>
                                                    <td class="text-center">Technical Author</td>
                                                    <td class="text-center">London</td>
                                                    <td class="text-center">27</td>
                                                    <td class="text-center">2011/05/07</td>
                                                    <td class="text-center">$145,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Gavin Cortez</td>
                                                    <td class="text-center">Team Leader</td>
                                                    <td class="text-center">San Francisco</td>
                                                    <td class="text-center">22</td>
                                                    <td class="text-center">2008/10/26</td>
                                                    <td class="text-center">$235,500</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Martena Mccray</td>
                                                    <td class="text-center">Post-Sales support</td>
                                                    <td class="text-center">Edinburgh</td>
                                                    <td class="text-center">46</td>
                                                    <td class="text-center">2011/03/09</td>
                                                    <td class="text-center">$324,050</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Unity Butler</td>
                                                    <td class="text-center">Marketing Designer</td>
                                                    <td class="text-center">San Francisco</td>
                                                    <td class="text-center">47</td>
                                                    <td class="text-center">2009/12/09</td>
                                                    <td class="text-center">$85,675</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Howard Hatfield</td>
                                                    <td class="text-center">Office Manager</td>
                                                    <td class="text-center">San Francisco</td>
                                                    <td class="text-center">51</td>
                                                    <td class="text-center">2008/12/16</td>
                                                    <td class="text-center">$164,500</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Hope Fuentes</td>
                                                    <td class="text-center">Secretary</td>
                                                    <td class="text-center">San Francisco</td>
                                                    <td class="text-center">41</td>
                                                    <td class="text-center">2010/02/12</td>
                                                    <td class="text-center">$109,850</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Vivian Harrell</td>
                                                    <td class="text-center">Financial Controller</td>
                                                    <td class="text-center">San Francisco</td>
                                                    <td class="text-center">62</td>
                                                    <td class="text-center">2009/02/14</td>
                                                    <td class="text-center">$452,500</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Timothy Mooney</td>
                                                    <td class="text-center">Office Manager</td>
                                                    <td class="text-center">London</td>
                                                    <td class="text-center">37</td>
                                                    <td class="text-center">2008/12/11</td>
                                                    <td class="text-center">$136,200</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Jackson Bradshaw</td>
                                                    <td class="text-center">Director</td>
                                                    <td class="text-center">New York</td>
                                                    <td class="text-center">65</td>
                                                    <td class="text-center">2008/09/26</td>
                                                    <td class="text-center">$645,750</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Olivia Liang</td>
                                                    <td class="text-center">Support Engineer</td>
                                                    <td class="text-center">Singapore</td>
                                                    <td class="text-center">64</td>
                                                    <td class="text-center">2011/02/03</td>
                                                    <td class="text-center">$234,500</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Bruno Nash</td>
                                                    <td class="text-center">Software Engineer</td>
                                                    <td class="text-center">London</td>
                                                    <td class="text-center">38</td>
                                                    <td class="text-center">2011/05/03</td>
                                                    <td class="text-center">$163,500</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Sakura Yamamoto</td>
                                                    <td class="text-center">Support Engineer</td>
                                                    <td class="text-center">Tokyo</td>
                                                    <td class="text-center">37</td>
                                                    <td class="text-center">2009/08/19</td>
                                                    <td class="text-center">$139,575</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Thor Walton</td>
                                                    <td class="text-center">Developer</td>
                                                    <td class="text-center">New York</td>
                                                    <td class="text-center">61</td>
                                                    <td class="text-center">2013/08/11</td>
                                                    <td class="text-center">$98,540</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Finn Camacho</td>
                                                    <td class="text-center">Support Engineer</td>
                                                    <td class="text-center">San Francisco</td>
                                                    <td class="text-center">47</td>
                                                    <td class="text-center">2009/07/07</td>
                                                    <td class="text-center">$87,500</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Serge Baldwin</td>
                                                    <td class="text-center">Data Coordinator</td>
                                                    <td class="text-center">Singapore</td>
                                                    <td class="text-center">64</td>
                                                    <td class="text-center">2012/04/09</td>
                                                    <td class="text-center">$138,575</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Zenaida Frank</td>
                                                    <td class="text-center">Software Engineer</td>
                                                    <td class="text-center">New York</td>
                                                    <td class="text-center">63</td>
                                                    <td class="text-center">2010/01/04</td>
                                                    <td class="text-center">$125,250</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Zorita Serrano</td>
                                                    <td class="text-center">Software Engineer</td>
                                                    <td class="text-center">San Francisco</td>
                                                    <td class="text-center">56</td>
                                                    <td class="text-center">2012/06/01</td>
                                                    <td class="text-center">$115,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Jennifer Acosta</td>
                                                    <td class="text-center">Junior Javascript Developer</td>
                                                    <td class="text-center">Edinburgh</td>
                                                    <td class="text-center">43</td>
                                                    <td class="text-center">2013/02/01</td>
                                                    <td class="text-center">$75,650</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Cara Stevens</td>
                                                    <td class="text-center">Sales Assistant</td>
                                                    <td class="text-center">New York</td>
                                                    <td class="text-center">46</td>
                                                    <td class="text-center">2011/12/06</td>
                                                    <td class="text-center">$145,600</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Hermione Butler</td>
                                                    <td class="text-center">Regional Director</td>
                                                    <td class="text-center">London</td>
                                                    <td class="text-center">47</td>
                                                    <td class="text-center">2011/03/21</td>
                                                    <td class="text-center">$356,250</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Lael Greer</td>
                                                    <td class="text-center">Systems Administrator</td>
                                                    <td class="text-center">London</td>
                                                    <td class="text-center">21</td>
                                                    <td class="text-center">2009/02/27</td>
                                                    <td class="text-center">$103,500</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Jonas Alexander</td>
                                                    <td class="text-center">Developer</td>
                                                    <td class="text-center">San Francisco</td>
                                                    <td class="text-center">30</td>
                                                    <td class="text-center">2010/07/14</td>
                                                    <td class="text-center">$86,500</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Shad Decker</td>
                                                    <td class="text-center">Regional Director</td>
                                                    <td class="text-center">Edinburgh</td>
                                                    <td class="text-center">51</td>
                                                    <td class="text-center">2008/11/13</td>
                                                    <td class="text-center">$183,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Michael Bruce</td>
                                                    <td class="text-center">Javascript Developer</td>
                                                    <td class="text-center">Singapore</td>
                                                    <td class="text-center">29</td>
                                                    <td class="text-center">2011/06/27</td>
                                                    <td class="text-center">$183,000</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">Donna Snider</td>
                                                    <td class="text-center">Customer Support</td>
                                                    <td class="text-center">New York</td>
                                                    <td class="text-center">27</td>
                                                    <td class="text-center">2011/01/25</td>
                                                    <td class="text-center">$112,000</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('#dataTable').DataTable();
            });</script>
        <script>
            var mini = true;
            function toggleSidebar() {
                if (mini) {
                    document.getElementById("mySidebar").style.width = "100px";
                    document.getElementById("hover").style.display = "none";
                    this.mini = false;
                } else {
                    document.getElementById("mySidebar").style.width = "0px";
                    document.getElementById("hover").style.display = "flex";
                    this.mini = true;
                }
            }
        </script>
    </div>
</body>

</html>