﻿@using FLS.LC.Web.Models.Master
@model FLS.LC.Web.Models.Master.OrderConfigDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/orderConfig.css" asp-append-version="true"/>
    <script>
        function includeHTML() {
            var z, i, elmnt, file, xhttp;
            /*loop through a collection of all HTML elements:*/
            z = document.getElementsByTagName("*");
            for (i = 0; i < z.length; i++) {
                elmnt = z[i];
                /*search for elements with a certain atrribute:*/
                file = elmnt.getAttribute("component");
                if (file) {
                    /*make an HTTP request using the attribute value as the file name:*/
                    xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4) {
                            if (this.status == 200) { elmnt.innerHTML = this.responseText; }
                            if (this.status == 404) { elmnt.innerHTML = "Page not found."; }
                            /*remove the attribute, and call this function once more:*/
                            elmnt.removeAttribute("component");
                            includeHTML();
                        }
                    }
                    xhttp.open("GET", file, true);
                    xhttp.send();
                    /*exit the function:*/
                    return;
                }
            }
        };</script>
    <!-- Bootstrap CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Boostrap 4 toggle switch-->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">
</head>
<body>
    Optional JavaScript
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <div style="overflow: scroll;">
        @if (Model.ShowSuccessAlert == true)
        {
            @Html.Hidden("IsFormSubmit", "true");
        }
        @Html.Hidden("usrEmail", Model.UserEmail);
        <form method="post" id="OrderConfig" enctype="multipart/form-data" asp-controller="OrderConfig" asp-action="RegStores" class="needs-validation p-3" novalidate autocomplete="off">
            <div class="position-absolute content main-min-width home-content mb-5 pb-5" style="overflow: scroll;">
                <div class="col-md-12 mb-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="white-box border-primary-color">
                                @if (Model.ShowSuccessAlert == false && Model.OrderScreenConfigurationDto != null)
                                {
                                    @await Html.PartialAsync("_LayoutAlertMessage");
                                    Model.OrderScreenConfigurationDto = null;
                                }
                                <div class="bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                    <label class="mb-0">
                                        Configuration - Order Drop & Pickup - Choose default for order
                                        screen
                                    </label>
                                </div>
                                <div class="col-md-12 my-2">
                                    <div class="row">
                                        <div class="col-sm-5 d-flex flex-wrap">
                                            <div class="white-box border-primary-color w-100 my-2">
                                                <div class="bg-color d-flex flex-wrap justify-content-start align-items-center p-2">
                                                    <label class="mb-0">New Order Screen Configurations</label>
                                                </div>
                                                <div class="p-3 d-flex flex-wrap justify-content-between align-items-center">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <label class="input-border">Start Order From</label>
                                                                @Html.DropDownListFor(m => m.OrderScreenConfigurationDto.OscStartOrderFromPrefix, new[]{
                            new SelectListItem(){ Text = "A", Value = "A"},
                            new SelectListItem(){ Text = "B", Value = "B"},
                            new SelectListItem(){ Text = "C", Value = "C"},
                            new SelectListItem(){ Text = "D", Value = "D"},
                            new SelectListItem(){ Text = "E", Value = "E"},
                            new SelectListItem(){ Text = "F", Value = "F"},
                            new SelectListItem(){ Text = "G", Value = "G"},
                            new SelectListItem(){ Text = "H", Value = "H"},
                            new SelectListItem(){ Text = "I", Value = "I"},
                            new SelectListItem(){ Text = "J", Value = "J"},
                            new SelectListItem(){ Text = "K", Value = "K"},
                            new SelectListItem(){ Text = "L", Value = "L"},
                            new SelectListItem(){ Text = "M", Value = "M"},
                            new SelectListItem(){ Text = "N", Value = "N"},
                            new SelectListItem(){ Text = "O", Value = "O"},
                            new SelectListItem(){ Text = "P", Value = "P"},
                            new SelectListItem(){ Text = "Q", Value = "Q"},
                            new SelectListItem(){ Text = "R", Value = "R"},
                            new SelectListItem(){ Text = "S", Value = "S"},
                            new SelectListItem(){ Text = "T", Value = "T"},
                            new SelectListItem(){ Text = "U", Value = "U"},
                            new SelectListItem(){ Text = "V", Value = "V"},
                            new SelectListItem(){ Text = "W", Value = "W"},
                            new SelectListItem(){ Text = "X", Value = "X"},
                            new SelectListItem(){ Text = "Y", Value = "Y"},
                            new SelectListItem(){ Text = "Z", Value = "Z"},
                            }, "Select Order Prefic", new { id = "OscStartOrderFromPrefix", style = "width:180px", required = "required" })
                                                                @Html.HiddenFor(m => m.OrderScreenConfigurationDto.OscId, new { id = "OscId" });
                                                                @Html.TextBoxFor(m => m.OrderScreenConfigurationDto.OscStartOrderFromPostfix, new { id = "OscStartOrderFromPostfix", @placeholder = "Enter value", @class = "form-control input form-feedback-icon-valid" })
                                                                <i class="fa fa-info-circle pl-1 pt-1 text-primary-color"
                                                                   data-bs-toggle="tooltip"
                                                                   title="Select order number sequence series. this could be with/without prefix, numeric or alpha-numeric."></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <div class="input-group input-group-sm">
                                                                <label class="input-border">Delivery Date Offset</label>
                                                                @Html.TextBoxFor(m => m.OrderScreenConfigurationDto.OscDeliveryDateOffset, new { id = "OscDeliveryDateOffset", @placeholder = "Enter delivery date number", @class = "form-control input form-feedback-icon-valid" })
                                                                <i class="fa fa-info-circle pl-1 pt-1 text-primary-color"
                                                                   data-bs-toggle="tooltip"
                                                                   title='Set the default delivery date for new order generated.eg: if you set this field as "2" then default delivery date becomes as "order date + 2" for every new order generated.'></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <label class="input-border">Delivery Time</label>
                                                                @Html.DropDownListFor(m => m.OrderScreenConfigurationDto.OscDeliveryTimePrefix, new[]{
                            new SelectListItem(){ Text = "1", Value = "1"},
                            new SelectListItem(){ Text = "2", Value = "2"},
                            new SelectListItem(){ Text = "3", Value = "3"},
                            new SelectListItem(){ Text = "4", Value = "4"},
                            new SelectListItem(){ Text = "5", Value = "5"},
                            new SelectListItem(){ Text = "6", Value = "6"},
                            new SelectListItem(){ Text = "7", Value = "7"},
                            new SelectListItem(){ Text = "8", Value = "8"},
                            new SelectListItem(){ Text = "9", Value = "9"},
                            new SelectListItem(){ Text = "10", Value = "10"},
                            new SelectListItem(){ Text = "11", Value = "11"},
                            new SelectListItem(){ Text = "12", Value = "12"},
                            }, "", new { id = "OscDeliveryTimePrefix", style = "width:50px", required = "required" })
                                                                @Html.DropDownListFor(m => m.OrderScreenConfigurationDto.OscDeliveryTimePostfix, new[]{
                            new SelectListItem(){ Text = "AM", Value = "AM"},
                            new SelectListItem(){ Text = "PM", Value = "PM"},
                            }, "", new { id = "OscDeliveryTimePostfix", style = "width:50px", required = "required" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <div class="input-group input-group-sm">
                                                                <i class="fa fa-user input-border"></i>
                                                                @Html.DropDownListFor(m => m.OrderScreenConfigurationDto.OscOrderDefaultSearch, new[]{
                            new SelectListItem(){ Text = "All", Value = "All"},
                            new SelectListItem(){ Text = "Name", Value = "Name"},
                            new SelectListItem(){ Text = "Addrees", Value = "Addrees"},
                            new SelectListItem(){ Text = "MobileNo", Value = "MobileNo"},
                            new SelectListItem(){ Text = "MembershipId", Value = "MembershipId"},
                            new SelectListItem(){ Text = "Customer Code", Value = "Customer Code"},
                            }, "", new { id = "OscOrderDefaultSearch", style = "width:165px", required = "required" })
                                                                <i class="fa fa-info-circle pl-1 pt-1 text-primary-color"
                                                                   data-bs-toggle="tooltip"
                                                                   title='set default search criteria to search a customer before generating any order search by name only search by address only search by mobile number only search by membership id only search by customer code only or "All" combination of above 5 methods'></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5 d-flex flex-wrap">
                                            <div class="white-box border-primary-color w-100 my-2">
                                                <div class="bg-color d-flex flex-wrap justify-content-start align-items-center p-2">
                                                    <label class="mb-0">New Order Screen Configurations</label>
                                                </div>
                                                <div class="p-3 d-flex flex-wrap justify-content-between align-items-center">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <div class="input-group input-group-sm">
                                                                <label class="input-border">Store Name</label>
                                                                @Html.DropDownListFor(model => model.OrderScreenConfigurationDto.OscUstName, ViewBag.RegisteredUserStoresListItems as IEnumerable<SelectListItem>, "Select", new { id = "OscUstName" })
                                                                <i class="fa fa-info-circle pl-1 pt-1 text-primary-color"
                                                                   data-bs-toggle="tooltip"
                                                                   title='select the default form for discount that you offer.'></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <div class="input-group input-group-sm">
                                                                <label class="input-border">Discount Type</label>
                                                                @Html.DropDownListFor(m => m.OrderScreenConfigurationDto.OscDiscountType, new[]{
                            new SelectListItem(){ Text = "Percentage", Value = "Percentage"},
                            new SelectListItem(){ Text = "Flat", Value = "Flat"},
                            }, "", new { id = "OscDiscountType", style = "width:147px", required = "required" })
                                                                <i class="fa fa-info-circle pl-1 pt-1 text-primary-color"
                                                                   data-bs-toggle="tooltip"
                                                                   title='select the default form for discount that you offer.'></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <div class="input-group input-group-sm">
                                                                <label class="input-border">Net Amount</label>
                                                                <div class="form-check form-check-inline mx-2">
                                                                    @Html.RadioButtonFor(m => m.OrderScreenConfigurationDto.OscOrderNetamountType, "Rounded", new { @id = "OscOrderNetamountTypeRounded" }) @Html.Label("Rounded")
                                                                </div>
                                                                <div class="form-check form-check-inline mx-2">
                                                                    @Html.RadioButtonFor(m => m.OrderScreenConfigurationDto.OscOrderNetamountType, "In Decimal", new { @id = "OscOrderNetamountTypeDecimal" }) @Html.Label("In Decimal")
                                                                </div>
                                                                <i class="fa fa-info-circle pl-1 pt-1 text-primary-color"
                                                                   data-bs-toggle="tooltip"
                                                                   title='should grand total be a integer or decimal'></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10 d-flex flex-wrap">
                                                    <div class="white-box border-primary-color w-100 my-2">
                                                        <div class="bg-color d-flex flex-wrap justify-content-start align-items-center p-2">
                                                            <label class="mb-0">Urgent Order Configurations</label>
                                                        </div>
                                                        <div class="p-3 d-flex flex-wrap justify-content-between align-items-center">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <div class="input-group input-group-sm">
                                                                        <label class="input-border text-danger-color">
                                                                            Urgent #1
                                                                        </label>
                                                                        @Html.Label("Same Day + 100%", "Same Day + 100%", new { @class = "input-border text-danger-color" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <div class="input-group input-group-sm">
                                                                        <label class="input-border">Rate</label>
                                                                        @Html.TextBoxFor(m => m.OrderScreenConfigurationDto.OscUrgentSameDayOrderRate, new { id = "OscUrgentSameDayOrderRate", @placeholder = "100", @class = "form-control input form-feedback-icon-valid" })
                                                                        <label class="input-border text-danger-color">%</label>
                                                                        <i class="fa fa-info-circle pl-1 pt-1 text-primary-color"
                                                                           data-bs-toggle="tooltip"
                                                                           title='Select how much price will be increased automatically if urgent services is selected.'></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <div class="input-group input-group-sm">
                                                                        <label class="input-border">Day Offset</label>
                                                                        @Html.TextBoxFor(m => m.OrderScreenConfigurationDto.OscUrgentSameDayOrderDayOffset, new { id = "OscUrgentSameDayOrderDayOffset", @placeholder = "0", @class = "form-control input form-feedback-icon-valid" })
                                                                        <i class="fa fa-info-circle pl-1 pt-1 text-primary-color"
                                                                           data-bs-toggle="tooltip"
                                                                           title='Select how would due date will be handled.'></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <div class="input-group input-group-sm">
                                                                        <label class="input-border text-danger-color">
                                                                            Urgent #2 &nbsp;
                                                                        </label>
                                                                        @Html.Label("Next Day + 50%", "Next Day + 50%", new { @class = "input-border text-danger-color" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <div class="input-group input-group-sm">
                                                                        <label class="input-border">Rate</label>
                                                                        @Html.TextBoxFor(m => m.OrderScreenConfigurationDto.OscUrgentNextDayOrderRate, new { id = "OscUrgentNextDayOrderRate", @placeholder = "50", @class = "form-control input form-feedback-icon-valid" })
                                                                        <label class="input-border text-danger-color">%</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group">
                                                                    <div class="input-group input-group-sm">
                                                                        <label class="input-border">Day Offset</label>
                                                                        @Html.TextBoxFor(m => m.OrderScreenConfigurationDto.OscUrgentNextDayOrderDayOffset, new { id = "OscUrgentNextDayOrderDayOffset", @placeholder = "1", @class = "form-control input form-feedback-icon-valid" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10 d-flex flex-wrap">
                                                    <div class="white-box border-primary-color w-100 my-2">
                                                        <div class="bg-color d-flex flex-wrap justify-content-start align-items-center p-2">
                                                            <label class="mb-0">Line of Business(Order) Confirmation Popup</label>
                                                            <i class="fa fa-info-circle pl-2 pt-1 text-white"
                                                               data-bs-toggle="tooltip"
                                                               title='Enable the pop up to confirm any one or more of the following information at the time of creating/updating the order: 1.Due date 2.Order edit remarks 3.Name of the person who has inspected the garments before acceptence.'></i>
                                                        </div>
                                                        <div class="p-3 d-flex flex-wrap justify-content-between align-items-center">
                                                            <div class="d-flex flex-column">
                                                                <div id="OscRule1Id_2" class="d-flex flex-wrap justify-content-start align-items-center">
                                                                    @Html.CheckBoxFor(m => m.OrderScreenConfigurationDto.OscRule1, new { id = "OscRule1Id" , @class = "form-check-input" })
                                                                    <label class="mb-0 text-size text-secondary">
                                                                        &nbsp; Select due date from order screen no confirmation required
                                                                    </label>
                                                                </div>
                                                                <div id="OscRule1Id_2" class="d-flex flex-wrap justify-content-start align-items-center">
                                                                    @Html.CheckBoxFor(m => m.OrderScreenConfigurationDto.OscRule2, new { id = "OscRule2Id", @class = "form-check-input" })
                                                                    <label class="mb-0 text-size text-secondary">
                                                                        &nbsp; Remark/reason is Not mandatory when an order is edited
                                                                    </label>
                                                                </div>
                                                                <div id="OscRule1Id_3" class="d-flex flex-wrap justify-content-start align-items-center">
                                                                    @Html.CheckBoxFor(m => m.OrderScreenConfigurationDto.OscRule3, new { id = "OscRule3Id", @class = "form-check-input" })
                                                                    <label class="mb-0 text-size text-secondary">
                                                                        &nbsp; Do not bother about who inspected the garments before acceptence
                                                                    </label>
                                                                </div>
                                                                <div id="OscRule1Id_4" class="d-flex flex-wrap justify-content-start align-items-center">
                                                                    @Html.CheckBoxFor(m => m.OrderScreenConfigurationDto.OscRule4, new { id = "OscRule4Id", @class = "form-check-input" })
                                                                    <label class="mb-0 text-size text-secondary">
                                                                        &nbsp; i do not wish to scan garments before returning back to the customer at the time of delivery
                                                                    </label>
                                                                </div>
                                                                <div id="OscRule1Id_5" class="d-flex flex-wrap justify-content-start align-items-center">
                                                                    @Html.CheckBoxFor(m => m.OrderScreenConfigurationDto.OscRule5, new { id = "OscRule5Id", @class = "form-check-input" })
                                                                    <label class="mb-0 text-size text-secondary">
                                                                        &nbsp; save or update rate in price list
                                                                    </label>
                                                                </div>
                                                                <div id="OscRule1Id_6" class="d-flex flex-wrap justify-content-start align-items-center">
                                                                    @Html.CheckBoxFor(m => m.OrderScreenConfigurationDto.OscRule6, new { id = "OscRule6Id", @class = "form-check-input" })
                                                                    <label class="mb-0 text-size text-secondary">
                                                                        &nbsp; Enable popup confirmation if price choosen as zero for any garment
                                                                    </label>
                                                                </div>
                                                                <div id="OscRule1Id_7" class="d-flex flex-wrap justify-content-start align-items-center">
                                                                    @Html.CheckBoxFor(m => m.OrderScreenConfigurationDto.OscRule7, new { id = "OscRule7Id", @class = "form-check-input" })
                                                                    <label class="mb-0 text-size text-secondary">
                                                                        &nbsp; I wish to click the "Print Receipt" button for the orders I need to print ticket for.
                                                                    </label>
                                                                </div>
                                                                <div id="OscRule1Id_8" class="d-flex flex-wrap justify-content-start align-items-center">
                                                                    @Html.CheckBoxFor(m => m.OrderScreenConfigurationDto.OscRule8, new { id = "OscRule8Id", @class = "form-check-input" })
                                                                    <label class="mb-0 text-size text-secondary">
                                                                        &nbsp; I wish to click the "Print Tags" button for the orders I need to print garment tags for.
                                                                    </label>
                                                                </div>
                                                                <div id="OscRule1Id_9" class="d-flex flex-wrap justify-content-start align-items-center">
                                                                    @Html.CheckBoxFor(m => m.OrderScreenConfigurationDto.OscRule9, new { id = "OscRule9Id", @class = "form-check-input" })
                                                                    <label class="mb-0 text-size text-secondary">
                                                                        &nbsp; Email Id Should be Optional for every customer.
                                                                    </label>
                                                                </div>
                                                                <div id="OscRule1Id_10" class="d-flex flex-wrap justify-content-start align-items-center">
                                                                    @Html.CheckBoxFor(m => m.OrderScreenConfigurationDto.OscRule10, new { id = "OscRule10Id", @class = "form-check-input" })
                                                                    <label class="mb-0 text-size text-secondary">
                                                                        &nbsp; Mobile No Should be Optional for every customer.
                                                                    </label>
                                                                </div>
                                                                <div id="OscRule1Id_11" class="d-flex flex-wrap justify-content-start align-items-center">
                                                                    @Html.CheckBoxFor(m => m.OrderScreenConfigurationDto.OscRule11, new { id = "OscRule11Id", @class = "form-check-input" })
                                                                    <label class="mb-0 text-size text-secondary">
                                                                        &nbsp; Area Location Should be Optional for every customer.
                                                                    </label>
                                                                </div>
                                                                <div id="OscRule1Id_12" class="d-flex flex-wrap justify-content-start align-items-center">
                                                                    @Html.CheckBoxFor(m => m.OrderScreenConfigurationDto.OscRule12, new { id = "OscRule12Id", @class = "form-check-input" })
                                                                    <label class="mb-0 text-size text-secondary">
                                                                        &nbsp; Make Order Notes OPtional for every new order.
                                                                    </label>
                                                                </div>
                                                                <div id="OscRule1Id_13" class="d-flex flex-wrap justify-content-start align-items-center">
                                                                    @Html.CheckBoxFor(m => m.OrderScreenConfigurationDto.OscRule13, new { id = "OscRule13Id", @class = "form-check-input" })
                                                                    <label class="mb-0 text-size text-secondary">
                                                                        &nbsp; Make Workshop Notes OPtional for every new order.
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-5"></div>
                                                <div class="col-sm-3">
                                                    <button id="btnOperation" class="bg-color w-fit-content border-primary-color border-round text-sizes d-flex justify-content-start align-items-center my-2">
                                                        <i class="fa fa-edit fa-lg px-2 line-height"></i>Add Default
                                                        Configurations
                                                    </button>
                                                </div>
                                                <div class="col-sm-4"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="white-box">
                                <div class="p-2">
                                    <div class="table-responsive" style="overflow: unset;">
                                        <table class="table table-bordered table-hover mb-0" cellspacing="0">
                                            <thead class="bg-secondary">
                                                <tr>
                                                    <th class="text-center text-white text-size">Operation</th>
                                                    <th class="text-center text-white text-size">Store Name</th>
                                                    <th class="text-center text-white text-size">Start Order From</th>
                                                    <th class="text-center text-white text-size">Deliver Date OffSet</th>
                                                    <th class="text-center text-white text-size">Delivery Time</th>
                                                    <th class="text-center text-white text-size">Urgent Order Enable</th>
                                                    <th class="text-center text-white text-size">LOB Rules Enable</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.ShowSuccessAlert == true)
                                                { }
                                                else if (Model.OrderConfigurations != null)
                                                    if (Model.OrderConfigurations.Count == 0)
                                                    {
                                                        <tr style="text-align:center">
                                                            <td>
                                                                <label> <b> No Order Configurations Found.... </b> </label>
                                                            </td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        @foreach (OrderScreenConfigurationDto orderConfigItem in Model.OrderConfigurations)
                                                        {

                                                            <tr>
                                                                <td class="text-center"><a class="btnselect btn btn-primary">Select</a> <a class="btndelete btn btn-primary">Delete</a></td>
                                                                <td name="UstName" class="text-center">@orderConfigItem.OscUstName</td>
                                                                <td class="text-center">@orderConfigItem.OscStartOrderFromPrefix@orderConfigItem.OscStartOrderFromPostfix</td>
                                                                <td class="text-center">@orderConfigItem.OscDeliveryDateOffset</td>
                                                                <td class="text-center">@orderConfigItem.OscDeliveryTimePrefix@orderConfigItem.OscDeliveryTimePostfix </td>
                                                                <td class="text-center">
                                                                    @{ if (@orderConfigItem.OscUrgentSameDayOrderDayOffset != null && @orderConfigItem.OscUrgentNextDayOrderDayOffset != null)
                                                                            @Html.Label("Active")
                                                                            else
                                                                                @Html.Label("InActive")
                                                                    }
                                                                </td>
                                                                <td class="text-center">
                                                                    @{ if (@orderConfigItem.OscRule1 == true || @orderConfigItem.OscRule2 == true
                                                                                 || @orderConfigItem.OscRule3 == true || @orderConfigItem.OscRule4 == true
                                                                                 || @orderConfigItem.OscRule5 == true || @orderConfigItem.OscRule6 == true
                                                                                 || @orderConfigItem.OscRule7 == true || @orderConfigItem.OscRule8 == true
                                                                                 || @orderConfigItem.OscRule9 == true || @orderConfigItem.OscRule10 == true
                                                                                 || @orderConfigItem.OscRule11 == true || @orderConfigItem.OscRule12 == true
                                                                                 )
                                                                            @Html.Label("Enabled")
                                                                            else
                                                                                @Html.Label("Disabled")
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                if ($("#IsFormSubmit").val() != undefined && $("#IsFormSubmit").val() == "true") {
                    $("#OrderConfig").submit();
                }
                $('#alertmessagediv').fadeIn().delay(3000).fadeOut('slow');
            });

            $('.btnselect').click(function (e) {
                $("#btnOperation").html('Update');
                var currentRow = $(this).closest("tr");
                var usrStoreName = currentRow.find("td:eq(1)").text();
                var usrEmail = $("#usrEmail").val();
                var model = {
                    'usrEmail': usrEmail.trim(),
                    'usrStoreName': usrStoreName.trim(),
                }
                $.ajax({
                    url: '@Url.Action("SelectedStoreConfigDetails", "OrderConfig")',
                    type: "POST",
                    data: model,
                    success: function (result)
                    {
                        $("#OscId").val(result.oscId);
                        $("#OscStartOrderFromPrefix").val(result.oscStartOrderFromPrefix).change();
                        $("#OscStartOrderFromPostfix").val(result.oscStartOrderFromPostfix);
                        $("#OscDeliveryDateOffset").val(result.oscDeliveryDateOffset);
                        $("#OscDeliveryTimePrefix").val(result.oscDeliveryTimePrefix).change();
                        $("#OscDeliveryTimePostfix").val(result.oscDeliveryTimePostfix).change();
                        $("#OscOrderDefaultSearch").val(result.oscOrderDefaultSearch).change();
                        $("#OscUstName").val(result.oscUstName).change();
                        $("#OscDiscountType").val(result.oscDiscountType).change();
                        if (result.oscOrderNetamountType =="Rounded")
                            $("#OscOrderNetamountTypeRounded").prop("checked", true)
                        else
                            $("#OscOrderNetamountTypeDecimal").prop("checked", true)
                        $("#OscUrgentSameDayOrderRate").val(result.oscUrgentSameDayOrderRate);
                        $("#OscUrgentSameDayOrderDayOffset").val(result.oscUrgentSameDayOrderDayOffset);
                        $("#OscUrgentNextDayOrderRate").val(result.oscUrgentNextDayOrderRate);
                        $("#OscUrgentNextDayOrderDayOffset").val(result.oscUrgentNextDayOrderDayOffset);
                        if (result.oscRule1==true)
                            $("#OscRule1Id").prop('checked', true);
                        if (result.oscRule2==true)
                            $("#OscRule2Id").prop('checked', true);
                        if (result.oscRule3==true)
                            $("#OscRule3Id").prop('checked', true);
                        if (result.oscRule4==true)
                            $("#OscRule4Id").prop('checked', true);
                        if (result.oscRule5==true)
                            $("#OscRule5Id").prop('checked', true);
                        if (result.oscRule6==true)
                            $("#OscRule6Id").prop('checked', true);
                        if (result.oscRule7==true)
                            $("#OscRule7Id").prop('checked', true);
                        if (result.oscRule8==true)
                            $("#OscRule8Id").prop('checked', true);
                        if (result.oscRule9==true)
                            $("#OscRule9Id").prop('checked', true);
                        if (result.oscRule10==true)
                            $("#OscRule10Id").prop('checked', true);
                        if (result.oscRule11==true)
                            $("#OscRule11Id").prop('checked', true);
                        if (result.oscRule12==true)
                            $("#OscRule12Id").prop('checked', true);
                        if (result.oscRule13==true)
                            $("#OscRule13Id").prop('checked', true);
                    }
                });
            });
        </script>
    </div>
</body >
