﻿@model FLS.LC.Web.Models.Master.lstStoreHolidayResponseDto
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/lc.css" asp-append-version="true" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b7245b8622.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <div>
        <div class="position-absolute holidays-main-content holidays-main-min-width">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="holidays-white-box holidays-border-primary-color">
                            <div class="holidays-bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                <label class="mb-0 holidays-font-size">Store</label>
                            </div>
                            <form class="px-3 py-1" enctype="multipart/form-data" autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group d-flex my-2">
                                            <div class="input-group input-group-sm">
                                                @Html.DropDownListFor(model => model.usthUserStore, ViewBag.RegisteredUserStoresListItems as IEnumerable<SelectListItem>, "Select Store", new { id = "StcUstName" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="holidays-white-box holidays-border-primary-color">
                            <div class="holidays-bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                <label class="mb-0 holidays-font-size">Holiday Events</label>
                            </div>
                            <form method="get" id="storeHoliday" enctype="multipart/form-data" asp-controller="Holidays" asp-action="StoreHolidays" class="p-3" novalidate autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group required d-flex my-2">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text">Date</span>
                                                <input type="date" id="holidaydate" class="form-control" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group required d-flex my-2">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text">Holiday Description</span>
                                                @Html.TextAreaFor(m => m.UsthHolidayDescription, new { @rows = 1, id = "holidayDescription", @class = "form-control", @placeholder = "Kindly Enter Holiday Description" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="mb-0 text-justify holidays-font-size">Weekly off and other holidays will not be offered as Delivery Date(Delivery Date will automatically get published to next working day)</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12 d-flex flex-wrap justify-content-start">
                                            <button id="btnHolidaySave" type="button" class="btn btn-info holidays-font my-2 mr-2">
                                                <i class="fa fa-floppy-o"></i>
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="holidays-white-box holidays-border-primary-color">
                            <div class="holidays-bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                <label class="mb-0 holidays-font-size">Weekly OFF</label>
                            </div>
                            <form class="px-3 py-1" enctype="multipart/form-data" autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group d-flex my-2">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text">Weekly off</span>
                                                <select id="weeklyOff" class="form-select">
                                                    <option value="">None</option>
                                                    <option value="Monday">Monday</option>
                                                    <option value="Tuesday">Tuesday</option>
                                                    <option value="Wednesday">Wednesday</option>
                                                    <option value="Thursday">Thursday</option>
                                                    <option value="Friday">Friday</option>
                                                    <option value="Saturday">Saturday</option>
                                                    <option value="Sunday">Sunday</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12 d-flex flex-wrap justify-content-start">
                                        <button id="btnWeeklySave" type="button" class="btn btn-info holidays-font my-2 mr-2">
                                            <i class="fa fa-floppy-o"></i>
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 weekholidays-margin-bottom">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-sm">
                                <thead class="bg-secondary">
                                    <tr>
                                        <th class="text-center text-white holidays-font-size">Weekly OFF</th>
                                        <th class="text-center text-white holidays-font-size">Description</th>
                                        <th class="text-center text-white holidays-font-size">Date</th>
                                        <th class="text-center text-white holidays-font-size">Day</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.lstStoreHoliday == null || Model.lstStoreHoliday.Count == 0 || Model.ShowSuccessAlert == false)
                                    {
                                        <tr style="text-align:center">
                                            <td>
                                                <label> <b> No Registered Store Holidays Found.... </b> </label>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var storeholiday in Model.lstStoreHoliday)
                                        {
                                            <tr class="border">
                                                <td class="text-center"><a class="btnselect btn btn-primary">Select</a></td>
                                                <td class="text-center">@storeholiday.UsthHolidayDescription</td>
                                                <td class="text-center">@storeholiday.UsthHolidayDate</td>
                                                @Html.Hidden("useremail", storeholiday.UsthUsremail, new { @id = "useremail" })
                                                @Html.Hidden("userstore", storeholiday.UsthUstname, new { @id = "userstore" })
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 holidays-margin-bottom">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-sm">
                                <thead class="bg-secondary">
                                    <tr>
                                        <th class="text-center text-white holidays-font-size">Holiday Events</th>
                                        <th class="text-center text-white holidays-font-size">Description</th>
                                        <th class="text-center text-white holidays-font-size">Date</th>
                                        <th class="text-center text-white holidays-font-size">Day</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.lstStoreHoliday == null || Model.lstStoreHoliday.Count == 0 || Model.ShowSuccessAlert == false)
                                    {
                                        <tr style="text-align:center">
                                            <td>
                                                <label> <b> No Registered Store Holidays Found.... </b> </label>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var storeholiday in Model.lstStoreHoliday)
                                        {
                                            <tr class="border">
                                                <td class="text-center"><a class="btnselect btn btn-primary">Select</a></td>
                                                <td class="text-center">@storeholiday.UsthHolidayDescription</td>
                                                <td class="text-center">@storeholiday.UsthHolidayDate</td>
                                                @Html.Hidden("useremail", storeholiday.UsthUsremail, new { @id = "useremail" })
                                                @Html.Hidden("userstore", storeholiday.UsthUstname, new { @id = "userstore" })
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
        });
        $('.btnselect').click(function (e)
        {
            $("#btnHolidaySave").html('Update');
            var currentRow = $(this).closest("tr");
            $("#holidayDescription").val(currentRow.find("td:eq(1)").text());
            var date = new Date(currentRow.find("td:eq(2)").text());
            var selectedDate = date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + ("0" + date.getDate()).slice(-2);
            $('#holidaydate').val(selectedDate);
            $("#StcUstName").val($("#userstore").val().trim());
        });
        $("#StcUstName").change(function (e)
        {
            var selectedStore = $("#StcUstName").val();
            var model = {
                'UsthUstname': selectedStore.trim()
            }
            $.ajax({
                url: '@Url.Action("StoreHolidaysByStore", "Holidays")',
                type: "Get",
                data: model,
                success: function (result) {
                    if (result == "true") {
                        $("#storeHoliday").submit();
                    }
                }
            });
        });
        $("#btnWeeklySave").click(function (e) {
            var selectedStore = $("#StcUstName option:selected").val();
            if (selectedStore == "") {
                alert("Please Select Store");
                return false;
            }
            var selectedWeeklyOffDay = $("#weeklyOff option:selected").val();
            if (selectedWeeklyOffDay == "") {
                alert("Please Select Weekly off Day");
                return false;
            }
            var model = {
                'UsthUstname': selectedStore.trim(),
                'UsthWeekOffHoliday': selectedWeeklyOffDay.trim()
            }
            $.ajax({
                url: '@Url.Action("PostStoreWeekOffHoliday", "Holidays")',
                type: "POST",
                data: model,
                success: function (result) {
                }
            });


        });

        $("#btnHolidaySave").click(function (e) {
            var selectedDate=$("#holidaydate").val();
            var selectedDescription = $("#holidayDescription").val();
            var selectedStore = $("#StcUstName option:selected").val();
            if (selectedStore == "")
            {
                alert("Please Select Store");
                return false;
            }
                            var model = {
                'UsthUstname': selectedStore.trim(),
                'UsthHolidayDate': selectedDate.trim(),
                'UsthHolidayDescription': selectedDescription.trim()
            }
            $.ajax({
                url: '@Url.Action("PostStoreHoliday", "Holidays")',
                type: "POST",
                data: model,
                success: function (result) {
                    if (result == "true") {
                        $("#storeHoliday").submit();
                    }
                }
            });
        });
    </script>
</body>
</html>
