﻿<!doctype html>
<html lang="en" style="overflow-y:scroll !important">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/lcMain.css" asp-append-version="true" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b7245b8622.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <div>
        <div class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()" id="mySidebar">
            <div class="hoverable-sidebar hover">
                <span class="dashboard-sidebar-text-color">Menu</span>
            </div>
            <ul class="nav flex-column">
                <li class="mb-3">
                    <a href="@Url.Action("Home", "Home")">
                        <span class="icon"><i class="fa fa-home fa-2x"></i></span>
                        <span class="item">Home</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a>
                        <span class="icon"><i class="fa fa-user fa-2x"></i></span>
                        <span class="item">Customer</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a href="@Url.Action("DailyDashBoard", "DashBoard")">
                        <span class="icon"><i class="fa fa-dashboard fa-2x"></i></span>
                        <span class="item">Dashboard</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a>
                        <span class="icon"><i class="fa fa-bar-chart fa-2x"></i></span>
                        <span class="item">Reports</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a>
                        <span class="icon"><i class="fa fa-cogs fa-2x"></i></span>
                        <span class="item">Set Up</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a>
                        <span class="icon"><i class="fa fa-cog fa-2x"></i></span>
                        <span class="item">Config Store</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a>
                        <span class="icon"><i class="fa fa-question-circle-o fa-2x"></i></span>
                        <span class="item">Help</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="position-absolute dashboard-main-min-width dashboard-main-content">
            <nav class="dashboard-topbar navs">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-1 d-flex justify-content-center">
                            <div class="d-flex flex-wrap flex-column justify-content-center align-items-center border-line">
                                <img src="~/assests/logo.png" width="130" height="50" alt="message" />
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-1 d-flex flex-wrap justify-content-center align-items-center">
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <i class="fa fa-user mx-1"></i>
                                    Customer
                                    <i class="fa fa-caret-down mx-1"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="@Url.Action("Home", "Home")"><i class="fa fa-home mx-2"></i>Home</a>
                                    <a href="@Url.Action("MemberPreferences", "MemberPreferences")"><i class="fa fa-user mx-2"></i>Member Preferences</a>
                                    <a href="@Url.Action("Member", "Member")"><i class="fa fa-plus mx-2"></i>Add New</a>
                                    <a href="#"><i class="fa fa-shopping-cart mx-2"></i>Customer Order Details</a>
                                    <a href="#"><i class="fa fa-money mx-2"></i>Customer Advances</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-1 d-flex flex-wrap justify-content-center align-items-center">
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <i class="fa fa-download mx-1"></i>
                                    Drop
                                    <i class="fa fa-caret-down mx-1"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="#"><i class="fa fa-edit mx-2"></i>Edit Order</a>
                                    <a href="#"><i class="fa fa-times mx-2"></i>Cancel Order</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-1 d-flex flex-wrap justify-content-center align-items-center">
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <i class="fa fa-bitbucket mx-1"></i>
                                    Process
                                    <i class="fa fa-caret-down mx-1"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href=""><i class="fa fa-print mx-2"></i>Print Barcode</a>
                                    <a href="@Url.Action("Sticker", "Sticker")"><i class="fa fa-shopping-bag mx-2"></i>Packing Stickers</a>
                                    <a href="#"><i class="fa fa-tasks mx-2"></i>Workshop Note</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-1 d-flex flex-wrap justify-content-center align-items-center">
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <i class="fa fa-dollar mx-1"></i>
                                    Account
                                    <i class="fa fa-caret-down mx-1"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="#"><i class="fa fa-money mx-2"></i>Cash/Day Book</a>
                                    <a href="#"><i class="fa fa-info-circle mx-2"></i>Detail Cash/Day Book</a>
                                    <a href="#"><i class="fa fa-tasks mx-2"></i>Expenses</a>
                                    <a href="#"><i class="fa fa-credit-card mx-2"></i>PaymentType</a>
                                    <a href="#"><i class="fa fa-percent mx-2"></i>Tax Report</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-1 d-flex flex-wrap justify-content-center align-items-center">
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <i class="fa fa-book mx-1"></i>
                                    Reports
                                    <i class="fa fa-caret-down mx-1"></i>
                                </button>
                                <div class="dropdown-content tablet-dropdown-content">
                                    <a href="#"><i class="fa fa-shopping-cart mx-2"></i>Orders</a>
                                    <a href="#"><i class="fa fa-truck mx-2"></i>Sales and Delivery</a>
                                    <a href="#"><i class="fa fa-wrench mx-2"></i>Service Wise Order</a>
                                    <a href="#"><i class="fa fa-list-alt mx-2"></i>Category Wise Report</a>
                                    <a href="#"><i class="fas fa-female mx-2"></i>Service and Garment</a>
                                    <a href="#"><i class="fas fa-tshirt mx-2"></i>Garment Wise</a>
                                    <a href="#"><i class="fa fa-window-restore mx-2"></i>Garment Status</a>
                                    <a href="#"><i class="fa fa-child mx-2"></i>Returned Garments</a>
                                    <a href="#"><i class="fa fa-plus mx-2"></i>Daily Customer Addition</a>
                                    <a href="#"><i class="fa fa-times mx-2"></i>Cancel Booking</a>
                                    <a href="#"><i class="fa fa-ticket mx-2"></i>Without Ticket Delivery</a>
                                    <a href="#"><i class="fa fa-map-marker mx-2"></i>Order By Locality</a>
                                    <a href="#"><i class="fa fa-clock-o mx-2"></i>Pending Stock</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-1 d-flex flex-wrap justify-content-center align-items-center">
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <i class="fa fa-database mx-1"></i>
                                    MasterConfig
                                    <i class="fa fa-caret-down mx-1"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="@Url.Action("BrandConfiguration", "BrandConfiguration")"><i class="fa fa-shirtsinbulk mx-2"></i>Brand</a>
                                    <a href="@Url.Action("ColorConfiguration", "ColorConfiguration")"><i class="fa fa-palette mx-2"></i>Colours</a>
                                    <a href="#"><i class="fa fa-clock-o mx-2"></i>Set Time Zone</a>
                                    <a href="#"><i class="fa fa-user mx-2"></i>Customer Mobile App</a>
                                    <a href="#"><i class="fa fa-warning mx-2"></i>Customer at Risk</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-1 d-flex flex-wrap justify-content-center align-items-center">
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <i class="fa fa-cog mx-1"></i>
                                    Admin Config
                                    <i class="fa fa-caret-down mx-1"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="#"><i class="fa fa-dashboard mx-2"></i>Daily DashBoard</a>
                                    <a href="@Url.Action("OrderConfig", "OrderConfig")"><i class="fa fa-map-marker mx-2"></i>Order PicUp & Drop Config</a>
                                    <a href="@Url.Action("StickerConfiguration", "StickerConfiguration")"><i class="fa fa-cogs mx-2"></i>Sticker Configuration</a>
                                    <a href="@Url.Action("ChangePassword", "Login")"><i class="fa fa-warning mx-2"></i>Change Password</a>
                                    <a href="#"><i class="fas fa-comment mx-2"></i>SMS Configuration</a>
                                    <a href="#"><i class="fa fa-envelope mx-2"></i>Email Configuration</a>
                                    <a href="#"><i class="fa fa-percent mx-2"></i>Discount Restriction</a>
                                    <a href="#"><i class="fa fa-calendar-week mx-2"></i>Subscription Details</a>
                                    <a href="#"><i class="fa fa-file-invoice mx-2"></i>Search Invoice</a>
                                    <a href="#"><i class="fa fa-credit-card mx-2"></i>Payment Gateway Setup</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-1 d-flex flex-wrap justify-content-center align-items-center">
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <i class="fa fa-download mx-1"></i>
                                    GarmentsConfig
                                    <i class="fa fa-caret-down mx-1"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="@Url.Action("GarmentsCategory", "GarmentsCategory")"><i class="fa fa-list-alt mx-2"></i>Garment Category</a>
                                    <a href="@Url.Action("GarmentsList", "GarmentsListConfiguration")"><i class="fa fa-list mx-2"></i>Garment List</a>
                                    <a href="@Url.Action("PriceListConfiguration", "PriceListConfiguration")"><i class="fa fa-dollar mx-2"></i>Price List</a>
                                    <a href="@Url.Action("GarmentsRemarks", "GarmentsRemarks")"><i class="fa fa-file-text mx-2"></i>Garment Remarks</a>
                                    <a href="@Url.Action("GarmentCheckingStaff", "GarmentCheckingStaff")"><i class="fa fa-user-secret mx-2"></i>Garment Checking Staff</a>
                                    <a href="@Url.Action("GarmentReturnCause", "GarmentReturnCause")"><i class="fas fa-tshirt mx-2"></i>Garment Return Cause</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-1 d-flex flex-wrap justify-content-center align-items-center">
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <i class="fa fa-download mx-1"></i>
                                    StoreConfig
                                    <i class="fa fa-caret-down mx-1"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="@Url.Action("RegStores", "Store")"><i class="fa fa-info-circle mx-2"></i>Store Configuration</a>
                                    <a href="#"><i class="fa fa-wrench mx-2"></i>Store Services</a>
                                    <a href="#"><i class="fa fa-graduation-cap mx-2"></i>Store Laundry Services</a>
                                    <a href="@Url.Action("StoreHolidays", "Holidays")"><i class="fa fa-leaf mx-2"></i>Store Holidays</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-1 d-flex flex-wrap justify-content-center align-items-center">
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <i class="fa fa-download mx-1"></i>
                                    Paymenonfig
                                    <i class="fa fa-caret-down mx-1"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="#"><i class="fa fa-money mx-2"></i>Payment Adjustment Type</a>
                                    <a href="#"><i class="fa fa-credit-card mx-2"></i>Payment Mode Type</a>
                                    <a href="#"><i class="fas fa-receipt mx-2"></i>Receipt</a>
                                    <a href="#"><i class="fa fa-percent mx-2"></i>Default Tax Rates</a>
                                    <a href="#"><i class="fa fa-cog mx-2"></i>Advanced Settings</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-1 d-flex flex-wrap justify-content-end align-items-center">
                            <div class="my-3 d-flex flex-wrap justify-content-center align-items-center w-100">
                                <div class="notification mx-2">
                                    <a class="logout" href="#"><i class="fa fa-bell-o fa-lg"></i></a>
                                    <div class='status-circle'></div>
                                </div>
                                <a class="logout" href="@Url.Action("Logout", "Logout")"><i class="fa fa-power-off fa-lg mx-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div>
                @RenderBody()
            </div>
            <div class="dashboard-footer" id="footer">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 footer-content">
                            <Span class="footerColor mr-2">
                                <i class="fa fa-copyright mr-1" aria-hidden="true"></i>Excel
                                Laundry
                                Services.com
                            </Span>
                            <span class="footer-horizonLine"></span>
                            <a class="footerColor mx-2" href="#">Contact Us</a>
                            <span class="footer-horizonLine"></span>
                            <a class="footerColor mx-2" href="#">Privacy Policy</a>
                            <span class="footer-horizonLine"></span>
                            <a class="footerColor ml-2" href="#">Terms of service</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
var mini = true;
            function toggleSidebar() {
                if (mini) {
                    document.getElementById("mySidebar").style.width = "100px";
                    document.getElementsByClassName("hover")[0].style.display = "none";
                    this.mini = false;
                } else {
                    document.getElementById("mySidebar").style.width = "0px";
                    document.getElementsByClassName("hover")[0].style.display = "flex";
                    this.mini = true;
                }
            }</script>
    </div>
</body>

</html>