﻿@using FLS.LC.Web.Models
<html>
<head>
    </head>
<body>
    @using Newtonsoft.Json;
    @if (TempData["AlertMessage"] != null)
    {
        var returnMessage = TempData["AlertMessage"];
        var displayMessage = JsonConvert.DeserializeObject<MessageDto>(returnMessage.ToString());
        <div class="container" id="alertmessagediv">
            <div class="alert @displayMessage.CssClassName alert-dismissible fade show" id="alertstatus">
                <h5 class="alert-heading">@displayMessage.Title</h5>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                @displayMessage.DisplayMessage
            </div>
        </div>
    }
</body>

</html>