﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/lcMain.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>
    <div>
        <div class="position-absolute mAddNew-main-content mAddNew-main-min-width">
            <div class="alert alert-primary text-secondary text-center d-flex flex-wrap justify-content-center align-items-center m-3" role="alert">
            </div>
            <div class="col-md-12 mAddNew-margin-bottom">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="mAddNew-white-box mAddNew-border-primary-color">
                            <div class="mAddNew-bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                <label class="mb-0 mAddNew-font-size">Customer Create/Update/Delete</label>
                            </div>
                            <form class="px-3 py-1" enctype="multipart/form-data" autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-12 mt-2">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <i class="input-group-text fa fa-search"></i>
                                                <input type="text" class="form-control"
                                                       placeholder="Search Customer here to Edit/Delete a Customer" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group required">
                                            <label class="form-label text-secondary mAddNew-font-size">Customer Code</label>
                                            <div class="input-group input-group-sm">
                                                <i class="input-group-text fa fa-user"></i>
                                                <select class="form-select form-select-sm">
                                                    <option value="">Choose</option>
                                                    <option value="1">Mr</option>
                                                    <option value="2">Mrs</option>
                                                    <option value="3">Ms</option>
                                                    <option value="4">Dr</option>
                                                    <option value="5">M/S</option>
                                                    <option value="6">Pastor</option>
                                                    <option value="7">Deacon</option>
                                                    <option value="8">Deaconess</option>
                                                    <option value="9">Cheif</option>
                                                    <option value="10">VIP</option>
                                                    <option value="11">HNI</option>
                                                    <option value="12">MLA</option>
                                                    <option value="13">ARCH</option>
                                                    <option value="14">ADV</option>
                                                </select>
                                                <input type="text" class="form-control" placeholder="Name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 column">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <i class="input-group-text fa fa-users"></i>
                                                <input type="text" class="form-control"
                                                       placeholder="Membership ID" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 column">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <i class="input-group-text fa fa-barcode"></i>
                                                <input type="text" class="form-control"
                                                       placeholder="Barcode" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group required">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text">Address</span>
                                                <textarea class="form-control" placeholder="Address"
                                                          rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text">Area Location</span>
                                                <textarea class="form-control" placeholder="Area Location"
                                                          rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <i class="input-group-text fa fa-birthday-cake"></i>
                                                <input type="text" class="form-control"
                                                       placeholder="Birthday" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <i class="input-group-text fa fa-gift"></i>
                                                <input type="text" class="form-control"
                                                       placeholder="Anniversary" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <i class="input-group-text fa fa-bell-o"></i>
                                                <input type="text" class="form-control"
                                                       placeholder="Remarks" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <label class="input-group-text">Home Delivery</label>
                                                <select class="form-select">
                                                    <option value="">Choose</option>
                                                    <option value="1">No</option>
                                                    <option value="2">Yes</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <label class="input-group-text">State</label>
                                                <select class="form-select">
                                                    <option value="">Select</option>
                                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                    <option value="Andaman and Nicobar Islands">
                                                        Andaman and Nicobar
                                                        Islands
                                                    </option>
                                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                    <option value="Assam">Assam</option>
                                                    <option value="Bihar">Bihar</option>
                                                    <option value="Chandigarh">Chandigarh</option>
                                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                                    <option value="Dadar and Nagar Haveli">
                                                        Dadar and Nagar Haveli
                                                    </option>
                                                    <option value="Daman and Diu">Daman and Diu</option>
                                                    <option value="Delhi">Delhi</option>
                                                    <option value="Lakshadweep">Lakshadweep</option>
                                                    <option value="Puducherry">Puducherry</option>
                                                    <option value="Goa">Goa</option>
                                                    <option value="Gujarat">Gujarat</option>
                                                    <option value="Haryana">Haryana</option>
                                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                    <option value="Jharkhand">Jharkhand</option>
                                                    <option value="Karnataka">Karnataka</option>
                                                    <option value="Kerala">Kerala</option>
                                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                    <option value="Maharashtra">Maharashtra</option>
                                                    <option value="Manipur">Manipur</option>
                                                    <option value="Meghalaya">Meghalaya</option>
                                                    <option value="Mizoram">Mizoram</option>
                                                    <option value="Nagaland">Nagaland</option>
                                                    <option value="Odisha">Odisha</option>
                                                    <option value="Punjab">Punjab</option>
                                                    <option value="Rajasthan">Rajasthan</option>
                                                    <option value="Sikkim">Sikkim</option>
                                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                                    <option value="Telangana">Telangana</option>
                                                    <option value="Tripura">Tripura</option>
                                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                    <option value="Uttarakhand">Uttarakhand</option>
                                                    <option value="West Bengal">West Bengal</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text">Pin Code</span>
                                                <input type="text" class="form-control"
                                                       placeholder="Pin code" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text">Marketing Source</span>
                                                <input type="text" class="form-control"
                                                       placeholder="Marketing Source" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <i class="input-group-text fa fa-tty"></i>
                                                <input type="text" class="form-control" placeholder="Phone" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <i class="input-group-text fa fa fa-envelope-o"></i>
                                                <input type="text" class="form-control" placeholder="Email ID" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <i class="input-group-text fa fa-phone"></i>
                                                <select id="id_select2_example" class="form-select">
                                                    <option data-img_src="../flags/af.png" value="AF">
                                                        Afghanistan(93)
                                                    </option>
                                                    <option data-img_src="../flags/al.png" value="AL">
                                                        Albania(355)
                                                    </option>
                                                    <option data-img_src="../flags/dz.png" value="DZ">
                                                        Algeria(213)
                                                    </option>
                                                    <option data-img_src="../flags/as.png" value="AS">
                                                        American Samoa(1684)
                                                    </option>
                                                    <option data-img_src="../flags/ad.png" value="AD">
                                                        Andorra(376)
                                                    </option>
                                                    <option data-img_src="../flags/ao.png" value="AO">
                                                        Angola(244)
                                                    </option>
                                                    <option data-img_src="../flags/ai.png" value="AI">
                                                        Anguilla(1264)
                                                    </option>
                                                    <option data-img_src="../flags/aq.png" value="AQ">
                                                        Antarctica
                                                    </option>
                                                    <option data-img_src="../flags/ag.png" value="AG">
                                                        Antigua & Barbuda(1268)
                                                    </option>
                                                    <option data-img_src="../flags/ar.png" value="AR">
                                                        Argentina(54)
                                                    </option>
                                                    <option data-img_src="../flags/am.png" value="AM">
                                                        Armenia(374)
                                                    </option>
                                                    <option data-img_src="../flags/aw.png" value="AW">
                                                        Aruba(297)
                                                    </option>
                                                    <option data-img_src="../flags/au.png" value="AU">
                                                        Australia(61)
                                                    </option>
                                                    <option data-img_src="../flags/at.png" value="AT">
                                                        Austria(43)
                                                    </option>
                                                    <option data-img_src="../flags/az.png" value="AZ">
                                                        Azerbaijan(994)
                                                    </option>
                                                    <option data-img_src="../flags/bs.png" value="BS">
                                                        Bahamas(1242)
                                                    </option>
                                                    <option data-img_src="../flags/bh.png" value="BH">
                                                        Bahrain(973)
                                                    </option>
                                                    <option data-img_src="../flags/bd.png" value="BD">
                                                        Bangladesh(880)
                                                    </option>
                                                    <option data-img_src="../flags/bb.png" value="BB">
                                                        Barbados(1246)
                                                    </option>
                                                    <option data-img_src="../flags/by.png" value="BY">
                                                        Belarus(375)
                                                    </option>
                                                    <option data-img_src="../flags/be.png" value="BE">
                                                        Belgium(32)
                                                    </option>
                                                    <option data-img_src="../flags/bz.png" value="BZ">
                                                        Belize(501)
                                                    </option>
                                                    <option data-img_src="../flags/bj.png" value="BJ">
                                                        Benin(229)
                                                    </option>
                                                    <option data-img_src="../flags/bm.png" value="BM">
                                                        Bermuda(1441)
                                                    </option>
                                                    <option data-img_src="../flags/bt.png" value="BT">
                                                        Bhutan(975)
                                                    </option>
                                                    <option data-img_src="../flags/bo.png" value="BO">
                                                        Bolivia(591)
                                                    </option>
                                                    <option data-img_src="../flags/ba.png" value="BA">
                                                        Bosnia & Herzegowina(387)
                                                    </option>
                                                    <option data-img_src="../flags/bw.png" value="BW">
                                                        Botswana(267)
                                                    </option>
                                                    <option data-img_src="../flags/bv.png" value="BV">
                                                        Bouvet Island
                                                    </option>
                                                    <option data-img_src="../flags/br.png" value="BR">
                                                        Brazil(55)
                                                    </option>
                                                    <option data-img_src="../flags/io.png" value="IO">
                                                        British Indian Ocean Territory
                                                    </option>
                                                    <option data-img_src="../flags/bn.png" value="BN">
                                                        Brunei Darussalam(673)
                                                    </option>
                                                    <option data-img_src="../flags/bg.png" value="BG">
                                                        Bulgaria(359)
                                                    </option>
                                                    <option data-img_src="../flags/bf.png" value="BF">
                                                        Burkina Faso(226)
                                                    </option>
                                                    <option data-img_src="../flags/bi.png" value="BI">
                                                        Burundi(257)
                                                    </option>
                                                    <option data-img_src="../flags/kh.png" value="KH">
                                                        Cambodia(855)
                                                    </option>
                                                    <option data-img_src="../flags/cm.png" value="CM">
                                                        Cameroon(237)
                                                    </option>
                                                    <option data-img_src="../flags/ca.png" value="CA">
                                                        Canada(1)
                                                    </option>
                                                    <option data-img_src="../flags/cv.png" value="CV">
                                                        Cape Verde(238)
                                                    </option>
                                                    <option data-img_src="../flags/ky.png" value="KY">
                                                        Cayman Islands(1345)
                                                    </option>
                                                    <option data-img_src="../flags/cf.png" value="CF">
                                                        Central African Republic(236)
                                                    </option>
                                                    <option data-img_src="../flags/td.png" value="TD">
                                                        Chad(235)
                                                    </option>
                                                    <option data-img_src="../flags/cl.png" value="CL">
                                                        Chile(56)
                                                    </option>
                                                    <option data-img_src="../flags/cn.png" value="CN">
                                                        China(86)
                                                    </option>
                                                    <option data-img_src="../flags/cx.png" value="CX">
                                                        Christmas Island
                                                    </option>
                                                    <option data-img_src="../flags/cc.png" value="CC">
                                                        Cocos Islands
                                                    </option>
                                                    <option data-img_src="../flags/co.png" value="CO">
                                                        Colombia(57)
                                                    </option>
                                                    <option data-img_src="../flags/km.png" value="KM">
                                                        Comoros(269)
                                                    </option>
                                                    <option data-img_src="../flags/cg.png" value="CG">
                                                        Congo(242)
                                                    </option>
                                                    <option data-img_src="../flags/cd.png" value="CD">
                                                        Congo,Democratic Republic(242)
                                                    </option>
                                                    <option data-img_src="../flags/ck.png" value="CK">
                                                        Cook Islands(682)
                                                    </option>
                                                    <option data-img_src="../flags/cr.png" value="CR">
                                                        Costa Rica(506)
                                                    </option>
                                                    <option data-img_src="../flags/ci.png" value="CI">
                                                        Cote d'Ivoire(225)
                                                    </option>
                                                    <option data-img_src="../flags/hr.png" value="HR">
                                                        Croatia (Hrvatska)(385)
                                                    </option>
                                                    <option data-img_src="../flags/cu.png" value="CU">
                                                        Cuba(53)
                                                    </option>
                                                    <option data-img_src="../flags/cy.png" value="CY">
                                                        Cyprus(357)
                                                    </option>
                                                    <option data-img_src="../flags/cz.png" value="CZ">
                                                        Czech Republic(420)
                                                    </option>
                                                    <option data-img_src="../flags/dk.png" value="DK">
                                                        Denmark(45)
                                                    </option>
                                                    <option data-img_src="../flags/dj.png" value="DJ">
                                                        Djibouti(253)
                                                    </option>
                                                    <option data-img_src="../flags/dm.png" value="DM">
                                                        Dominica1(767)
                                                    </option>
                                                    <option data-img_src="../flags/do.png" value="DO">
                                                        Dominican Republic(1809)
                                                    </option>
                                                    <option data-img_src="../flags/tp.png" value="TP">
                                                        East Timor
                                                    </option>
                                                    <option data-img_src="../flags/ec.png" value="EC">
                                                        Ecuador(593)
                                                    </option>
                                                    <option data-img_src="../flags/eg.png" value="EG">
                                                        Egypt(20)
                                                    </option>
                                                    <option data-img_src="../flags/sv.png" value="SV">
                                                        El
                                                        Salvador(503)
                                                    </option>
                                                    <option data-img_src="../flags/gq.png" value="GQ">
                                                        Equatorial Guinea(240)
                                                    </option>
                                                    <option data-img_src="../flags/er.png" value="ER">
                                                        Eritrea(291)
                                                    </option>
                                                    <option data-img_src="../flags/ee.png" value="EE">
                                                        Estonia(372)
                                                    </option>
                                                    <option data-img_src="../flags/et.png" value="ET">
                                                        Ethiopia(251)
                                                    </option>
                                                    <option data-img_src="../flags/fk.png" value="FK">
                                                        Falkland Islands Malvinas(500)
                                                    </option>
                                                    <option data-img_src="../flags/fo.png" value="FO">
                                                        Faroe Islands(298)
                                                    </option>
                                                    <option data-img_src="../flags/fj.png" value="FJ">
                                                        Fiji(679)
                                                    </option>
                                                    <option data-img_src="../flags/fi.png" value="FI">
                                                        Finland(358)
                                                    </option>
                                                    <option data-img_src="../flags/fr.png" value="FR">
                                                        France(33)
                                                    </option>
                                                    <option data-img_src="../flags/fx.png" value="FX">
                                                        France, Metropolitan
                                                    </option>
                                                    <option data-img_src="../flags/gf.png" value="GF">
                                                        French Guiana(594)
                                                    </option>
                                                    <option data-img_src="../flags/pf.png" value="PF">
                                                        French Polynesia(689)
                                                    </option>
                                                    <option data-img_src="../flags/tf.png" value="TF">
                                                        French Southern Territories
                                                    </option>
                                                    <option data-img_src="../flags/ga.png" value="GA">
                                                        Gabon(241)
                                                    </option>
                                                    <option data-img_src="../flags/gm.png" value="GM">
                                                        Gambia(220)
                                                    </option>
                                                    <option data-img_src="../flags/ge.png" value="GE">
                                                        Georgia(995)
                                                    </option>
                                                    <option data-img_src="../flags/de.png" value="DE">
                                                        Germany(49)
                                                    </option>
                                                    <option data-img_src="../flags/gh.png" value="GH">
                                                        Ghana(233)
                                                    </option>
                                                    <option data-img_src="../flags/gi.png" value="GI">
                                                        Gibraltar(350)
                                                    </option>
                                                    <option data-img_src="../flags/gr.png" value="GR">
                                                        Greece(30)
                                                    </option>
                                                    <option data-img_src="../flags/gl.png" value="GL">
                                                        Greenland(299)
                                                    </option>
                                                    <option data-img_src="../flags/gd.png" value="GD">
                                                        Grenada(1473)
                                                    </option>
                                                    <option data-img_src="../flags/gp.png" value="GP">
                                                        Guadeloupe(590)
                                                    </option>
                                                    <option data-img_src="../flags/gu.png" value="GU">
                                                        Guam(1671)
                                                    </option>
                                                    <option data-img_src="../flags/gt.png" value="GT">
                                                        Guatemala(502)
                                                    </option>
                                                    <option data-img_src="../flags/gn.png" value="GN">
                                                        Guinea(224)
                                                    </option>
                                                    <option data-img_src="../flags/gw.png" value="GW">
                                                        Guinea-Bissau(245)
                                                    </option>
                                                    <option data-img_src="../flags/gy.png" value="GY">
                                                        Guyana(592)
                                                    </option>
                                                    <option data-img_src="../flags/ht.png" value="HT">
                                                        Haiti(509)
                                                    </option>
                                                    <option data-img_src="../flags/hm.png" value="HM">
                                                        Heard and Mc Donald Islands
                                                    </option>
                                                    <option data-img_src="../flags/va.png" value="VA">
                                                        Holy See(39)
                                                    </option>
                                                    <option data-img_src="../flags/hn.png" value="HN">
                                                        Honduras(504)
                                                    </option>
                                                    <option data-img_src="../flags/hk.png" value="HK">
                                                        Hong Kong(852)
                                                    </option>
                                                    <option data-img_src="../flags/hu.png" value="HU">
                                                        Hungary(36)
                                                    </option>
                                                    <option data-img_src="../flags/is.png" value="IS">
                                                        Iceland(354)
                                                    </option>
                                                    <option data-img_src="../flags/in.png" value="IN">
                                                        India(91)
                                                    </option>
                                                    <option data-img_src="../flags/id.png" value="ID">
                                                        Indonesia(62)
                                                    </option>
                                                    <option data-img_src="../flags/ir.png" value="IR">
                                                        Iran(98)
                                                    </option>
                                                    <option data-img_src="../flags/iq.png" value="IQ">
                                                        Iraq(964)
                                                    </option>
                                                    <option data-img_src="../flags/ie.png" value="IE">
                                                        Ireland(353)
                                                    </option>
                                                    <option data-img_src="../flags/il.png" value="IL">
                                                        Israel(972)
                                                    </option>
                                                    <option data-img_src="../flags/it.png" value="IT">
                                                        Italy(39)
                                                    </option>
                                                    <option data-img_src="../flags/jm.png" value="JM">
                                                        Jamaica(1876)
                                                    </option>
                                                    <option data-img_src="../flags/jp.png" value="JP">
                                                        Japan(81)
                                                    </option>
                                                    <option data-img_src="../flags/jo.png" value="JO">
                                                        Jordan(962)
                                                    </option>
                                                    <option data-img_src="../flags/kz.png" value="KZ">
                                                        Kazakhstan(7)
                                                    </option>
                                                    <option data-img_src="../flags/ke.png" value="KE">
                                                        Kenya(254)
                                                    </option>
                                                    <option data-img_src="../flags/ki.png" value="KI">
                                                        Kiribati(686)
                                                    </option>
                                                    <option data-img_src="../flags/kp.png" value="KP">
                                                        Korea, Democratic People's Republic of(850)
                                                    </option>
                                                    <option data-img_src="../flags/kr.png" value="KR">
                                                        Korea, Republic of(82)
                                                    </option>
                                                    <option data-img_src="../flags/kw.png" value="KW">
                                                        Kuwait(965)
                                                    </option>
                                                    <option data-img_src="../flags/kg.png" value="KG">
                                                        Kyrgyzstan(996)
                                                    </option>
                                                    <option data-img_src="../flags/la.png" value="LA">
                                                        Lao People's Democratic Republic(856)
                                                    </option>
                                                    <option data-img_src="../flags/lv.png" value="LV">
                                                        Latvia(371)
                                                    </option>
                                                    <option data-img_src="../flags/lb.png" value="LB">
                                                        Lebanon(961)
                                                    </option>
                                                    <option data-img_src="../flags/ls.png" value="LS">
                                                        Lesotho(266)
                                                    </option>
                                                    <option data-img_src="../flags/lr.png" value="LR">
                                                        Liberia(231)
                                                    </option>
                                                    <option data-img_src="../flags/ly.png" value="LY">
                                                        Libyan Arab Jamahiriya(218)
                                                    </option>
                                                    <option data-img_src="../flags/li.png" value="LI">
                                                        Liechtenstein(423)
                                                    </option>
                                                    <option data-img_src="../flags/lt.png" value="LT">
                                                        Lithuania(370)
                                                    </option>
                                                    <option data-img_src="../flags/lu.png" value="LU">
                                                        Luxembourg(352)
                                                    </option>
                                                    <option data-img_src="../flags/mo.png" value="MO">
                                                        Macau(853)
                                                    </option>
                                                    <option data-img_src="../flags/mk.png" value="MK">
                                                        Macedonia, The Former Yugoslav Republic of(389)
                                                    </option>
                                                    <option data-img_src="../flags/mg.png" value="MG">
                                                        Madagascar(261)
                                                    </option>
                                                    <option data-img_src="../flags/mw.png" value="MW">
                                                        Malawi(265)
                                                    </option>
                                                    <option data-img_src="../flags/my.png" value="MY">
                                                        Malaysia(60)
                                                    </option>
                                                    <option data-img_src="../flags/mv.png" value="MV">
                                                        Maldives(960)
                                                    </option>
                                                    <option data-img_src="../flags/ml.png" value="ML">
                                                        Mali(223)
                                                    </option>
                                                    <option data-img_src="../flags/mt.png" value="MT">
                                                        Malta(356)
                                                    </option>
                                                    <option data-img_src="../flags/mh.png" value="MH">
                                                        Marshall Islands(692)
                                                    </option>
                                                    <option data-img_src="../flags/mq.png" value="MQ">
                                                        Martinique(596)
                                                    </option>
                                                    <option data-img_src="../flags/mr.png" value="MR">
                                                        Mauritania(222)
                                                    </option>
                                                    <option data-img_src="../flags/mu.png" value="MU">
                                                        Mauritius(230)
                                                    </option>
                                                    <option data-img_src="../flags/yt.png" value="YT">
                                                        Mayotte
                                                    </option>
                                                    <option data-img_src="../flags/mx.png" value="MX">
                                                        Mexico(52)
                                                    </option>
                                                    <option data-img_src="../flags/fm.png" value="FM">
                                                        Micronesia, Federated States of(691)
                                                    </option>
                                                    <option data-img_src="../flags/md.png" value="MD">
                                                        Moldova, Republic of(373)
                                                    </option>
                                                    <option data-img_src="../flags/mc.png" value="MC">
                                                        Monaco(377)
                                                    </option>
                                                    <option data-img_src="../flags/mn.png" value="MN">
                                                        Mongolia(976)
                                                    </option>
                                                    <option data-img_src="../flags/ms.png" value="MS">
                                                        Montserrat(1664)
                                                    </option>
                                                    <option data-img_src="../flags/ma.png" value="MA">
                                                        Morocco(212)
                                                    </option>
                                                    <option data-img_src="../flags/mz.png" value="MZ">
                                                        Mozambique(258)
                                                    </option>
                                                    <option data-img_src="../flags/mm.png" value="MM">
                                                        Myanmar(95)
                                                    </option>
                                                    <option data-img_src="../flags/na.png" value="NA">
                                                        Namibia(264)
                                                    </option>
                                                    <option data-img_src="../flags/nr.png" value="NR">
                                                        Nauru(674)
                                                    </option>
                                                    <option data-img_src="../flags/np.png" value="NP">
                                                        Nepal(977)
                                                    </option>
                                                    <option data-img_src="../flags/nl.png" value="NL">
                                                        Netherlands(31)
                                                    </option>
                                                    <option data-img_src="../flags/an.png" value="AN">
                                                        Netherlands Antilles(599)
                                                    </option>
                                                    <option data-img_src="../flags/nc.png" value="NC">
                                                        New Caledonia(687)
                                                    </option>
                                                    <option data-img_src="../flags/nz.png" value="NZ">
                                                        New Zealand(64)
                                                    </option>
                                                    <option data-img_src="../flags/ni.png" value="NI">
                                                        Nicaragua(505)
                                                    </option>
                                                    <option data-img_src="../flags/ne.png" value="NE">
                                                        Niger(227)
                                                    </option>
                                                    <option data-img_src="../flags/ng.png" value="NG">
                                                        Nigeria(234)
                                                    </option>
                                                    <option data-img_src="../flags/nu.png" value="NU">
                                                        Niue(683)
                                                    </option>
                                                    <option data-img_src="../flags/nf.png" value="NF">
                                                        Norfolk Island(672)
                                                    </option>
                                                    <option data-img_src="../flags/mp.png" value="MP">
                                                        Northern Mariana Islands(1670)
                                                    </option>
                                                    <option data-img_src="../flags/no.png" value="NO">
                                                        Norway(47)
                                                    </option>
                                                    <option data-img_src="../flags/om.png" value="OM">
                                                        Oman(968)
                                                    </option>
                                                    <option data-img_src="../flags/pk.png" value="PK">
                                                        Pakistan(92)
                                                    </option>
                                                    <option data-img_src="../flags/pw.png" value="PW">
                                                        Palau(680)
                                                    </option>
                                                    <option data-img_src="../flags/pa.png" value="PA">
                                                        Panama(507)
                                                    </option>
                                                    <option data-img_src="../flags/pg.png" value="PG">
                                                        Papua New Guinea(675)
                                                    </option>
                                                    <option data-img_src="../flags/py.png" value="PY">
                                                        Paraguay(595)
                                                    </option>
                                                    <option data-img_src="../flags/pe.png" value="PE">
                                                        Peru(51)
                                                    </option>
                                                    <option data-img_src="../flags/ph.png" value="PH">
                                                        Philippines(63)
                                                    </option>
                                                    <option data-img_src="../flags/pn.png" value="PN">
                                                        Pitcairn(0)
                                                    </option>
                                                    <option data-img_src="../flags/pl.png" value="PL">
                                                        Poland(48)
                                                    </option>
                                                    <option data-img_src="../flags/pt.png" value="PT">
                                                        Portugal(351)
                                                    </option>
                                                    <option data-img_src="../flags/pr.png" value="PR">
                                                        Puerto Rico(1787)
                                                    </option>
                                                    <option data-img_src="../flags/qa.png" value="QA">
                                                        Qatar(974)
                                                    </option>
                                                    <option data-img_src="../flags/re.png" value="RE">
                                                        Reunion(262)
                                                    </option>
                                                    <option data-img_src="../flags/ro.png" value="RO">
                                                        Romania(40)
                                                    </option>
                                                    <option data-img_src="../flags/ru.png" value="RU">
                                                        Russian Federation(70)
                                                    </option>
                                                    <option data-img_src="../flags/rw.png" value="RW">
                                                        Rwanda(250)
                                                    </option>
                                                    <option data-img_src="../flags/kn.png" value="KN">
                                                        Saint Kitts and Nevis(1869)
                                                    </option>
                                                    <option data-img_src="../flags/lc.png" value="LC">
                                                        Saint LUCIA(1758)
                                                    </option>
                                                    <option data-img_src="../flags/vc.png" value="VC">
                                                        Saint Vincent and the Grenadines(1784)
                                                    </option>
                                                    <option data-img_src="../flags/ws.png" value="WS">
                                                        Samoa(684)
                                                    </option>
                                                    <option data-img_src="../flags/sm.png" value="SM">
                                                        San Marino(378)
                                                    </option>
                                                    <option data-img_src="../flags/st.png" value="ST">
                                                        Sao Tome and Principe(239)
                                                    </option>
                                                    <option data-img_src="../flags/sa.png" value="SA">
                                                        Saudi Arabia(966)
                                                    </option>
                                                    <option data-img_src="../flags/sn.png" value="SN">
                                                        Senegal(221)
                                                    </option>
                                                    <option data-img_src="../flags/sc.png" value="SC">
                                                        Seychelles(248)
                                                    </option>
                                                    <option data-img_src="../flags/sl.png" value="SL">
                                                        Sierra Leone(232)
                                                    </option>
                                                    <option data-img_src="../flags/sg.png" value="SG">
                                                        Singapore(65)
                                                    </option>
                                                    <option data-img_src="../flags/sk.png" value="SK">
                                                        Slovakia Slovak Republic(421)
                                                    </option>
                                                    <option data-img_src="../flags/si.png" value="SI">
                                                        Slovenia(386)
                                                    </option>
                                                    <option data-img_src="../flags/sb.png" value="SB">
                                                        Solomon Islands(677)
                                                    </option>
                                                    <option data-img_src="../flags/so.png" value="SO">
                                                        Somalia(252)
                                                    </option>
                                                    <option data-img_src="../flags/za.png" value="ZA">
                                                        South Africa(27)
                                                    </option>
                                                    <option data-img_src="../flags/gs.png" value="GS">
                                                        South Georgia and the South Sandwich Islands
                                                    </option>
                                                    <option data-img_src="../flags/es.png" value="ES">
                                                        Spain(34)
                                                    </option>
                                                    <option data-img_src="../flags/lk.png" value="LK">
                                                        Sri Lanka(94)
                                                    </option>
                                                    <option data-img_src="../flags/sh.png" value="SH">
                                                        St. Helena
                                                    </option>
                                                    <option data-img_src="../flags/pm.png" value="PM">
                                                        St. Pierre and Miquelon
                                                    </option>
                                                    <option data-img_src="../flags/sd.png" value="SD">
                                                        Sudan(249)
                                                    </option>
                                                    <option data-img_src="../flags/sr.png" value="SR">
                                                        Suriname(597)
                                                    </option>
                                                    <option data-img_src="../flags/sj.png" value="SJ">
                                                        Svalbard and Jan Mayen Islands(47)
                                                    </option>
                                                    <option data-img_src="../flags/sz.png" value="SZ">
                                                        Swaziland(268)
                                                    </option>
                                                    <option data-img_src="../flags/se.png" value="SE">
                                                        Sweden(46)
                                                    </option>
                                                    <option data-img_src="../flags/ch.png" value="CH">
                                                        Switzerland(41)
                                                    </option>
                                                    <option data-img_src="../flags/sy.png" value="SY">
                                                        Syrian Arab Republic(963)
                                                    </option>
                                                    <option data-img_src="../flags/tw.png" value="TW">
                                                        Taiwan, Province of China(886)
                                                    </option>
                                                    <option data-img_src="../flags/tj.png" value="TJ">
                                                        Tajikistan(992)
                                                    </option>
                                                    <option data-img_src="../flags/tz.png" value="TZ">
                                                        Tanzania, United Republic of(255)
                                                    </option>
                                                    <option data-img_src="../flags/th.png" value="TH">
                                                        Thailand(66)
                                                    </option>
                                                    <option data-img_src="../flags/tg.png" value="TG">
                                                        Togo(228)
                                                    </option>
                                                    <option data-img_src="../flags/tk.png" value="TK">
                                                        Tokelau(690)
                                                    </option>
                                                    <option data-img_src="../flags/to.png" value="TO">
                                                        Tonga(676)
                                                    </option>
                                                    <option data-img_src="../flags/tt.png" value="TT">
                                                        Trinidad and Tobago(1868)
                                                    </option>
                                                    <option data-img_src="../flags/tn.png" value="TN">
                                                        Tunisia(216)
                                                    </option>
                                                    <option data-img_src="../flags/tr.png" value="TR">
                                                        Turkey(90)
                                                    </option>
                                                    <option data-img_src="../flags/tm.png" value="TM">
                                                        Turkmenistan(7370)
                                                    </option>
                                                    <option data-img_src="../flags/tc.png" value="TC">
                                                        Turks and Caicos Islands(1649)
                                                    </option>
                                                    <option data-img_src="../flags/tv.png" value="TV">
                                                        Tuvalu(688)
                                                    </option>
                                                    <option data-img_src="../flags/ug.png" value="UG">
                                                        Uganda(256)
                                                    </option>
                                                    <option data-img_src="../flags/ua.png" value="UA">
                                                        Ukraine(300)
                                                    </option>
                                                    <option data-img_src="../flags/ae.png" value="AE">
                                                        United Arab Emirates(971)
                                                    </option>
                                                    <option data-img_src="../flags/gb.png" value="GB">
                                                        United Kingdom(44)
                                                    </option>
                                                    <option data-img_src="../flags/us.png" value="US">
                                                        United States(1)
                                                    </option>
                                                    <option data-img_src="../flags/um.png" value="UM">
                                                        United States Minor Outlying Islands(1)
                                                    </option>
                                                    <option data-img_src="../flags/uy.png" value="UY">
                                                        Uruguay(598)
                                                    </option>
                                                    <option data-img_src="../flags/uz.png" value="UZ">
                                                        Uzbekistan(998)
                                                    </option>
                                                    <option data-img_src="../flags/vu.png" value="VU">
                                                        Vanuatu(678)
                                                    </option>
                                                    <option data-img_src="../flags/ve.png" value="VE">
                                                        Venezuela(58)
                                                    </option>
                                                    <option data-img_src="../flags/vn.png" value="VN">
                                                        Viet Nam(84)
                                                    </option>
                                                    <option data-img_src="../flags/vg.png" value="VG">
                                                        Virgin Islands (British)(1284)
                                                    </option>
                                                    <option data-img_src="../flags/vi.png" value="VI">
                                                        Virgin Islands (U.S.)(1340)
                                                    </option>
                                                    <option data-img_src="../flags/wf.png" value="WF">
                                                        Wallis and Futuna Islands(681)
                                                    </option>
                                                    <option data-img_src="../flags/eh.png" value="EH">
                                                        Western Sahara(212)
                                                    </option>
                                                    <option data-img_src="../flags/ye.png" value="YE">
                                                        Yemen(967)
                                                    </option>
                                                    <option data-img_src="../flags/yu.png" value="YU">
                                                        Yugoslavia
                                                    </option>
                                                    <option data-img_src="../flags/zm.png" value="ZM">
                                                        Zambia(260)
                                                    </option>
                                                    <option data-img_src="../flags/zw.png" value="ZW">
                                                        Zimbabwe(263)
                                                    </option>
                                                </select>
                                                <input type="text" class="form-control font-size"
                                                       placeholder="Phone Number" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text">Advance</span>
                                                <input type="text" class="form-control"
                                                       placeholder="Advance" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text">Otp</span>
                                                <input type="text" class="form-control" placeholder="Otp" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text">Preference</span>
                                                <select class="form-select">
                                                    <option value="">Choose</option>
                                                    <option value="1">NA</option>
                                                    <option value="2">None</option>
                                                    <option value="3">Suit Shirt on Hanger</option>
                                                    <option value="4">Medium Starch</option>
                                                    <option value="5">Hard Starch</option>
                                                    <option value="6">Light Starch</option>
                                                    <option value="7">No Starch</option>
                                                    <option value="8">Flat Pressing</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text">Discount(%)</span>
                                                <input type="text" class="form-control"
                                                       placeholder="Default Discount" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text">Facebook ID</span>
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text">Registration Source</span>
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <i class="input-group-text fa fa-bullhorn"></i>
                                                <select class="form-select">
                                                    <option value="">Choose</option>
                                                    <option value="1">Select Communication Preference</option>
                                                    <option value="2">only SMS</option>
                                                    <option value="3">Only Email</option>
                                                    <option value="4">Both SMS and Email</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text">Rate List</span>
                                                <select class="form-select">
                                                    <option value="">Choose</option>
                                                    <option value="1">Default</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-text">Customer GSTIN</span>
                                                <input type="text" class="form-control"
                                                       placeholder="Customer GSTIN" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-sm-12">
                                <div id="update">
                                    <button id="updateButton" class="btn btn-info mAddNew-w my-2 mAddNew-font-size">
                                        Update
                                    </button>
                                </div>
                                <div id="new" hidden>
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <button class="btn mAddNew-btn-second mAddNew-width my-2 mAddNew-font d-flex flex-column align-items-center">
                                                <span>Add</span>
                                                <span>New</span>
                                                <span>Customer</span>
                                            </button>
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn mAddNew-btn-second mAddNew-width w-100 mAddNew-h my-2 mAddNew-font">
                                                Edit
                                            </button>
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn mAddNew-btn-second mAddNew-width w-100 mAddNew-h my-2 mAddNew-font">
                                                Delete
                                            </button>
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn mAddNew-btn-second mAddNew-width my-2 mAddNew-font d-flex flex-column align-items-center">
                                                <span>Advance</span>
                                                <span>Balance</span>
                                                <span>Adjustments</span>
                                            </button>
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-1">
                                            <button class="btn mAddNew-btn-second mAddNew-width my-2 mAddNew-h mAddNew-font d-flex flex-column justify-content-center align-items-center">
                                                <span>Customer</span>
                                                <span>Details</span>
                                            </button>
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn mAddNew-btn-second mAddNew-width my-2 mAddNew-h mAddNew-font d-flex flex-column justify-content-center align-items-center">
                                                <span>Schedule</span>
                                                <span>Pick Up</span>
                                            </button>
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn mAddNew-btn-second mAddNew-width my-2 mAddNew-h mAddNew-font d-flex flex-column justify-content-center align-items-center">
                                                <span>Schedule</span>
                                                <span>Drop</span>
                                            </button>
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn mAddNew-bg-color mAddNew-width mAddNew-font-size my-2 mAddNew-h d-flex flex-column justify-content-center align-items-center">
                                                <span>Create Order</span>
                                                <span>Per Pieces</span>
                                            </button>
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn mAddNew-bg-color mAddNew-width mAddNew-font-size my-2 mAddNew-h d-flex flex-column justify-content-center align-items-center">
                                                <span>Create Order</span>
                                                <span>Per Weight</span>
                                            </button>
                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    function custom_template(obj) {
            var data = $(obj.element).data();
            var text = $(obj.element).text();
            if (data && data['img_src']) {
                img_src = data['img_src'];
                template = $("<div style=\"display: flex; justify-content:start;align-items: center;\"><img src=\"" + img_src + "\" style=\"width:20px;height:20px;margin-right:10px;\"/><p style=\"margin:0px;font-weight: 500;font-size:12px;\">" + text + "</p></div>");
                return template;
            }
        }
        var options = {
            'templateSelection': custom_template,
            'templateResult': custom_template,
        }
        $('#id_select2_example').select2(options);
        $('.select2-container--default .select2-selection--single').css({ 'height': '31px', 'border': '1px solid lightgrey', 'border-radius': '0px', 'display': 'flex', 'justify-content': 'start', 'align-items': 'center' });</script>
    <script>
    document.getElementById("updateButton")
            .addEventListener("click", function () {
                document.getElementById("update").hidden = true;
                document.getElementById("new").hidden = false;
            }, false);</script>
</body>

</html>
