﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/lcMain.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <div>
        <div class="position-absolute stickerPreview-main-content stickerPreview-main-min-width">
            <div class="col-md-12 stickerPreview-margin-bottom">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="stickerPreview-white-box stickerPreview-border-primary-color">
                            <div class="stickerPreview-bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                <label class="mb-0 stickerPreview-text-size">
                                    Packing Stickers - Print Tags for Ready to Be Delivered
                                    Cloths for Hangers/Fold Packings
                                </label>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="col-sm-12">
                                    <div class="d-flex flex-wrap my-2">
                                        <div class="col-sm-2">
                                            <div class="input-group my-2">
                                                <input type="text" class="form-control"
                                                       placeholder="Search Order/Barcode">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="input-group my-2">
                                                        <input type="text" class="form-control"
                                                               placeholder="Due Date">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 d-flex flex-wrap">
                                                    <div class="input-group justify-content-center align-items-center my-2">
                                                        <i class="fa fa-filter stickerPreview-text-color mx-1"></i>
                                                        <label class="mb-0 text-color mx-1 stickerPreview-fontsize">
                                                            More
                                                            Filters
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 d-flex flex-wrap">
                                                    <button class="btn bg-white border btn-sm my-2 p-1 w-100">
                                                        <i class="fa fa-refresh stickerPreview-text-color"></i>
                                                        <span class="stickerPreview-text-color stickerPreview-fontsize">Refresh</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 d-flex justify-content-end">
                                            <button class="btn stickerPreview-bg-color btn-sm my-2"
                                                    onclick="window.open('@Url.Action("StickerPrint", "StickerPrint", new { target="_blank" })')">
                                                Print
                                                Sticker
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="col-sm-12">
                                    <div class="d-flex flex-wrap">
                                        <div class="col-sm-2 d-flex justify-content-center">
                                            <label class="w-100 stickerPreview-bg-lightgrey p-2 text-center">3</label>
                                        </div>
                                        <div class="col-sm-8 d-flex justify-content-center">
                                            <label class="w-100 stickerPreview-bg-lightgrey p-2 text-center"></label>
                                        </div>
                                        <div class="col-sm-2 d-flex justify-content-center">
                                            <label class="w-100 stickerPreview-bg-lightgrey p-2 text-center">0</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="col-sm-12 my-2">
                                    <div class="d-flex flex-wrap">
                                        <div class="col-sm-12">
                                            <div class="stickerPreview-bg-white-box">
                                                <div class="d-flex flex-wrap">
                                                    <div class="col-sm-6 p-1">
                                                        <div class="stickerPreview-table-white-box">
                                                            <div class="table-responsive">
                                                                <table class="mytable1 table table-bordered table-hover table-sm m-0">
                                                                    <thead class="stickerPreview-bg-lightgrey">
                                                                        <tr>
                                                                            <th class="text-left text-dark stickerPreview-font border">
                                                                                <input type="checkbox" />
                                                                            </th>
                                                                            <th class="text-left text-dark stickerPreview-fontsize border">
                                                                                S.No
                                                                            </th>
                                                                            <th class="text-left text-dark stickerPreview-fontsize border">
                                                                                BarCode
                                                                            </th>
                                                                            <th class="text-left text-dark stickerPreview-fontsize border">
                                                                                Garment
                                                                            </th>
                                                                            <th class="text-left text-dark stickerPreview-fontsize border">
                                                                                Remark
                                                                            </th>
                                                                            <th class="text-left text-dark stickerPreview-fontsize border">
                                                                                Color
                                                                            </th>
                                                                            <th class="text-left text-dark stickerPreview-fontsize border">
                                                                                Service
                                                                            </th>
                                                                            <th class="text-left text-dark stickerPreview-fontsize border">
                                                                                Customer
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="text-left">
                                                                                <input class="updatecheckboxvalueindb"
                                                                                       type="checkbox" />
                                                                            </td>
                                                                            <td class="text-left">1</td>
                                                                            <td class="text-left">*1-1-1*</td>
                                                                            <td class="text-left">Coat</td>
                                                                            <td class="text-left"></td>
                                                                            <td class="text-left"></td>
                                                                            <td class="text-left">DC</td>
                                                                            <td class="text-left">Testtest</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-left">
                                                                                <input class="updatecheckboxvalueindb"
                                                                                       type="checkbox" />
                                                                            </td>
                                                                            <td class="text-left">2</td>
                                                                            <td class="text-left">*1-2-1*</td>
                                                                            <td class="text-left">Shirt</td>
                                                                            <td class="text-left"></td>
                                                                            <td class="text-left"></td>
                                                                            <td class="text-left">DC</td>
                                                                            <td class="text-left">Testtest</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-left">
                                                                                <input class="updatecheckboxvalueindb"
                                                                                       type="checkbox" />
                                                                            </td>
                                                                            <td class="text-left">3</td>
                                                                            <td class="text-left">*1-3-1*</td>
                                                                            <td class="text-left">T-Shirt</td>
                                                                            <td class="text-left"></td>
                                                                            <td class="text-left"></td>
                                                                            <td class="text-left">DC</td>
                                                                            <td class="text-left">Testtest</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-1 p-1">
                                                        <div class="stickerPreview-table-white-box d-flex flex-column justify-content-between">
                                                            <div>
                                                                <label class="text-center text-secondary">
                                                                    Move
                                                                    Selected
                                                                </label>
                                                                <button class="btn btn-secondary w-100 btn-sm my-2 movemultiple">
                                                                    <i class="fa fa-chevron-right"></i>
                                                                </button>
                                                                <button class="btn btn-secondary w-100 btn-sm my-2 moveRight">
                                                                    <i class="fa fa-chevron-left"></i>
                                                                </button>
                                                            </div>
                                                            <div>
                                                                <label class="text-center text-secondary">
                                                                    Move
                                                                    All
                                                                </label>
                                                                <button class="btn btn-info w-100 btn-sm my-2 movemultiple">
                                                                    <i class="fa fa-angle-double-right fa-lg"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5 p-1">
                                                        <div class="stickerPreview-table-white-box">
                                                            <label class="stickerPreview-textsize stickerPreview-bg-lightgrey p-1">
                                                                Please select some
                                                                garments from the left section to
                                                                print stickers from
                                                            </label>
                                                            <div class="table-responsive">
                                                                <table class="mytable2 table table-bordered table-hover table-sm m-0">
                                                                    <thead class="stickerPreview-bg-lightgrey">
                                                                        <tr>
                                                                            <th class="text-left text-dark stickerPreview-font border">
                                                                                <input type="checkbox" />
                                                                            </th>
                                                                            <th class="text-left text-dark stickerPreview-fontsize border">
                                                                                S.No
                                                                            </th>
                                                                            <th class="text-left text-dark stickerPreview-fontsize border">
                                                                                BarCode
                                                                            </th>
                                                                            <th class="text-left text-dark stickerPreview-fontsize border">
                                                                                Garment
                                                                            </th>
                                                                            <th class="text-left text-dark stickerPreview-fontsize border">
                                                                                Remark
                                                                            </th>
                                                                            <th class="text-left text-dark stickerPreview-fontsize border">
                                                                                Color
                                                                            </th>
                                                                            <th class="text-left text-dark stickerPreview-fontsize border">
                                                                                Service
                                                                            </th>
                                                                            <th class="text-left text-dark stickerPreview-fontsize border">
                                                                                Customer
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function () {
            $(document).on("click", ".movemultiple", function (event) {
                $('.updatecheckboxvalueindb:checked').parents('tr').appendTo('.mytable2')
            });
        });
        $(document).ready(function () {
            $(document).on("click", ".moveRight", function (event) {
                $('.updatecheckboxvalueindb:checked').parents('tr').appendTo('.mytable1')
            });
        });</script>
</body>

</html>