﻿@using FLS.LC.Web.Models.Master
@model FLS.LC.Web.Models.Master.viewUserStore
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en" style="overflow-y:scroll !important">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/lcMain.css" asp-append-version="true" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b7245b8622.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rrtn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous" asp-append-version="true"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous" asp-append-version="true"></script>
    <div>
        @if (Model.ShowSuccessAlert == true)
        {
            @Html.Hidden("IsFormSubmit", "true");
        }
        @Html.Hidden("usrEmail", Model.UserEmail);
        <form method="post" id="stores" enctype="multipart/form-data" asp-controller="Store" asp-action="RegStores" class="needs-validation p-3" novalidate autocomplete="off">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="white-box border-primary-color">
                            @if (Model.ShowSuccessAlert == false && Model.UserStore != null)
                            {
                                @await Html.PartialAsync("_LayoutAlertMessage");
                            }
                            <div class="bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                <label class="mb-0">Store Information</label>
                                <div>
                                    <i class="fa fa-question-circle-o"></i>
                                    <label class="mb-0">Help</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <div class="input-group input-group-sm">
                                            <label class="input-border">Code</label>
                                            @Html.TextBoxFor(m => m.UserStore.UstCode, new { @readonly = "readonly", id = "userStoreCode", @class = "form-control input form-feedback-icon-valid" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <div class="input-group input-group-sm">
                                            <label class="input-border">Store Name</label>
                                            @Html.TextBoxFor(m => m.UserStore.UstName, new { id = "userStoreName", @placeholder = "Store Name", @class = "form-control input form-feedback-icon-valid", required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <div class="input-group input-group-sm">
                                            <label class="input-border">Bussiness Name</label>
                                            @Html.TextBoxFor(m => m.UserStore.UstBusinessName, new { id = "userBussinessName", @placeholder = "Bussiness Name", @class = "form-control input form-feedback-icon-valid", required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <div class="input-group input-group-sm">
                                            <label class="input-border">Address</label>
                                            @Html.TextAreaFor(m => m.UserStore.UstAddress, new { id = "userBussinessAddress", @placeholder = "Bussiness Address", @class = "form-control input form-feedback-icon-valid", required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group required">
                                        <div class="input-group input-group-sm">
                                            <i class="fa fa-home fa-lg input-border"></i>
                                            @Html.TextBoxFor(m => m.UserStore.UstWebsiteUrl, new { id = "userBussinessWebsite", @placeholder = "Bussiness WebSite", @class = "form-control input form-feedback-icon-valid", required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group required d-flex">
                                        <div class="input-group input-group-sm">
                                            <i class="fa fa-home fa-lg input-border"></i>
                                            @Html.TextBoxFor(m => m.UserStore.UstMobileNo, new { id = "userbussinessMobileNo", @placeholder = "Mobile No", @class = "form-control input form-feedback-icon-valid", required = "required" })
                                        </div>
                                        <i class="fa fa-info-circle pl-1 pt-1 text-primary-color"
                                           data-bs-toggle="tooltip"
                                           title="This Mobile no will be used for Adminstrative Notifications like Access Authentication and Daily Status"></i>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group required d-flex">
                                        <div class="input-group input-group-sm">
                                            <i class="fa fa-info-circle pl-1 pt-1 text-primary-color"
                                               data-bs-toggle="tooltip"
                                               title="This Mobile no will be used for Adminstrative Notifications like Access Authentication and Daily Status"></i>
                                            @Html.TextBoxFor(m => m.UserStore.UstEmail, new { id = "userStoreEmail", @placeholder = "Store Email", @class = "form-control input form-feedback-icon-valid", required = "required" })
                                        </div>
                                        <i class="fa fa-info-circle pl-1 pt-1 text-primary-color"
                                           data-bs-toggle="tooltip"
                                           title="This Email will be used for Adminstrative Notifications like Access Authentication and Daily Status!"></i>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <div class="input-group input-group-sm">
                                            <label class="input-border">Area Location</label>
                                            @Html.TextBoxFor(m => m.UserStore.UstAreaLocation, new { id = "userStoreAreaLocation", @placeholder = "your store location area", @class = "form-control input form-feedback-icon-valid", required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <div class="input-group input-group-sm">
                                            <label class="input-border">City</label>
                                            @Html.TextBoxFor(m => m.UserStore.UstCity, new { id = "userStoreCity", @placeholder = "Your store city", @class = "form-control input form-feedback-icon-valid", required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <div class="input-group input-group-sm">
                                            <label class="input-border">State</label>
                                            @Html.DropDownListFor(m => m.UserStore.UstState, new[]{
                        new SelectListItem(){ Text = "Andhra Pradesh", Value = "Andhra Pradesh"},
                        new SelectListItem(){ Text = "Arunachal Pradesh", Value = "Arunachal Pradesh"},
                        new SelectListItem(){ Text = "Assam", Value = "Assam"},
                        new SelectListItem(){ Text = "Bihar", Value = "Bihar"},
                        new SelectListItem(){ Text = "Chandigarh", Value = "Chandigarh"},
                        new SelectListItem(){ Text = "Chhattisgarh", Value = "Chhattisgarh"},
                        new SelectListItem(){ Text = "Dadar and Nagar Haveli", Value = "Dadar and Nagar Haveli"},
                        new SelectListItem(){ Text = "Daman and Diu", Value = "Daman and Diu"},
                        new SelectListItem(){ Text = "Delhi", Value = "Delhi"},
                        new SelectListItem(){ Text = "Lakshadweep", Value = "Lakshadweep"},
                        new SelectListItem(){ Text = "Puducherry", Value = "Andaman and Nicobar Islands"},
                        new SelectListItem(){ Text = "Goa", Value = "Goa"},
                        new SelectListItem(){ Text = "Gujarat", Value = "Gujarat"},
                        new SelectListItem(){ Text = "Haryana", Value = "Haryana"},
                        new SelectListItem(){ Text = "Himachal Pradesh", Value = "Himachal Pradesh"},
                        new SelectListItem(){ Text = "Jammu and Kashmir", Value = "Jammu and Kashmir"},
                        new SelectListItem(){ Text = "Jharkhand", Value = "Jharkhand"},
                        new SelectListItem(){ Text = "Karnataka", Value = "Karnataka"},
                        new SelectListItem(){ Text = "Kerala", Value = "Kerala"},
                        new SelectListItem(){ Text = "Madhya Pradesh", Value = "Madhya Pradesh"},
                        new SelectListItem(){ Text = "Maharashtra", Value = "Maharashtra"},
                        new SelectListItem(){ Text = "Manipur", Value = "Manipur"},
                        new SelectListItem(){ Text = "Meghalaya", Value = "Meghalaya"},
                        new SelectListItem(){ Text = "Mizoram", Value = "Mizoram"},
                        new SelectListItem(){ Text = "Nagaland", Value = "Nagaland"},
                        new SelectListItem(){ Text = "Odisha", Value = "Odisha"},
                        new SelectListItem(){ Text = "Punjab", Value = "Punjab"},
                        new SelectListItem(){ Text = "Rajasthan", Value = "Rajasthan"},
                        new SelectListItem(){ Text = "Sikkim", Value = "Sikkim"},
                        new SelectListItem(){ Text = "Tamil Nadu", Value = "Tamil Nadu"},
                        new SelectListItem(){ Text = "Telangana", Value = "Telangana"},
                        new SelectListItem(){ Text = "Tripura", Value = "Tripura"},
                        new SelectListItem(){ Text = "Uttar Pradesh", Value = "Uttar Pradesh"},
                        new SelectListItem(){ Text = "Uttarakhand", Value = "Uttarakhand"},
                        new SelectListItem(){ Text = "West Bengal", Value = "West Bengal"}
                        }, "Select State", new { id = "ddstate", style = "width:180px", required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group input-group-sm">
                                        <label class="input-border">Screen and Tags Logo</label>
                                        @Html.TextBoxFor(m => m.UserStore.UstLogo, new { type = "file", id = "userStoreLogo", @class = "input-file form-control input form-feedback-icon-valid", required = "required" })
                                        <div class="invalid-feedback">
                                            <ul class="list-unstyled">
                                                <li>Please select a file.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" id="btnOperation" class="btn btn-info text-white">
                                    <i class="fa fa-floppy-o mr-2"></i>Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="white-box border-primary-color">
                            <div class="bg-color d-flex flex-wrap justify-content-start align-items-center p-2">
                                <label class="mb-0">Store Operation Time</label>
                            </div>
                            <div class="p-3 d-flex justify-content-between align-items-center">
                                <label class="mb-0 text-size">Do You want to enable store operating time feature</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                                           data-toggle="collapse" data-target="#demo">
                                </div>
                            </div>
                            <div id="demo" class="collapse">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <label class="input-border">Opening</label>
                                                @Html.TextBoxFor(m => m.UserStore.UstOpeningTime, new { type = "time", id = "userStoreOpeningTime", @class = "input-file form-control input form-feedback-icon-valid", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <label class="input-border">Closing</label>
                                                @Html.TextBoxFor(m => m.UserStore.UstClosingTime, new { type = "time", id = "userStoreClosingTime", @class = "input-file form-control input form-feedback-icon-valid", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group required">
                                            <div class="input-group input-group-sm">
                                                <label class="input-border">Weekly off</label>
                                                @Html.DropDownListFor(m => m.UserStore.UstWeekOff, new[]{
                        new SelectListItem(){ Text = "Monday", Value = "Monday"},
                        new SelectListItem(){ Text = "Tuesday", Value = "Tuesday"},
                        new SelectListItem(){ Text = "Wednesday", Value = "Wednesday"},
                        new SelectListItem(){ Text = "Thursday", Value = "Thursday"},
                        new SelectListItem(){ Text = "Friday", Value = "Friday"},
                        new SelectListItem(){ Text = "Saturday", Value = "Saturday"},
                        new SelectListItem(){ Text = "Sunday", Value = "Sunday"},
                        }, "Select Week Off", new { id = "storeWeekOff", style = "width:180px", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="input-group input-group-sm">
                                            <label for="location" class="input-border">Business Slogan</label>
                                            @Html.TextBoxFor(m => m.UserStore.UstBusinessSlogan, new { id = "userBusinessSlogan", @placeholder = "bussiness slogan", @class = "form-control input form-feedback-icon-valid", required = "required" })
                                            <div class="invalid-feedback">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="input-group input-group-sm">
                                            <img src="~/assests/no-image-icon.jpg" asp-append-version="true" id="ustStoreImage" style="width:90px; height:90px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 store-table-margin">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover mb-0" cellspacing="0">
                                <thead class="bg-secondary">
                                    <tr>
                                        <th class="text-center text-white text-size">Operation</th>
                                        <th class="text-center text-white text-size">Store Name</th>
                                        <th class="text-center text-white text-size">Bussiness Name</th>
                                        <th class="text-center text-white text-size">Address</th>
                                        <th class="text-center text-white text-size">Mobile</th>
                                        <th class="text-center text-white text-size">StoreWebsite</th>
                                        <th class="text-center text-white text-size">Email</th>
                                        <th class="text-center text-white text-size">Operating Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.ShowSuccessAlert == true)
                                    { }
                                    else if (Model.UserStores != null)
                                        if (Model.UserStores.Count == 0)
                                        {
                                            <tr style="text-align:center">
                                                <td>
                                                    <label> <b> No Registered Stored Found.... </b> </label>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            @foreach (UserStoreDetailDtotemp RegStores in Model.UserStores)
                                            {

                                                <tr class="border">
                                                    <td class="text-center"><a class="btnselect btn btn-primary">Select</a> <a class="btndelete btn btn-primary">Delete</a></td>
                                                    <td name="UstName" class="text-center">@RegStores.UstName</td>
                                                    <td class="text-center">@RegStores.UstBusinessName</td>
                                                    <td class="text-center">@RegStores.UstAddress</td>
                                                    <td class="text-center">@RegStores.UstMobileNo</td>
                                                    <td class="text-center">@RegStores.UstWebsiteUrl</td>
                                                    <td class="text-center">@RegStores.UstEmail</td>
                                                    <td class="text-center">@RegStores.UstOperatingtime</td>
                                                </tr>
                                            }
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" asp-append-version="true"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                if ($("#IsFormSubmit").val() != undefined && $("#IsFormSubmit").val() == "true") {
                    $("#stores").submit();
                }
                $('#alertmessagediv').fadeIn().delay(3000).fadeOut('slow');
            });
            $('.btndelete').click(function (e) {
                var currentRow = $(this).closest("tr");
                var usrStoreName = currentRow.find("td:eq(1)").text();
                var usrEmail = $("#usrEmail").val();
                var model = {
                    'usrEmail': usrEmail.trim(),
                    'usrStoreName': usrStoreName.trim(),
                }
                $.ajax({
                    url: '@Url.Action("InActivateSelectedStore", "Store")',
                    type: "POST",
                    data: model,
                    success: function (result) {
                        if (result == "true")
                        {
                            location.reload();
                        }
                    }
                });
            });
            $('.btnselect').click(function (e) {
                $("#btnOperation").html('Update');
                var currentRow = $(this).closest("tr");
                var usrStoreName = currentRow.find("td:eq(1)").text();
                var usrEmail = $("#usrEmail").val();
                var model = {
                    'usrEmail': usrEmail.trim(),
                    'usrStoreName': usrStoreName.trim(),
                }
                $.ajax({
                url: '@Url.Action("SelectedStoreDetails", "Store")',
                type: "POST",
                data: model,
                    success: function (result)
                    {
                        $("#ustStoreImage").attr("src", result.imageDataUrl);
                        $("#ddstate").val(result.ustState).change();
                        $("#storeWeekOff").val(result.ustWeekOff).change();
                        $("#userStoreCode").val(result.ustCode);
                        $("#userStoreName").val(result.ustName);
                        $("#userBussinessName").val(result.ustBusinessName);
                        $("#userBussinessAddress").val(result.ustAddress);
                        $("#userBussinessWebsite").val(result.ustWebsiteUrl);
                        $("#userbussinessMobileNo").val(result.ustMobileNo);
                        $("#userStoreEmail").val(result.ustEmail);
                        $("#userStoreAreaLocation").val(result.ustAreaLocation);
                        $("#userStoreCity").val(result.ustCity);
                        $("#userBusinessSlogan").val(result.ustBusinessSlogan);
                        $("#userStoreOpeningTime").val(result.ustOpeningTime);
                        $("#userStoreClosingTime").val(result.ustClosingTime);
                    }
            });
            });
        </script>
        <script>
            includeHTML();
        </script>
        <script>
            var today = new Date();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            document.getElementById("currentTime").value = time;
            document.getElementById("currentTimes").value = time;
        </script>
    </div>
</body>

</html>