﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/order.css" />
    <script>
        function includeHTML() {
            var z, i, elmnt, file, xhttp;
            /*loop through a collection of all HTML elements:*/
            z = document.getElementsByTagName("*");
            for (i = 0; i < z.length; i++) {
                elmnt = z[i];
                /*search for elements with a certain atrribute:*/
                file = elmnt.getAttribute("component");
                if (file) {
                    /*make an HTTP request using the attribute value as the file name:*/
                    xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4) {
                            if (this.status == 200) { elmnt.innerHTML = this.responseText; }
                            if (this.status == 404) { elmnt.innerHTML = "Page not found."; }
                            /*remove the attribute, and call this function once more:*/
                            elmnt.removeAttribute("component");
                            includeHTML();
                        }
                    }
                    xhttp.open("GET", file, true);
                    xhttp.send();
                    /*exit the function:*/
                    return;
                }
            }
        };</script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <div>
            <div class="position-absolute content main-min-width home-content mb-5 pb-5">
                <div class="col-md-12">
                    <div class="row">
                        <div class="white-box">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div onclick="window.location.href = '@Url.Action("GarmentsSelection", "GarmentsSelection")'" id="addGarments" role="button" class="input-group input-group-lg my-2">
                                        <span class="input-group-text fa fa-plus p-4"></span>
                                        <label class="form-control d-flex align-items-center font-size bg-light">
                                            Click here
                                            to select garment to add to this order
                                        </label>
                                    </div>
                                    <div role="button" class="input-group input-group-lg my-2">
                                        <span class="input-group-text">
                                            <img src="/assests/achkan.png" alt="achkan" />
                                        </span>
                                        <div class="form-control bg-light d-flex flex-wrap flex-column justify-content-between p-2">
                                            <div class="d-flex flex-wrap justify-content-between">
                                                <div class="d-flex flex-wrap flex-column">
                                                    <label class="font-size-bold mb-0 mr-5">Men-Jacket</label>
                                                    <label class="font-brand mb-0 mr-5">
                                                        Benetton, <span class="font-brand">
                                                            Armani
                                                            Exchange
                                                        </span> - <span class="font-brand">Blue</span>, <span class="font-brand">Crimson</span>
                                                    </label>
                                                </div>
                                                <div class="d-flex flex-wrap flex-column">
                                                    <div class="d-flex flex-wrap justify-content-between">
                                                        <label class="font-size-bold mb-0 mr-5">Dry Cleaning</label>
                                                        <label class="font-size-bold mb-0">222:00</label>
                                                    </div>
                                                    <div class="d-flex flex-wrap justify-content-between">
                                                        <label class="font-size-bold mb-0 mr-5">Alteration</label>
                                                        <label class="font-size-bold mb-0">22:00</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-wrap">
                                                <div class="d-flex flex-wrap">
                                                    <label class="font-order mb-0 mr-2">Quantity -</label>
                                                    <label class="font-size-bold mb-0 mr-5">1</label>
                                                </div>
                                                <div class="d-flex flex-wrap">
                                                    <label class="font-order mb-0 mr-2">Pcs -</label>
                                                    <label class="font-size-bold mb-0 mr-5">1</label>
                                                </div>
                                                <div class="d-flex flex-wrap">
                                                    <label class="font-order mb-0 mr-2">Amount</label>
                                                    <label class="font-size-bold mb-0 mr-5">266:00</label>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="input-group-text font-order d-flex flex-column justify-content-between">
                                            <i class="fa fa-close"></i>
                                            <label class="mb-0" onclick="location.href='/container/customer/EditOrder/editOrder.html'">Edit</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="bg-color-secondary p-2">
                                        <div class="d-flex justify-content-between align-items-center mx-2">
                                            <label class="text-white mb-0 font-label">16 Aug 2021</label>
                                            <label class="text-white mb-0 font-order">Last Order # 0</label>
                                        </div>
                                        <label class="horizon-line"></label>
                                        <div class="d-flex flex-wrap mb-2">
                                            <div class="col-sm-6">
                                                <div class="d-flex flex-column mb-2">
                                                    <label class="font-label text-white mb-0">Mr Test</label>
                                                    <label class="text-white font-order mb-0">test</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="d-flex flex-column mb-2">
                                                    <label class="font-label text-white mb-0">Price List</label>
                                                    <select class="form-select form-select-sm">
                                                        <option value="">Choose</option>
                                                        <option value="1">Garment or Payment</option>
                                                        <option value="2">Outstanding Garment Only</option>
                                                        <option value="3">Outstanding Payment Only</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group input-group-sm my-2">
                                                    <span id=down class="input-group-text fa fa-minus p-2"></span>
                                                    <span id=dateD class="form-control form-control-time"></span>
                                                    <span id=up class="input-group-text fa fa-plus p-2"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="d-flex justify-content-center align-items-center h my-2">
                                                    <input id="currentTime" type="time"
                                                           class="form-control form-control-sm" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center mx-2">
                                            <div>
                                                <label class="text-white mb-0 font-label">Quantity</label>
                                                <label class="text-white mb-0 font-label">0</label>
                                            </div>
                                            <label class="text-white mb-0 font-label">Pieces</label>
                                            <label class="text-white mb-0 font-label">0</label>
                                        </div>
                                        <label class="horizon-line"></label>
                                        <div class="d-flex justify-content-between align-items-center mx-2 mb-2">
                                            <label class="text-white mb-0 font-label">Total Discount</label>
                                            <label class="text-white mb-0 font-label">0</label>
                                        </div>
                                        <div class="mx-2 my-2 d-flex justify-content-between">
                                            <div class="d-flex">
                                                <span class="input-group-text">%</span>
                                                <span class="input-group-text bg-color mx-2">Flat</span>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <label class="mb-0 font-size text-white">INR</label>
                                                <label class="mb-0 font-size text-white">0</label>
                                                <input type="text" class="w-50 p-1" placeholder="0" />
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center mx-2 my-2">
                                            <label class="text-white mb-0 font-label">Tax</label>
                                            <label class="text-white mb-0 font-label">0</label>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center mx-2 my-2">
                                            <label class="text-white mb-0 font-label">Grand Total</label>
                                            <label class="text-white mb-0 font-label">0</label>
                                        </div>
                                        <div class="mx-2 d-flex justify-content-between align-items-center my-2">
                                            <label class="text-white font-order mb-0">Advance</label>
                                            <select class="w-50 p-1">
                                                <option value="">Choose</option>
                                                <option value="1">Cash</option>
                                            </select>
                                            <input type="text" class="w-25" placeholder="0" />
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center mx-2 my-2">
                                            <label class="text-white mb-0 font-label">Current Due</label>
                                            <label class="text-white mb-0 font-label">0</label>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center mx-2 my-2">
                                            <button type="button" class="btn bg-color btn-sm w-100">
                                                Save Order(Ctrl
                                                +S)
                                            </button>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center mx-2 my-2">
                                            <button type="button" class="btn bg-color btn-sm w-100">Get Signature</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div style="overflow-y: scroll;" class="border my-2 height">
                                                <label class="font-order mb-0 text-secondary">
                                                    Order Notes to be printed on
                                                    the Order
                                                </label>
                                            </div>
                                            <div style="overflow-y: scroll;" class="border my-2 height">
                                                <label class="font-order mb-0 text-secondary">
                                                    Workshop Notes for internal
                                                    use
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn bg-color-light my-2 d-flex flex-column justify-content-center align-items-center w-100 h-75">
                                                <span>Home</span>
                                                <span>Deliver</span>
                                            </button>
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn bg-color-light my-2 d-flex flex-column justify-content-center align-items-center w-100 h-75">
                                                <span>Send</span>
                                                <span>SMS</span>
                                            </button>
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn bg-color-light my-2 d-flex flex-column justify-content-center align-items-center w-100 h-75">
                                                <span>Send</span>
                                                <span>Email</span>
                                            </button>
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn bg-color-secondary text-white font-order my-2 d-flex flex-column justify-content-center align-items-center w-100 h-75">
                                                <span>Print</span>
                                                <span>Tags</span>
                                                <link />
                                            </button>
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn bg-color-secondary text-white font-order my-2 d-flex flex-column justify-content-center align-items-center w-100 h-75">
                                                <span>Print</span>
                                                <span>Receipt</span>
                                            </button>
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="btn bg-color-white my-2 d-flex flex-column justify-content-center align-items-center w-100">
                                                Same Day + 100%
                                            </button>
                                            <button class="btn bg-color-white my-2 d-flex flex-column justify-content-center align-items-center w-100">
                                                Next Day + 50%
                                            </button>
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" asp-append-version="true"></script>
            <script type="text/javascript">
            $(document).ready(function () {
                
            });
            </script>
        </div>
</body>
</html>