﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/StickerPrint.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <div>
        <div component="/components/Sidebar/sidebar.html"></div>
        <div component="/components/Topbar/topbar.html"></div>
        <div class="position-absolute content main-min-width home-content mb-5 pb-5">
             <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box border-primary-color">
                            <div class="bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                <label class="mb-0 text-size">Print Sticker</label>
                            </div>
                            <div class="col-sm-12">
                                <div class="d-flex flex-column justify-content-center align-items-center my-2">
                                    <div class="col-sm-4 d-flex justify-content-center align-items-center my-2">
                                        <div class="d-flex flex-column">
                                            <label class="text-center mb-0 fontsize">1</label>
                                            <div class="d-flex justify-content-between align-items-center sticker">
                                                <input type="radio" />
                                                <label class="mb-0 font">DC</label>
                                                <label class="mb-0 font">1/3</label>
                                            </div>
                                            <label class="text-center mb-0 font">26 Jul 21 Mon</label>
                                            <label class="text-center mb-0 font">Coat</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 d-flex justify-content-center align-items-center my-2">
                                        <div class="d-flex flex-column">
                                            <label class="text-center mb-0 fontsize">1</label>
                                            <div class="d-flex justify-content-between align-items-center sticker">
                                                <input type="radio" />
                                                <label class="mb-0 font">DC</label>
                                                <label class="mb-0 font">1/3</label>
                                            </div>
                                            <label class="text-center mb-0 font">26 Jul 21 Mon</label>
                                            <label class="text-center mb-0 font">Shirt</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 d-flex justify-content-center align-items-center my-2">
                                        <div class="d-flex flex-column">
                                            <label class="text-center mb-0 fontsize">1</label>
                                            <div class="d-flex justify-content-between align-items-center sticker">
                                                <input type="radio" />
                                                <label class="mb-0 font">DC</label>
                                                <label class="mb-0 font">1/3</label>
                                            </div>
                                            <label class="text-center mb-0 font">26 Jul 21 Mon</label>
                                            <label class="text-center mb-0 font">T-Shirt</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div component="/components/Footer/footer.html"></div>
            <script>includeHTML();</script>
        </div>
        </body>
</html>