﻿<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/lc.css" asp-append-version="true" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <div>
        <div class="home-sidebar">
            <ul class="nav flex-column nav-margin">
                <li class="mb-3">
                    <a href="@Url.Action("Home", "Home")">
                        <span class="icon"><i class="fa fa-home fa-2x"></i></span>
                        <span class="item">Home</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a>
                        <span class="icon"><i class="fa fa-user fa-2x"></i></span>
                        <span class="item">Customer</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a href="@Url.Action("DailyDashBoard", "DashBoard")">
                        <span class="icon"><i class="fa fa-dashboard fa-2x"></i></span>
                        <span class="item">Dashboard</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a>
                        <span class="icon"><i class="fa fa-bar-chart fa-2x"></i></span>
                        <span class="item">Reports</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a>
                        <span class="icon"><i class="fa fa-cogs fa-2x"></i></span>
                        <span class="item">Set Up</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a>
                        <span class="icon"><i class="fa fa-cog fa-2x"></i></span>
                        <span class="item">Config Store</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a>
                        <span class="icon"><i class="fa fa-question-circle-o fa-2x"></i></span>
                        <span class="item">Help</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="position-absolute main-min-width home-main-content">
            <nav class="topbar navs">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-3 d-flex flex-wrap justify-content-start align-items-center">
                            <div class="d-flex flex-wrap justify-content-center align-items-center">
                                <img src="~/assests/logo.png" width="150" height="50" alt="message" />
                            </div>
                        </div>
                        <div class="col-sm-9 d-flex flex-wrap justify-content-end align-items-center">
                            <div class="my-3 d-flex flex-wrap align-items-center">
                                <a class="logout" href="#"><i class="fa fa-bell-o fa-lg"></i></a>
                            </div>
                            <a class="logout" href="@Url.Action("Logout", "Logout")"><i class="fa fa-power-off fa-lg mx-2"></i></a>
                        </div>
                    </div>
                </div>
            </nav>
            <div>
                <video autoplay muted loop id="myVideo" onclick="myFunction()">
                    <source src="~/assests/skyclouds.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
                <div class="content">
                    <div class='console-container'>
                        <span id='text'></span>
                    </div>
                </div>
            </div>
            <div style="margin-top: 370px; margin-bottom: 60px;">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <div class="card card-body">
                                <div class="d-flex flex-column justify-content-center align-items-start">
                                    <div class="d-flex align-items-center">
                                        <input type="radio" />
                                        <label class="mb-0 ml-2 home-label-font-size">
                                            Search Customer(Name,Address,Mobile
                                            Number,Membership
                                            Id or Customer Id)
                                        </label>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <input type="radio" />
                                        <label class="mb-0 ml-2 home-label-font-size">Search Invoice</label>
                                    </div>
                                </div>
                                <div class="input-group my-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-search text-secondary"></i></span>
                                    </div>
                                    <select class="custom-select">
                                        <option selected>Search All</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                    <input id="myInput" class="form-control" type="text" name="myCountry"
                                           placeholder="Country">
                                    <script>
                                        function autocomplete(inp, arr) {
                                            var currentFocus;
                                            inp.addEventListener("input", function (e) {
                                                var a, b, i, val = this.value;
                                                closeAllLists();
                                                if (!val) { return false; }
                                                currentFocus = -1;
                                                a = document.createElement("DIV");
                                                a.setAttribute("id", this.id + "autocomplete-list");
                                                a.setAttribute("class", "autocomplete-items");
                                                this.parentNode.appendChild(a);
                                                for (i = 0; i < arr.length; i++) {
                                                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                                                        b = document.createElement("DIV");
                                                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                                                        b.innerHTML += arr[i].substr(val.length);
                                                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                                                        b.addEventListener("click", function (e) {
                                                            inp.value = this.getElementsByTagName("input")[0].value;
                                                            closeAllLists();
                                                        });
                                                        a.appendChild(b);
                                                    }
                                                }
                                            });
                                            inp.addEventListener("keydown", function (e) {
                                                var x = document.getElementById(this.id + "autocomplete-list");
                                                if (x) x = x.getElementsByTagName("div");
                                                if (e.keyCode == 40) {
                                                    currentFocus++;
                                                    addActive(x);
                                                } else if (e.keyCode == 38) { //up
                                                    currentFocus--;
                                                    addActive(x);
                                                } else if (e.keyCode == 13) {
                                                    e.preventDefault();
                                                    if (currentFocus > -1) {
                                                        if (x) x[currentFocus].click();
                                                    }
                                                }
                                            });
                                            function addActive(x) {
                                                if (!x) return false;
                                                removeActive(x);
                                                if (currentFocus >= x.length) currentFocus = 0;
                                                if (currentFocus < 0) currentFocus = (x.length - 1);
                                                x[currentFocus].classList.add("autocomplete-active");
                                            }
                                            function removeActive(x) {
                                                for (var i = 0; i < x.length; i++) {
                                                    x[i].classList.remove("autocomplete-active");
                                                }
                                            }
                                            function closeAllLists(elmnt) {
                                                var x = document.getElementsByClassName("autocomplete-items");
                                                for (var i = 0; i < x.length; i++) {
                                                    if (elmnt != x[i] && elmnt != inp) {
                                                        x[i].parentNode.removeChild(x[i]);
                                                    }
                                                }
                                            }
                                            document.addEventListener("click", function (e) {
                                                closeAllLists(e.target);
                                            });
                                        }
                                        var countries = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Anguilla", "Antigua & Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia & Herzegovina", "Botswana", "Brazil", "British Virgin Islands", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central Arfrican Republic", "Chad", "Chile", "China", "Colombia", "Congo", "Cook Islands", "Costa Rica", "Cote D Ivoire", "Croatia", "Cuba", "Curacao", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands", "Faroe Islands", "Fiji", "Finland", "France", "French Polynesia", "French West Indies", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Isle of Man", "Israel", "Italy", "Jamaica", "Japan", "Jersey", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kosovo", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Monaco", "Mongolia", "Montenegro", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauro", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Korea", "Norway", "Oman", "Pakistan", "Palau", "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russia", "Rwanda", "Saint Pierre & Miquelon", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Korea", "South Sudan", "Spain", "Sri Lanka", "St Kitts & Nevis", "St Lucia", "St Vincent", "Sudan", "Suriname", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Timor L'Este", "Togo", "Tonga", "Trinidad & Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks & Caicos", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States of America", "Uruguay", "Uzbekistan", "Vanuatu", "Vatican City", "Venezuela", "Vietnam", "Virgin Islands (US)", "Yemen", "Zambia", "Zimbabwe"];
                                        autocomplete(document.getElementById("myInput"), countries);</script>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button class="btn btn-add w-100 my-2">
                                            Add New Customer
                                            <i class="fa fa-lg align-baseline fa-user ml-2" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-add w-100 my-2">
                                            Daily Dashboard
                                            <i class="fa fa-lg align-baseline fa-dashboard ml-2" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 my-3">
                            <div class="d-block">
                                <label class="mb-0 home-label-get-started-font">Get Started</label>
                            </div>
                            <div class="d-flex flex-column">
                                <label class="mb-0 my-1 home-label-get-started-options-font">1.Help me to add a new customer and create a new order</label>
                                <label class="mb-0 my-1 home-label-get-started-options-font">
                                    2.Help me to understand, how to deliver garments post
                                    processing
                                </label>
                                <label class="mb-0 my-1 home-label-get-started-options-font">3.Help me to connect to support team for technical assistance</label>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 footer-content">
                            <Span class="footerColor mr-2">
                                <i class="fa fa-copyright mr-1" aria-hidden="true"></i>Excel
                                Laundry
                                Services.com
                            </Span>
                            <span class="footer-horizonLine"></span>
                            <a class="footerColor mx-2" href="#">Contact Us</a>
                            <span class="footer-horizonLine"></span>
                            <a class="footerColor mx-2" href="#">Privacy Policy</a>
                            <span class="footer-horizonLine"></span>
                            <a class="footerColor ml-2" href="#">Terms of service</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>