﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/lcMain.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <div>
        <div class="position-absolute packingStickers-main-content packingStickers-main-min-width">
            <div class="col-md-12 packingStickers-margin-bottom">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="packingStickers-white-box packingStickers-border-primary-color">
                            <div class="packingStickers-bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                <label class="mb-0 packingStickers-text-size">Print Sticker(Barcode)</label>
                                <input type="date" id="datePicker" class="form-control form-control-width" />
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="col-sm-12">
                                    <div class="d-flex flex-wrap packingStickers-bg-lightgrey my-2">
                                        <div class="col-sm-2">
                                            <div class="input-group input-group-sm my-2">
                                                <i class="input-group-text fa fa-download"></i>
                                                <input type="text" class="form-control" placeholder="Search Order">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="input-group input-group-sm my-2">
                                                <span class="input-group-text">Invoice No</span>
                                                <input type="text" class="form-control" placeholder="1">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="input-group input-group-sm my-2">
                                                <select class="form-select packingStickers-zindex">
                                                    <option value="">Select here</option>
                                                    <option value="1">All</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <button onclick="window.location.href = '@Url.Action("StickerPreview", "StickerPreview")'" class="btn packingStickers-bg-color w-100 btn-sm my-2">Preview</button>
                                        </div>
                                        <div class="col-sm-2">
                                            <button onclick="window.open('@Url.Action("StickerPrint", "StickerPrint", new { target="_blank" })')" class="btn packingStickers-bg-color w-100 btn-sm my-2">Print</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-sm">
                                            <thead class="packingStickers-bg-lightgrey">
                                                <tr>
                                                    <th class="text-left text-dark border packingStickers-font">
                                                        <input type="checkbox" />
                                                    </th>
                                                    <th class="text-left text-dark packingStickers-font-size border">S No</th>
                                                    <th class="text-left text-dark packingStickers-font-size border">BarCode</th>
                                                    <th class="text-left text-dark packingStickers-font-size border">Garment</th>
                                                    <th class="text-left text-dark packingStickers-font-size border">Remark</th>
                                                    <th class="text-left text-dark packingStickers-font-size border">Color</th>
                                                    <th class="text-left text-dark packingStickers-font-size border">Service</th>
                                                    <th class="text-left text-dark packingStickers-font-size border">Customer</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-left">
                                                        <input type="checkbox" checked />
                                                    </td>
                                                    <td class="text-left">1</td>
                                                    <td class="text-left">*1-1-1*</td>
                                                    <td class="text-left">Coat</td>
                                                    <td class="text-left"></td>
                                                    <td class="text-left"></td>
                                                    <td class="text-left">DC</td>
                                                    <td class="text-left">Testtest</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">
                                                        <input type="checkbox" checked />
                                                    </td>
                                                    <td class="text-left">2</td>
                                                    <td class="text-left">*1-2-1*</td>
                                                    <td class="text-left">Shirt</td>
                                                    <td class="text-left"></td>
                                                    <td class="text-left"></td>
                                                    <td class="text-left">DC</td>
                                                    <td class="text-left">Testtest</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">
                                                        <input type="checkbox" checked />
                                                    </td>
                                                    <td class="text-left">3</td>
                                                    <td class="text-left">*1-3-1*</td>
                                                    <td class="text-left">T-Shirt</td>
                                                    <td class="text-left"></td>
                                                    <td class="text-left"></td>
                                                    <td class="text-left">DC</td>
                                                    <td class="text-left">Testtest</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var d = new Date();
        var today = d.getFullYear() + "-" + ("0" + (d.getMonth() + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
        $('#datePicker').val(today);</script>
</body>

</html>