﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/MemberPreference.css" />
    <script>function includeHTML() {
            var z, i, elmnt, file, xhttp;
            /*loop through a collection of all HTML elements:*/
            z = document.getElementsByTagName("*");
            for (i = 0; i < z.length; i++) {
                elmnt = z[i];
                /*search for elements with a certain atrribute:*/
                file = elmnt.getAttribute("component");
                if (file) {
                    /*make an HTTP request using the attribute value as the file name:*/
                    xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4) {
                            if (this.status == 200) { elmnt.innerHTML = this.responseText; }
                            if (this.status == 404) { elmnt.innerHTML = "Page not found."; }
                            /*remove the attribute, and call this function once more:*/
                            elmnt.removeAttribute("component");
                            includeHTML();
                        }
                    }
                    xhttp.open("GET", file, true);
                    xhttp.send();
                    /*exit the function:*/
                    return;
                }
            }
        };</script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Boostrap 4 toggle switch-->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <div>
        <div class="position-absolute content main-min-width home-content mb-5 pb-5">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="white-box border-primary-color">
                            <div class="bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                <label class="mb-0 font-size">Customer Preference</label>
                            </div>
                            <form class="px-3 py-1" enctype="multipart/form-data" autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group required d-flex my-2">
                                            <div class="input-group input-group-sm">
                                                <label class="input-group-text font-size">Category Preference</label>
                                                <input type="text" class="form-control font-size"
                                                       placeholder="Kindly Enter Customer Preference" />
                                            </div>
                                            <i class="fa fa-info-circle pl-1 pt-1 text-primary-color"
                                               data-bs-toggle="tooltip"
                                               title='Enter the name of the garment category'></i>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12 d-flex flex-wrap justify-content-between">
                                        <button type="button" class="btn btn-info font my-2">
                                            <i class="fa fa-edit"></i>
                                            Save
                                        </button>
                                        <div class="modal fade" id="exampleModal">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                                <div class="modal-content p-1">
                                                    <div class="modal-header bg-color border-color">
                                                        <h5 class="modal-title text-size">
                                                            Set Category Sequence
                                                        </h5>
                                                        <button type="button" class="close text-white"
                                                                style="outline: none;" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">
                                                                ×
                                                            </span>
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-sm">
                                <thead class="bg-secondary">
                                    <tr>
                                        <th class="text-left text-white text-size"></th>
                                        <th class="text-left text-white text-size">Customer Preference</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-left font-size">Select</td>
                                        <td class="text-left font-size">Flat Pressing</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left font-size">Select</td>
                                        <td class="text-left font-size">No Starch</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left font-size">Select</td>
                                        <td class="text-left font-size">Light Starch</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left font-size">Select</td>
                                        <td class="text-left font-size">Hard Starch</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left font-size">Select</td>
                                        <td class="text-left font-size">Medium Starch</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left font-size">Select</td>
                                        <td class="text-left font-size">Suit Shirt on Hanger</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left font-size">Select</td>
                                        <td class="text-left font-size">None</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left font-size">Select</td>
                                        <td class="text-left font-size">NA</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div component="/components/Footer/footer.html"></div>
        <script>includeHTML();</script>
    </div>
</body>

</html>