﻿@using FLS.LC.Web.Models.Master
@model FLS.LC.Web.Models.Master.StickerConfigurationObject
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/lc.css" asp-append-version="true"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Boostrap 4 toggle switch-->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <div>
        @if (Model.ShowSuccessAlert == true)
        {
            @Html.Hidden("IsFormSubmit", "true");
        }
        @Html.Hidden("usrEmail", Model.StcUsremail);

        <div class="position-absolute stickerConfiguration-main-content stickerConfiguration-main-min-width">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        @if (Model.ShowSuccessAlert == false)
                        {
                            @await Html.PartialAsync("_LayoutAlertMessage");
                            // Model.OrderScreenConfigurationDto = null;
                        }
                        <div class="white-box border-primary-color">
                            <div class="bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                <label class="mb-0">Packing Sticker Configuration</label>
                            </div>
                            <form method="post" id="StickreConfig" enctype="multipart/form-data" asp-controller="StickerConfiguration" asp-action="StickerConfiguration" class="needs-validation p-3" novalidate autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="input-group input-group-sm my-2">
                                            <label class="input-group-text">
                                                Sticker
                                                Type
                                            </label>
                                            <select class="form-select">
                                                <option selected>Choose...</option>
                                                <option value="1">Continuous Roll Paper</option>
                                                <option value="2">A4 Self-Adhesive Address Label</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group input-group-sm my-2">
                                            <label class="input-group-text">Default Printer</label>
                                            <select class="form-select">
                                                <option selected>Choose...</option>
                                                <option value="1">One Note for Windows 10</option>
                                                <option value="2">One Note for Desktop</option>
                                                <option value="3">Microsoft XPS Document writer</option>
                                                <option value="4">Microsoft Print to PDF</option>
                                                <option value="5">HP Deskjet 1120 Series</option>
                                                <option value="6">Fax</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group input-group-sm my-2">
                                            <label class="input-group-text">Print Head Alignment</label>
                                            <select class="form-select">
                                                <option selected>Choose...</option>
                                                <option value="1">Center</option>
                                                <option value="2">Left</option>
                                                <option value="3">Right</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="input-group input-group-sm my-2">
                                            <label class="input-group-text">Width</label>
                                            <select class="form-select">
                                                <option selected>Choose...</option>
                                                <option value="1">1.0in</option>
                                                <option value="2">1.2in</option>
                                                <option value="3">1.4in</option>
                                                <option value="4">1.6in</option>
                                                <option value="5">1.8in</option>
                                                <option value="6">2.0in</option>
                                                <option value="7">2.2in</option>
                                                <option value="8">2.4in</option>
                                                <option value="9">2.6in</option>
                                                <option value="10">2.8in</option>
                                                <option value="11">3.0in</option>
                                                <option value="12">3.2in</option>
                                                <option value="13">3.4in</option>
                                                <option value="14">3.6in</option>
                                                <option value="15">3.8in</option>
                                                <option value="16">4.0in</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="input-group input-group-sm my-2">
                                            <label class="input-group-text">Height</label>
                                            <select class="form-select">
                                                <option selected>Choose...</option>
                                                <option value="1">1.0in</option>
                                                <option value="2">1.2in</option>
                                                <option value="3">1.4in</option>
                                                <option value="4">1.6in</option>
                                                <option value="5">1.8in</option>
                                                <option value="6">2.0in</option>
                                                <option value="7">2.2in</option>
                                                <option value="8">2.4in</option>
                                                <option value="9">2.6in</option>
                                                <option value="10">2.8in</option>
                                                <option value="11">3.0in</option>
                                                <option value="12">3.2in</option>
                                                <option value="13">3.4in</option>
                                                <option value="14">3.6in</option>
                                                <option value="15">3.8in</option>
                                                <option value="16">4.0in</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <label class="input-border">Store Name</label>
                                                @Html.DropDownListFor(model => model.StcUstname, ViewBag.RegisteredUserStoresListItems as IEnumerable<SelectListItem>, "Select", new { id = "StcUstName" })
                                                <i class="fa fa-info-circle pl-1 pt-1 text-primary-color"
                                                   data-bs-toggle="tooltip"
                                                   title='select the default form for discount that you offer.'></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group input-group-sm my-2">
                                            <label class="input-group-text">Print Adjustment</label>
                                            <select class="form-select">
                                                <option selected>Choose...</option>
                                                <option value="1">-0.9in</option>
                                                <option value="2">-0.8in</option>
                                                <option value="3">-0.7in</option>
                                                <option value="4">-0.6in</option>
                                                <option value="5">-0.5in</option>
                                                <option value="6">-0.4in</option>
                                                <option value="7">-0.3in</option>
                                                <option value="8">-0.2in</option>
                                                <option value="9">-0.1in</option>
                                                <option value="10">0.0in</option>
                                                <option value="11">0.1in</option>
                                                <option value="12">0.2in</option>
                                                <option value="13">0.3in</option>
                                                <option value="14">0.4in</option>
                                                <option value="15">0.5in</option>
                                                <option value="16">0.6in</option>
                                                <option value="17">0.7in</option>
                                                <option value="18">0.8in</option>
                                                <option value="19">0.9in</option>
                                                <option value="20">1.0in</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="stickerConfiguration-horizon-line my-2"></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <div class="table-responsive my-2">
                                                <table class="table table-sm table-bordered table-hover mb-0"
                                                       cellspacing="0">
                                                    <thead>
                                                        <tr class="stickerConfiguration-bg-color-1">
                                                            <th class="text-left border stickerConfiguration-text-size">Option</th>
                                                            <th class="text-left border stickerConfiguration-text-size">Print</th>
                                                            <th class="text-left border stickerConfiguration-text-size">Font</th>
                                                            <th class="text-left border stickerConfiguration-text-size">Align</th>
                                                            <th class="text-left border stickerConfiguration-text-size">Size</th>
                                                            <th class="text-left border stickerConfiguration-text-size">Style</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (var i = 0; i < Model.listStickerConfigurationDto.Count; i++)
                                                        {
                                                            <tr class="border">
                                                                <td class="text-left stickerConfiguration-text-sizes stickerConfiguration-padding-top">
                                                                    @Html.HiddenFor(m => m.listStickerConfigurationDto[i].StcId)
                                                                    @Html.LabelFor(m => @Model.listStickerConfigurationDto[i].StcOption, Model.listStickerConfigurationDto[i].StcOption)
                                                                    @Html.HiddenFor(model => @model.listStickerConfigurationDto[i].StcOption)
                                                                </td>
                                                                <td class="text-left stickerConfiguration-text-sizes stickerConfiguration-padding">
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   @Html.CheckBoxFor(m => m.listStickerConfigurationDto[i].StcPrintIsenable, new { @class = "form-check-input" })
                                                                </td>
                                                                <td class="text-left">
                                                                    @Html.DropDownListFor(m => m.listStickerConfigurationDto[i].StcFontName, new[]{
                                    new SelectListItem(){ Text = "Arial, sans-serif", Value = "Arial, sans-serif"},
                                    new SelectListItem(){ Text = "Helvetica, sans-serif", Value = "Helvetica, sans-serif"},
                                    new SelectListItem(){ Text = "Verdana, sans-serif", Value = "Verdana, sans-serif"},
                                    new SelectListItem(){ Text = "Trebuchet MS, sans-serif", Value = "Trebuchet MS, sans-serif"},
                                    new SelectListItem(){ Text = "Gill Sans, sans-serif", Value = "Gill Sans, sans-serif"},
                                    new SelectListItem(){ Text = "Noto Sans, sans-serif", Value = "Noto Sans, sans-serif"},
                                    new SelectListItem(){ Text = "Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif", Value = "Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif"},
                                    new SelectListItem(){ Text = "Optima, sans-serif", Value = "Optima, sans-serif"},
                                    new SelectListItem(){ Text = "sans-serif", Value = "sans-serif"},
                                    new SelectListItem(){ Text = "Times, Times New Roman, serif", Value = "Times, Times New Roman, serif"},
                                    new SelectListItem(){ Text = "Didot, serif", Value = "Didot, serif"},
                                    new SelectListItem(){ Text = "Georgia, serif", Value = "Georgia, serif"},
                                    new SelectListItem(){ Text = "Palatino, URW Palladio L, serif", Value = "Palatino, URW Palladio L, serif"},
                                    new SelectListItem(){ Text = "New Century Schoolbook, TeX Gyre Schola, serif", Value = "New Century Schoolbook, TeX Gyre Schola, serif"},
                                    new SelectListItem(){ Text = "American Typewriter, serif", Value = "American Typewriter, serif"},
                                    new SelectListItem(){ Text = "serif", Value = "serif"},
                                    new SelectListItem(){ Text = "Andale Mono, monospace", Value = "Andale Mono, monospace"},
                                    new SelectListItem(){ Text = "Courier New, monospace", Value = "Courier New, monospace"},
                                    new SelectListItem(){ Text = "Courier, monospace", Value = "Courier, monospace"},
                                    new SelectListItem(){ Text = "FreeMono, monospace", Value = "FreeMono, monospace"},
                                    new SelectListItem(){ Text = "OCR A Std, monospace", Value = "OCR A Std, monospace"},
                                    new SelectListItem(){ Text = "DejaVu Sans Mono, monospace", Value = "DejaVu Sans Mono, monospace"},
                                    new SelectListItem(){ Text = "Comic Sans MS, Comic Sans, cursive", Value = "Comic Sans MS, Comic Sans, cursive"},
                                    new SelectListItem(){ Text = "Bradley Hand, cursive", Value = "Bradley Hand, cursive"},
                                    new SelectListItem(){ Text = "Brush Script MT, Brush Script Std, cursive", Value = "Brush Script MT, Brush Script Std, cursive"},
                                    new SelectListItem(){ Text = "Snell Roundhand, cursive", Value = "Snell Roundhand, cursive"},
                                    new SelectListItem(){ Text = "URW Chancery L, cursive", Value = "URW Chancery L, cursive"},
                                    new SelectListItem(){ Text = "cursive", Value = "cursive"},
                                    new SelectListItem(){ Text = "Impact, fantasy", Value = "Impact, fantasy"},
                                    new SelectListItem(){ Text = "Luminari, fantasy", Value = "Luminari, fantasy"},
                                    new SelectListItem(){ Text = "Impact, fantasy", Value = "Impact, fantasy"},
                                    new SelectListItem(){ Text = "Chalkduster, fantasy", Value = "Chalkduster, fantasy"},
                                    new SelectListItem(){ Text = "Jazz LET, fantasy", Value = "Jazz LET, fantasy"},
                                    new SelectListItem(){ Text = "Blippo, fantasy", Value = "Blippo, fantasy"},
                                    new SelectListItem(){ Text = "Stencil Std, fantasy", Value = "Stencil Std, fantasy"},
                                    new SelectListItem(){ Text = "Marker Felt, fantasy", Value = "Marker Felt, fantasy"},
                                    new SelectListItem(){ Text = "Trattatello, fantasy", Value = "Trattatello, fantasy"},
                                    }, "Select", new { style = "width:270px", required = "required", @class = "form-control input-sm" })
                                                                </td>
                                                                <td class="text-left">
                                                                    @Html.DropDownListFor(m => m.listStickerConfigurationDto[i].StcTextAlign, new[]{
                                    new SelectListItem(){ Text = "Center", Value = "Center"},
                                    new SelectListItem(){ Text = "Left", Value = "Left"},
                                    new SelectListItem(){ Text = "Right", Value = "Right"},
                                    }, "Select", new { style = "width:270px", required = "required", @class = "form-control input-sm" })
                                                                </td>
                                                                <td class="text-left">
                                                                    <div class="input-group input-group-sm" style="width: 89px;">
                                                                        <button id="listStickerConfigurationDto_@(i)__Stcminus" class="textsige fa fa-minus input-group-text pt-2 bg-danger text-white"
                                                                                data-decrease></button>
                                                                        @Html.TextBoxFor(m => m.listStickerConfigurationDto[i].StcTextSize, new { @class = "form-control input form-feedback-icon-valid" })
                                                                        <button id="listStickerConfigurationDto_@(i)__Stcplus" class="textsige fa fa-plus input-group-text pt-2 bg-success text-white"
                                                                                data-increase></button>
                                                                    </div>
                                                                </td>
                                                                <td class="text-left stickerConfiguration-text-sizes stickerConfiguration-padding">
                                                                    <div class="d-flex">
                                                                        <div class="form-check form-check-inline d-flex">
                                                                            @Html.CheckBoxFor(m => m.listStickerConfigurationDto[i].StcBoldStyle, new { @class = "form-check-input" })
                                                                            <label class="form-check-label"
                                                                                   for="inlineCheckbox1">&nbsp;B</label>
                                                                        </div>
                                                                        <div class="form-check form-check-inline d-flex">
                                                                            @Html.CheckBoxFor(m => m.listStickerConfigurationDto[i].StcItalicStyle, new { @class = "form-check-input" })
                                                                            <label class="form-check-label"
                                                                                   for="inlineCheckbox2">&nbsp;I</label>
                                                                        </div>
                                                                        <div class="form-check form-check-inline d-flex">
                                                                            @Html.CheckBoxFor(m => m.listStickerConfigurationDto[i].StcUnderlineStyle, new { @class = "form-check-input" })
                                                                            <label class="form-check-label"
                                                                                   for="inlineCheckbox2">&nbsp;U</label>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="text-size">Sticker Preview</label>
                                            <div class="stickerConfiguration-card-box d-flex flex-column justify-content-center">
                                                <div id="pv_barcode" class="font-size text-center mb-0">barcode</div>
                                                <div id="pv_bookingno" class="text-size text-center mb-0">123456DC</div>
                                                <label id="pv_process" class="font-size text-center mb-0"> DC </label>
                                                <div id="pv_garmentname">Garment Name</div>
                                                <div id="pv_customername" class="font-size text-center mb-0">Customer Name</div>
                                                <div id="pv_customeraddress" class="font-size text-center mb-0">Customer Address</div>
                                                <div id="pv_color" class="text-size text-center mb-0">Color</div>
                                                <div id="pv_remark" class="font-size text-center mb-0">Remark Description</div>
                                                <div id="pv_date" class="text-size text-center mb-0">10-aprl-1990</div>
                                            </div>
                                            <button id="sc_post" class="bg-color w-fit-content border-primary-color border-round text-sizes d-flex justify-content-start align-items-center my-2">
                                                Update
                                            </button>
                                            <!-- <button></button> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="white-box">
                                                <div class="p-2">
                                                    <div class="table-responsive" style="overflow: unset;">
                                                        <table class="table table-bordered table-hover mb-0" cellspacing="0">
                                                            <thead class="bg-secondary">
                                                                <tr>
                                                                    <th class="text-center text-white text-size">Operation</th>
                                                                    <th class="text-center text-white text-size">Store Name</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model.ShowSuccessAlert == true)
                                                                {
                                                                    if (Model.StConfigStores.Count == 0)
                                                                    {
                                                                        <tr style="text-align:center">
                                                                            <td>
                                                                                <label> <b> No Sticker Configurations Found.... </b> </label>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                    else
                                                                    {
                                                                        @foreach (string stConfigStore in Model.StConfigStores)
                                                                        {

                                                                            <tr>
                                                                                <td class="text-center"><a class="btnselect btn btn-primary">Select</a></td>
                                                                                <td name="UstName" class="text-center">@stConfigStore</td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#listStickerConfigurationDto_0__StcTextSize").val(2);
                $("#listStickerConfigurationDto_1__StcTextSize").val(2);
                $("#listStickerConfigurationDto_2__StcTextSize").val(2);
                $("#listStickerConfigurationDto_3__StcTextSize").val(2);
                $("#listStickerConfigurationDto_4__StcTextSize").val(2);
                $("#listStickerConfigurationDto_5__StcTextSize").val(2);
                $("#listStickerConfigurationDto_6__StcTextSize").val(2);
                $("#listStickerConfigurationDto_7__StcTextSize").val(2);
                $("#listStickerConfigurationDto_8__StcTextSize").val(2);
                $("#sc_post").click(function (event) {
                    //$('#pv_bookingno').css('font-size', 40 + 'px');
                    //document.getElementById("pv_bookingno").style.fontFamily = "Arial, sans-serif";
                    //$("#pv_bookingno").css('font-style', 'italic');
                    //$("#pv_bookingno").css('font-weight', 'bold');
                    //$("#pv_bookingno").css('text-decoration', 'underline');
                    //$("#pv_bookingno").css('text-align', 'left');
                    //$("#pv_bookingno").css('text-align', 'right');
                      $("#StickreConfig").submit();
                });
                $('button.textsige').click(function (event) {
                    var clickedtext = event.target.id;
                    if (clickedtext == "listStickerConfigurationDto_0__Stcminus") {
                        if ($("#listStickerConfigurationDto_0__StcTextSize").val() <= 2)
                            $("#listStickerConfigurationDto_0__StcTextSize").val(2);
                        else
                            $("#listStickerConfigurationDto_0__StcTextSize").val($("#listStickerConfigurationDto_0__StcTextSize").val() - 1);
                    }
                    if (clickedtext == "listStickerConfigurationDto_1__Stcminus") {
                        if ($("#listStickerConfigurationDto_1__StcTextSize").val() <= 2)
                            $("#listStickerConfigurationDto_1__StcTextSize").val(2);
                        else
                            $("#listStickerConfigurationDto_1__StcTextSize").val($("#listStickerConfigurationDto_1__StcTextSize").val() - 1);
                    }
                    if (clickedtext == "listStickerConfigurationDto_2__Stcminus") {
                        if ($("#listStickerConfigurationDto_2__StcTextSize").val() <= 2)
                            $("#listStickerConfigurationDto_2__StcTextSize").val(2);
                        else
                            $("#listStickerConfigurationDto_2__StcTextSize").val($("#listStickerConfigurationDto_2__StcTextSize").val() - 1);
                    }
                    if (clickedtext == "listStickerConfigurationDto_3__Stcminus") {
                        if ($("#listStickerConfigurationDto_3__StcTextSize").val() <= 2)
                            $("#listStickerConfigurationDto_3__StcTextSize").val(2);
                        else
                            $("#listStickerConfigurationDto_3__StcTextSize").val($("#listStickerConfigurationDto_3__StcTextSize").val() - 1);
                    }
                    if (clickedtext == "listStickerConfigurationDto_4__Stcminus") {
                        if ($("#listStickerConfigurationDto_4__StcTextSize").val() <= 2)
                            $("#listStickerConfigurationDto_4__StcTextSize").val(2);
                        else
                            $("#listStickerConfigurationDto_4__StcTextSize").val($("#listStickerConfigurationDto_4__StcTextSize").val() - 1);
                    }
                    if (clickedtext == "listStickerConfigurationDto_5__Stcminus") {
                        if ($("#listStickerConfigurationDto_5__StcTextSize").val() <= 2)
                            $("#listStickerConfigurationDto_5__StcTextSize").val(2);
                        else
                            $("#listStickerConfigurationDto_5__StcTextSize").val($("#listStickerConfigurationDto_5__StcTextSize").val() - 1);
                    }
                    if (clickedtext == "listStickerConfigurationDto_6__Stcminus") {
                        if ($("#listStickerConfigurationDto_6__StcTextSize").val() <= 2)
                            $("#listStickerConfigurationDto_6__StcTextSize").val(2);
                        else
                            $("#listStickerConfigurationDto_6__StcTextSize").val($("#listStickerConfigurationDto_6__StcTextSize").val() - 1);
                    }
                    if (clickedtext == "listStickerConfigurationDto_7__Stcminus") {
                        if ($("#listStickerConfigurationDto_7__StcTextSize").val() <= 2)
                            $("#listStickerConfigurationDto_7__StcTextSize").val(2);
                        else
                            $("#listStickerConfigurationDto_7__StcTextSize").val($("#listStickerConfigurationDto_7__StcTextSize").val() - 1);
                    }
                    if (clickedtext == "listStickerConfigurationDto_8__Stcminus") {
                        if ($("#listStickerConfigurationDto_8__StcTextSize").val() <= 2)
                            $("#listStickerConfigurationDto_8__StcTextSize").val(2);
                        else
                            $("#listStickerConfigurationDto_8__StcTextSize").val($("#listStickerConfigurationDto_8__StcTextSize").val() - 1);
                    }

                    //plus
                    if (clickedtext == "listStickerConfigurationDto_0__Stcplus") {
                        if ($("#listStickerConfigurationDto_0__StcTextSize").val() >= 10)
                            $("#listStickerConfigurationDto_0__StcTextSize").val(10);
                        else
                            $("#listStickerConfigurationDto_0__StcTextSize").val(parseInt($("#listStickerConfigurationDto_0__StcTextSize").val()) + parseInt(1));
                    }
                    if (clickedtext == "listStickerConfigurationDto_1__Stcplus") {
                        if ($("#listStickerConfigurationDto_1__StcTextSize").val() >= 10)
                            $("#listStickerConfigurationDto_1__StcTextSize").val(10);
                        else
                            $("#listStickerConfigurationDto_1__StcTextSize").val(parseInt($("#listStickerConfigurationDto_1__StcTextSize").val()) + parseInt(1));
                    }
                    if (clickedtext == "listStickerConfigurationDto_2__Stcplus") {
                        if ($("#listStickerConfigurationDto_2__StcTextSize").val() >= 10)
                            $("#listStickerConfigurationDto_2__StcTextSize").val(10);
                        else
                            $("#listStickerConfigurationDto_2__StcTextSize").val(parseInt($("#listStickerConfigurationDto_2__StcTextSize").val()) + parseInt(1));
                    }
                    if (clickedtext == "listStickerConfigurationDto_3__Stcplus") {
                        if ($("#listStickerConfigurationDto_3__StcTextSize").val() >= 10)
                            $("#listStickerConfigurationDto_3__StcTextSize").val(10);
                        else
                            $("#listStickerConfigurationDto_3__StcTextSize").val(parseInt($("#listStickerConfigurationDto_3__StcTextSize").val()) + parseInt(1));
                    }
                    if (clickedtext == "listStickerConfigurationDto_4__Stcplus") {
                        if ($("#listStickerConfigurationDto_4__StcTextSize").val() >= 10)
                            $("#listStickerConfigurationDto_4__StcTextSize").val(10);
                        else
                            $("#listStickerConfigurationDto_4__StcTextSize").val(parseInt($("#listStickerConfigurationDto_4__StcTextSize").val()) + parseInt(1));
                    }
                    if (clickedtext == "listStickerConfigurationDto_5__Stcplus") {
                        if ($("#listStickerConfigurationDto_5__StcTextSize").val() >= 10)
                            $("#listStickerConfigurationDto_5__StcTextSize").val(10);
                        else
                            $("#listStickerConfigurationDto_5__StcTextSize").val(parseInt($("#listStickerConfigurationDto_5__StcTextSize").val()) + parseInt(1));
                    }
                    if (clickedtext == "listStickerConfigurationDto_6__Stcplus") {
                        if ($("#listStickerConfigurationDto_6__StcTextSize").val() >= 10)
                            $("#listStickerConfigurationDto_6__StcTextSize").val(10);
                        else
                            $("#listStickerConfigurationDto_6__StcTextSize").val(parseInt($("#listStickerConfigurationDto_6__StcTextSize").val()) + parseInt(1));
                    }
                    if (clickedtext == "listStickerConfigurationDto_7__Stcplus") {
                        if ($("#listStickerConfigurationDto_7__StcTextSize").val() >= 10)
                            $("#listStickerConfigurationDto_7__StcTextSize").val(10);
                        else
                            $("#listStickerConfigurationDto_7__StcTextSize").val(parseInt($("#listStickerConfigurationDto_7__StcTextSize").val()) + parseInt(1));
                    }
                    if (clickedtext == "listStickerConfigurationDto_8__Stcplus") {
                        if ($("#listStickerConfigurationDto_8__StcTextSize").val() >= 10)
                            $("#listStickerConfigurationDto_8__StcTextSize").val(10);
                        else
                            $("#listStickerConfigurationDto_8__StcTextSize").val(parseInt($("#listStickerConfigurationDto_8__StcTextSize").val()) + parseInt(1));
                    }
                    return false;
                });
                $('#alertmessagediv').fadeIn().delay(3000).fadeOut('slow');
            });
            $("#StcUstName").change(function () {
                var usrStoreName = $(this).val();
                var usrEmail = $("#usrEmail").val();
                var model = {
                    'usrEmail': usrEmail.trim(),
                    'usrStoreName': usrStoreName.trim(),
                }
                $.ajax({
                    url: '@Url.Action("SelectedStoreStickerConfigDetails", "StickerConfiguration")',
                    type: "POST",
                    data: model,
                    success: function (result) {
                        if (result.length == 0)
                        {
                                    $("#listStickerConfigurationDto_0__StcId").val(0);
                                    $("#listStickerConfigurationDto_0__StcPrintIsenable").prop("checked", false);
                                    $("#listStickerConfigurationDto_0__StcFontName").val('');
                                    $("#listStickerConfigurationDto_0__StcTextAlign").val('');
                                    $("#listStickerConfigurationDto_0__StcTextSize").val('');
                                    $("#listStickerConfigurationDto_0__StcBoldStyle").prop('checked', false);
                                    $("#listStickerConfigurationDto_0__StcItalicStyle").prop('checked', false);
                            $("#listStickerConfigurationDto_0__StcUnderlineStyle").prop('checked', false);

                            $("#listStickerConfigurationDto_1__StcId").val(0);
                            $("#listStickerConfigurationDto_1__StcPrintIsenable").prop("checked", false);
                            $("#listStickerConfigurationDto_1__StcFontName").val('');
                            $("#listStickerConfigurationDto_1__StcTextAlign").val('');
                            $("#listStickerConfigurationDto_1__StcTextSize").val('');
                            $("#listStickerConfigurationDto_1__StcBoldStyle").prop('checked', false);
                            $("#listStickerConfigurationDto_1__StcItalicStyle").prop('checked', false);
                            $("#listStickerConfigurationDto_1__StcUnderlineStyle").prop('checked', false);

                            $("#listStickerConfigurationDto_2__StcId").val(0);
                            $("#listStickerConfigurationDto_2__StcPrintIsenable").prop("checked", false);
                            $("#listStickerConfigurationDto_2__StcFontName").val('');
                            $("#listStickerConfigurationDto_2__StcTextAlign").val('');
                            $("#listStickerConfigurationDto_2__StcTextSize").val('');
                            $("#listStickerConfigurationDto_2__StcBoldStyle").prop('checked', false);
                            $("#listStickerConfigurationDto_2__StcItalicStyle").prop('checked', false);
                            $("#listStickerConfigurationDto_2__StcUnderlineStyle").prop('checked', false);

                            $("#listStickerConfigurationDto_3__StcId").val(0);
                            $("#listStickerConfigurationDto_3__StcPrintIsenable").prop("checked", false);
                            $("#listStickerConfigurationDto_3__StcFontName").val('');
                            $("#listStickerConfigurationDto_3__StcTextAlign").val('');
                            $("#listStickerConfigurationDto_3__StcTextSize").val('');
                            $("#listStickerConfigurationDto_3__StcBoldStyle").prop('checked', false);
                            $("#listStickerConfigurationDto_3__StcItalicStyle").prop('checked', false);
                            $("#listStickerConfigurationDto_3__StcUnderlineStyle").prop('checked', false);

                            $("#listStickerConfigurationDto_4__StcId").val(0);
                            $("#listStickerConfigurationDto_4__StcPrintIsenable").prop("checked", false);
                            $("#listStickerConfigurationDto_4__StcFontName").val('');
                            $("#listStickerConfigurationDto_4__StcTextAlign").val('');
                            $("#listStickerConfigurationDto_4__StcTextSize").val('');
                            $("#listStickerConfigurationDto_4__StcBoldStyle").prop('checked', false);
                            $("#listStickerConfigurationDto_4__StcItalicStyle").prop('checked', false);
                            $("#listStickerConfigurationDto_4__StcUnderlineStyle").prop('checked', false);

                            $("#listStickerConfigurationDto_5__StcId").val(0);
                            $("#listStickerConfigurationDto_5__StcPrintIsenable").prop("checked", false);
                            $("#listStickerConfigurationDto_5__StcFontName").val('');
                            $("#listStickerConfigurationDto_5__StcTextAlign").val('');
                            $("#listStickerConfigurationDto_5__StcTextSize").val('');
                            $("#listStickerConfigurationDto_5__StcBoldStyle").prop('checked', false);
                            $("#listStickerConfigurationDto_5__StcItalicStyle").prop('checked', false);
                            $("#listStickerConfigurationDto_5__StcUnderlineStyle").prop('checked', false);

                            $("#listStickerConfigurationDto_6__StcId").val(0);
                            $("#listStickerConfigurationDto_6__StcPrintIsenable").prop("checked", false);
                            $("#listStickerConfigurationDto_6__StcFontName").val('');
                            $("#listStickerConfigurationDto_6__StcTextAlign").val('');
                            $("#listStickerConfigurationDto_6__StcTextSize").val('');
                            $("#listStickerConfigurationDto_6__StcBoldStyle").prop('checked', false);
                            $("#listStickerConfigurationDto_6__StcItalicStyle").prop('checked', false);
                            $("#listStickerConfigurationDto_6__StcUnderlineStyle").prop('checked', false);

                            $("#listStickerConfigurationDto_7__StcId").val(0);
                            $("#listStickerConfigurationDto_7__StcPrintIsenable").prop("checked", false);
                            $("#listStickerConfigurationDto_7__StcFontName").val('');
                            $("#listStickerConfigurationDto_7__StcTextAlign").val('');
                            $("#listStickerConfigurationDto_7__StcTextSize").val('');
                            $("#listStickerConfigurationDto_7__StcBoldStyle").prop('checked', false);
                            $("#listStickerConfigurationDto_7__StcItalicStyle").prop('checked', false);
                            $("#listStickerConfigurationDto_7__StcUnderlineStyle").prop('checked', false);

                            $("#listStickerConfigurationDto_8__StcId").val(0);
                            $("#listStickerConfigurationDto_8__StcPrintIsenable").prop("checked", false);
                            $("#listStickerConfigurationDto_8__StcFontName").val('');
                            $("#listStickerConfigurationDto_8__StcTextAlign").val('');
                            $("#listStickerConfigurationDto_8__StcTextSize").val('');
                            $("#listStickerConfigurationDto_8__StcBoldStyle").prop('checked', false);
                            $("#listStickerConfigurationDto_8__StcItalicStyle").prop('checked', false);
                            $("#listStickerConfigurationDto_8__StcUnderlineStyle").prop('checked', false);
                        }
                        else if (result.length > 0)
                        {
                            for (var i = 0; i < result.length; i++) {
                                if (i == 0)
                                {
                                    $("#listStickerConfigurationDto_0__StcId").val(result[i].stcId);
                                    if (result[i].stcPrintIsenable == true) {
                                        $("#listStickerConfigurationDto_0__StcPrintIsenable").prop('checked', true);
                                        // sticker preview code
                                        document.getElementById("pv_barcode").style.fontFamily = result[i].stcFontName;
                                        $("#pv_barcode").css('text-align', result[i].stcTextAlign);
                                        $('#pv_barcode').css('font-size', result[i].stcTextSize + 'px');
                                        if (result[i].stcTextStyle == "B")
                                            $("#pv_barcode").css('font-style', 'bolditalic');
                                        if (result[i].stcTextStyle == "I")
                                            $("#pv_barcode").css('font-weight', 'italic');
                                        if (result[i].stcTextStyle == "U")
                                            $("#pv_barcode").css('text-decoration', 'underline');
                                    }
                                    else {
                                        $("#listStickerConfigurationDto_0__StcPrintIsenable").prop('checked', false);
                                        $("#pv_barcode").hide();
                                    }
                                    $("#listStickerConfigurationDto_0__StcFontName").val(result[i].stcFontName).change();
                                    $("#listStickerConfigurationDto_0__StcTextAlign").val(result[i].stcTextAlign).change();
                                    $("#listStickerConfigurationDto_0__StcTextSize").val(result[i].stcTextSize);
                                    if (result[i].stcTextStyle == "B")
                                        $("#listStickerConfigurationDto_0__StcBoldStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_0__StcBoldStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "I")
                                        $("#listStickerConfigurationDto_0__StcItalicStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_0__StcItalicStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "U")
                                        $("#listStickerConfigurationDto_0__StcUnderlineStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_0__StcUnderlineStyle").prop('checked', false);
                                }
                                else if (i == 1) {
                                    $("#listStickerConfigurationDto_1__StcId").val(result[i].stcId);
                                    if (result[i].stcPrintIsenable == true) {
                                        $("#listStickerConfigurationDto_1__StcPrintIsenable").prop('checked', true);
                                        // sticker preview code
                                        document.getElementById("pv_bookingno").style.fontFamily = result[i].stcFontName;
                                        $("#pv_bookingno").css('text-align', result[i].stcTextAlign);
                                        $('#pv_bookingno').css('font-size', result[i].stcTextSize + 'px');
                                        if (result[i].stcTextStyle == "B")
                                            $("#pv_bookingno").css('font-style', 'bolditalic');
                                        if (result[i].stcTextStyle == "I")
                                            $("#pv_bookingno").css('font-weight', 'italic');
                                        if (result[i].stcTextStyle == "U")
                                            $("#pv_bookingno").css('text-decoration', 'underline');
                                    }
                                    else {
                                        $("#listStickerConfigurationDto_1__StcPrintIsenable").prop('checked', false);
                                        $("#pv_bookingno").hide();
                                    }
                                    $("#listStickerConfigurationDto_1__StcFontName").val(result[i].stcFontName).change();
                                    $("#listStickerConfigurationDto_1__StcTextAlign").val(result[i].stcTextAlign).change();
                                    $("#listStickerConfigurationDto_1__StcTextSize").val(result[i].stcTextSize);
                                    if (result[i].stcTextStyle == "B")
                                        $("#listStickerConfigurationDto_1__StcBoldStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_1__StcBoldStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "I")
                                        $("#listStickerConfigurationDto_1__StcItalicStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_1__StcItalicStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "U")
                                        $("#listStickerConfigurationDto_1__StcUnderlineStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_1__StcUnderlineStyle").prop('checked', false);
                                }
                                else if (i == 2) {
                                    $("#listStickerConfigurationDto_2__StcId").val(result[i].stcId);
                                    if (result[i].stcPrintIsenable == true) {
                                        $("#listStickerConfigurationDto_2__StcPrintIsenable").prop('checked', true);
                                        // sticker preview code
                                        document.getElementById("pv_process").style.fontFamily = result[i].stcFontName;
                                        $("#pv_process").css('text-align', result[i].stcTextAlign);
                                        $('#pv_process').css('font-size', result[i].stcTextSize + 'px');
                                        if (result[i].stcTextStyle == "B")
                                            $("#pv_process").css('font-style', 'bolditalic');
                                        if (result[i].stcTextStyle == "I")
                                            $("#pv_process").css('font-weight', 'italic');
                                        if (result[i].stcTextStyle == "U")
                                            $("#pv_process").css('text-decoration', 'underline');
                                    }
                                    else {
                                        $("#listStickerConfigurationDto_2__StcPrintIsenable").prop('checked', false);
                                        $("#pv_process").hide();
                                    }
                                    $("#listStickerConfigurationDto_2__StcFontName").val(result[i].stcFontName).change();
                                    $("#listStickerConfigurationDto_2__StcTextAlign").val(result[i].stcTextAlign).change();
                                    $("#listStickerConfigurationDto_2__StcTextSize").val(result[i].stcTextSize);
                                    if (result[i].stcTextStyle == "B")
                                        $("#listStickerConfigurationDto_2__StcBoldStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_2__StcBoldStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "I")
                                        $("#listStickerConfigurationDto_2__StcItalicStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_2__StcItalicStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "U")
                                        $("#listStickerConfigurationDto_2__StcUnderlineStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_2__StcUnderlineStyle").prop('checked', false);
                                }
                                else if (i == 3) {
                                    $("#listStickerConfigurationDto_3__StcId").val(result[i].stcId);
                                    if (result[i].stcPrintIsenable == true) {
                                        $("#listStickerConfigurationDto_3__StcPrintIsenable").prop('checked', true);
                                        // sticker preview code
                                        document.getElementById("pv_garmentname").style.fontFamily = result[i].stcFontName;
                                        $("#pv_garmentname").css('text-align', result[i].stcTextAlign);
                                        $('#pv_garmentname').css('font-size', result[i].stcTextSize + 'px');
                                        if (result[i].stcTextStyle == "B")
                                            $("#pv_garmentname").css('font-style', 'bolditalic');
                                        if (result[i].stcTextStyle == "I")
                                            $("#pv_garmentname").css('font-weight', 'italic');
                                        if (result[i].stcTextStyle == "U")
                                            $("#pv_garmentname").css('text-decoration', 'underline');
                                    }
                                    else {
                                        $("#listStickerConfigurationDto_3__StcPrintIsenable").prop('checked', false);
                                        $("#pv_garmentname").hide();
                                    }
                                    $("#listStickerConfigurationDto_3__StcFontName").val(result[i].stcFontName).change();
                                    $("#listStickerConfigurationDto_3__StcTextAlign").val(result[i].stcTextAlign).change();
                                    $("#listStickerConfigurationDto_3__StcTextSize").val(result[i].stcTextSize);
                                    if (result[i].stcTextStyle == "B")
                                        $("#listStickerConfigurationDto_3__StcBoldStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_3__StcBoldStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "I")
                                        $("#listStickerConfigurationDto_3__StcItalicStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_3__StcItalicStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "U")
                                        $("#listStickerConfigurationDto_3__StcUnderlineStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_3__StcUnderlineStyle").prop('checked', false);
                                }
                                else if (i == 4) {
                                    $("#listStickerConfigurationDto_4__StcId").val(result[i].stcId);
                                    if (result[i].stcPrintIsenable == true) {
                                        $("#listStickerConfigurationDto_4__StcPrintIsenable").prop('checked', true);
                                        // sticker preview code
                                        document.getElementById("pv_customername").style.fontFamily = result[i].stcFontName;
                                        $("#pv_customername").css('text-align', result[i].stcTextAlign);
                                        $('#pv_customername').css('font-size', result[i].stcTextSize + 'px');
                                        if (result[i].stcTextStyle == "B")
                                            $("#pv_customername").css('font-style', 'bolditalic');
                                        if (result[i].stcTextStyle == "I")
                                            $("#pv_customername").css('font-weight', 'italic');
                                        if (result[i].stcTextStyle == "U")
                                            $("#pv_customername").css('text-decoration', 'underline');
                                    }
                                    else {
                                        $("#listStickerConfigurationDto_4__StcPrintIsenable").prop('checked', false);
                                        $("#pv_customername").hide();
                                    }
                                    $("#listStickerConfigurationDto_4__StcFontName").val(result[i].stcFontName).change();
                                    $("#listStickerConfigurationDto_4__StcTextAlign").val(result[i].stcTextAlign).change();
                                    $("#listStickerConfigurationDto_4__StcTextSize").val(result[i].stcTextSize);
                                    if (result[i].stcTextStyle == "B")
                                        $("#listStickerConfigurationDto_4__StcBoldStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_4__StcBoldStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "I")
                                        $("#listStickerConfigurationDto_4__StcItalicStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_4__StcItalicStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "U")
                                        $("#listStickerConfigurationDto_4__StcUnderlineStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_4__StcUnderlineStyle").prop('checked', false);
                                }
                                else if (i == 5) {
                                    $("#listStickerConfigurationDto_5__StcId").val(result[i].stcId);
                                    if (result[i].stcPrintIsenable == true) {
                                        $("#listStickerConfigurationDto_5__StcPrintIsenable").prop('checked', true);
                                        // sticker preview code
                                        document.getElementById("pv_customeraddress").style.fontFamily = result[i].stcFontName;
                                        $("#pv_customeraddress").css('text-align', result[i].stcTextAlign);
                                        $('#pv_customeraddress').css('font-size', result[i].stcTextSize + 'px');
                                        if (result[i].stcTextStyle == "B")
                                            $("#pv_customeraddress").css('font-style', 'bolditalic');
                                        if (result[i].stcTextStyle == "I")
                                            $("#pv_customeraddress").css('font-weight', 'italic');
                                        if (result[i].stcTextStyle == "U")
                                            $("#pv_customeraddress").css('text-decoration', 'underline');
                                    }
                                    else {
                                        $("#listStickerConfigurationDto_5__StcPrintIsenable").prop('checked', false);
                                        $("#pv_customeraddress").hide();
                                    }
                                    $("#listStickerConfigurationDto_5__StcFontName").val(result[i].stcFontName).change();
                                    $("#listStickerConfigurationDto_5__StcTextAlign").val(result[i].stcTextAlign).change();
                                    $("#listStickerConfigurationDto_5__StcTextSize").val(result[i].stcTextSize);
                                    if (result[i].stcTextStyle == "B")
                                        $("#listStickerConfigurationDto_5__StcBoldStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_5__StcBoldStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "I")
                                        $("#listStickerConfigurationDto_5__StcItalicStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_5__StcItalicStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "U")
                                        $("#listStickerConfigurationDto_5__StcUnderlineStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_5__StcUnderlineStyle").prop('checked', false);
                                }
                                else if (i == 6) {
                                    $("#listStickerConfigurationDto_6__StcId").val(result[i].stcId);
                                    if (result[i].stcPrintIsenable == true) {
                                        $("#listStickerConfigurationDto_6__StcPrintIsenable").prop('checked', true);
                                        // sticker preview code
                                        document.getElementById("pv_color").style.fontFamily = result[i].stcFontName;
                                        $("#pv_color").css('text-align', result[i].stcTextAlign);
                                        $('#pv_color').css('font-size', result[i].stcTextSize + 'px');
                                        if (result[i].stcTextStyle == "B")
                                            $("#pv_color").css('font-style', 'bolditalic');
                                        if (result[i].stcTextStyle == "I")
                                            $("#pv_color").css('font-weight', 'italic');
                                        if (result[i].stcTextStyle == "U")
                                            $("#pv_color").css('text-decoration', 'underline');
                                    }
                                    else {
                                        $("#listStickerConfigurationDto_6__StcPrintIsenable").prop('checked', false);
                                        $("#pv_color").hide();
                                    }
                                    $("#listStickerConfigurationDto_6__StcFontName").val(result[i].stcFontName).change();
                                    $("#listStickerConfigurationDto_6__StcTextAlign").val(result[i].stcTextAlign).change();
                                    $("#listStickerConfigurationDto_6__StcTextSize").val(result[i].stcTextSize);
                                    if (result[i].stcTextStyle == "B")
                                        $("#listStickerConfigurationDto_6__StcBoldStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_6__StcBoldStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "I")
                                        $("#listStickerConfigurationDto_6__StcItalicStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_6__StcItalicStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "U")
                                        $("#listStickerConfigurationDto_6__StcUnderlineStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_6__StcUnderlineStyle").prop('checked', false);
                                }
                                else if (i == 7) {
                                    $("#listStickerConfigurationDto_7__StcId").val(result[i].stcId);
                                    if (result[i].stcPrintIsenable == true) {
                                        $("#listStickerConfigurationDto_7__StcPrintIsenable").prop('checked', true);
                                        // sticker preview code
                                        document.getElementById("pv_remark").style.fontFamily = result[i].stcFontName;
                                        $("#pv_remark").css('text-align', result[i].stcTextAlign);
                                        $('#pv_remark').css('font-size', result[i].stcTextSize + 'px');
                                        if (result[i].stcTextStyle == "B")
                                            $("#pv_remark").css('font-style', 'bolditalic');
                                        if (result[i].stcTextStyle == "I")
                                            $("#pv_remark").css('font-weight', 'italic');
                                        if (result[i].stcTextStyle == "U")
                                            $("#pv_remark").css('text-decoration', 'underline');
                                    }
                                    else {
                                        $("#listStickerConfigurationDto_7__StcPrintIsenable").prop('checked', false);
                                        $("#pv_remark").hide();
                                    }
                                    $("#listStickerConfigurationDto_7__StcFontName").val(result[i].stcFontName).change();
                                    $("#listStickerConfigurationDto_7__StcTextAlign").val(result[i].stcTextAlign).change();
                                    $("#listStickerConfigurationDto_7__StcTextSize").val(result[i].stcTextSize);
                                    if (result[i].stcTextStyle == "B")
                                        $("#listStickerConfigurationDto_7__StcBoldStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_7__StcBoldStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "I")
                                        $("#listStickerConfigurationDto_7__StcItalicStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_7__StcItalicStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "U")
                                        $("#listStickerConfigurationDto_7__StcUnderlineStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_7__StcUnderlineStyle").prop('checked', false);
                                }
                                else if (i == 8) {
                                    $("#listStickerConfigurationDto_8__StcId").val(result[i].stcId);
                                    if (result[i].stcPrintIsenable == true) {
                                        $("#listStickerConfigurationDto_8__StcPrintIsenable").prop('checked', true);
                                        // sticker preview code
                                        document.getElementById("pv_date").style.fontFamily = result[i].stcFontName;
                                        $("#pv_date").css('text-align', result[i].stcTextAlign);
                                        $('#pv_date').css('font-size', result[i].stcTextSize + 'px');
                                        if (result[i].stcTextStyle == "B")
                                            $("#pv_date").css('font-style', 'bolditalic');
                                        if (result[i].stcTextStyle == "I")
                                            $("#pv_date").css('font-weight', 'italic');
                                        if (result[i].stcTextStyle == "U")
                                            $("#pv_date").css('text-decoration', 'underline');
                                    }
                                    else {
                                        $("#listStickerConfigurationDto_8__StcPrintIsenable").prop('checked', false);
                                        $("#pv_date").hide();
                                    }
                                    $("#listStickerConfigurationDto_8__StcFontName").val(result[i].stcFontName).change();
                                    $("#listStickerConfigurationDto_8__StcTextAlign").val(result[i].stcTextAlign).change();
                                    $("#listStickerConfigurationDto_8__StcTextSize").val(result[i].stcTextSize);
                                    if (result[i].stcTextStyle == "B")
                                        $("#listStickerConfigurationDto_8__StcBoldStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_8__StcBoldStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "I")
                                        $("#listStickerConfigurationDto_8__StcItalicStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_8__StcItalicStyle").prop('checked', false);
                                    if (result[i].stcTextStyle == "U")
                                        $("#listStickerConfigurationDto_8__StcUnderlineStyle").prop('checked', true);
                                    else
                                        $("#listStickerConfigurationDto_8__StcUnderlineStyle").prop('checked', false);
                                }
                            }
                        }
                    }
                });
            });
            $('.btnselect').click(function (e) {
                var currentRow = $(this).closest("tr");
                var usrStoreName = currentRow.find("td:eq(1)").text();
                var usrEmail = $("#usrEmail").val();
                var model = {
                    'usrEmail': usrEmail.trim(),
                    'usrStoreName': usrStoreName.trim(),
                }
                $.ajax({
                    url: '@Url.Action("SelectedStoreStickerConfigDetails", "StickerConfiguration")',
                    type: "POST",
                    data: model,
                    success: function (result) {
                        $("#StcUstName").val(result[0].stcUstname).change();
                        for (var i = 0; i < result.length; i++) {
                            if (i == 0) {
                                $("#listStickerConfigurationDto_0__StcId").val(result[i].stcId);
                                if (result[i].stcPrintIsenable == true)
                                    $("#listStickerConfigurationDto_0__StcPrintIsenable").prop('checked', true);
                                else
                                    $("#listStickerConfigurationDto_0__StcPrintIsenable").prop('checked', false);

                                $("#listStickerConfigurationDto_0__StcFontName").val(result[i].stcFontName).change();
                                $("#listStickerConfigurationDto_0__StcTextAlign").val(result[i].stcTextAlign).change();
                                $("#listStickerConfigurationDto_0__StcTextSize").val(result[i].stcTextSize);
                                if (result[i].stcTextStyle == "B")
                                    $("#listStickerConfigurationDto_0__StcBoldStyle").prop('checked', true);
                                else
                                    $("#listStickerConfigurationDto_0__StcBoldStyle").prop('checked', false);
                                if (result[i].stcTextStyle == "I")
                                    $("#listStickerConfigurationDto_0__StcItalicStyle").prop('checked', true);
                                else
                                    $("#listStickerConfigurationDto_0__StcItalicStyle").prop('checked', false);
                                if (result[i].stcTextStyle == "U")
                                    $("#listStickerConfigurationDto_0__StcUnderlineStyle").prop('checked', true);
                                else
                                    $("#listStickerConfigurationDto_0__StcUnderlineStyle").prop('checked', false);
                            }
                            else if (i == 1)
                            {
                                $("#listStickerConfigurationDto_1__StcId").val(result[i].stcId);
                                if (result[i].stcPrintIsenable == true)
                                    $("#listStickerConfigurationDto_1__StcPrintIsenable").prop('checked', true);
                                else
                                    $("#listStickerConfigurationDto_1__StcPrintIsenable").prop('checked', false);

                                $("#listStickerConfigurationDto_1__StcFontName").val(result[i].stcFontName).change();
                                $("#listStickerConfigurationDto_1__StcTextAlign").val(result[i].stcTextAlign).change();
                                $("#listStickerConfigurationDto_1__StcTextSize").val(result[i].stcTextSize);
                                if (result[i].stcTextStyle == "B")
                                    $("#listStickerConfigurationDto_1__StcBoldStyle").prop('checked', true);
                                else
                                    $("#listStickerConfigurationDto_1__StcBoldStyle").prop('checked', false);
                                if (result[i].stcTextStyle == "I")
                                    $("#listStickerConfigurationDto_1__StcItalicStyle").prop('checked', true);
                                else
                                    $("#listStickerConfigurationDto_1__StcItalicStyle").prop('checked', false);
                                if (result[i].stcTextStyle == "U")
                                    $("#listStickerConfigurationDto_1__StcUnderlineStyle").prop('checked', true);
                                else
                                    $("#listStickerConfigurationDto_1__StcUnderlineStyle").prop('checked', false);
                            }
                        }
                    }
                });
            });
            $.fn.ForceNumericOnly =
                function () {
                    return this.each(function () {
                        $(this).keydown(function (e) {
                            var key = e.charCode || e.keyCode || 0;
                            // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                            // home, end, period, and numpad decimal
                            return (
                                key == 8 ||
                                key == 9 ||
                                key == 13 ||
                                key == 46 ||
                                key == 110 ||
                                key == 190 ||
                                (key >= 35 && key <= 40) ||
                                (key >= 48 && key <= 57) ||
                                (key >= 96 && key <= 105));
                        });
                    });
                };
            $("#StcTextSize").ForceNumericOnly();
            $(function () {
                $('[data-decrease]').click(decrease);
                $('[data-increase]').click(increase);
                $('[data-value]').change(valueChange);
            });

            function decrease() {
                var value = $(this).parent().find('[data-value]').val();
                if (value > 1) {
                    value--;
                    $(this).parent().find('[data-value]').val(value);
                }
            }

            function increase() {
                var value = $(this).parent().find('[data-value]').val();
                if (value < 100) {
                    value++;
                    $(this).parent().find('[data-value]').val(value);
                }
            }

            function valueChange() {
                var value = $(this).val();
                if (value == undefined || isNaN(value) == true || value <= 0) {
                    $(this).val(1);
                } else if (value >= 101) {
                    $(this).val(100);
                }
            }</script>
    </div>
</body>

</html>