﻿@model FLS.LC.Web.Models.Master.GarmentsCategoryDto
@using FLS.LC.Web.Models.Master
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/lcMain.css" asp-append-version="true" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <div>
        <div class="position-absolute gCategory-main-content gCategory-main-min-width">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="gCategory-white-box gCategory-border-primary-color">
                            <div class="gCategory-bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                <label class="mb-0 gCategory-font-size">Category Creation</label>
                            </div>
                            <form method="post" id="stores" enctype="multipart/form-data" asp-controller="GarmentsCategory" asp-action="GarmentsCategory" class="p-3" novalidate autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group required d-flex my-2">
                                            <div class="input-group input-group-sm">
                                                <label class="input-group-text gCategory-font-size">Garment Category</label>
                                                @Html.TextBoxFor(m => m.GcGarmentCategory, new { id = "GcGarmentCategory", @class = "form-control", @placeholder = "Kindly Enter Garment Category" })
                                            </div>
                                            <i class="fa fa-info-circle pl-1 pt-1 gCategory-text-primary-color"
                                               data-bs-toggle="tooltip"
                                               title='Enter the name of the garment category'></i>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12 d-flex flex-wrap justify-content-between">
                                        <button id="addOperation" type="button" class="btn btn-info gCategory-font my-2">
                                            <i class="fa fa-edit"></i>
                                            Add
                                        </button>
                                        <button id="deleteOperation" type="button" class="btn btn-info gCategory-font my-2">
                                            <i class="fa fa-edit"></i>
                                            Delete
                                        </button>
                                        <button type="button" class="btn btn-info gCategory-font my-2" data-toggle="modal"
                                                data-target="#exampleModal">
                                            <i class="fa fa-server"></i>
                                            Set Category Sequence
                                        </button>
                                        <div class="modal fade" id="exampleModal">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                                <div class="modal-content p-1">
                                                    <div class="modal-header gCategory-bg-color gCategory-border-color">
                                                        <h5 class="modal-title text-size">
                                                            Set Category Sequence
                                                        </h5>
                                                        <button type="button" class="close text-white"
                                                                style="outline: none;" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">
                                                                ×
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body gCategory-border-color p-1">
                                                        <label class="font text-secondary">
                                                            Drag and drop to setup the
                                                            sequence of
                                                            categories to appear in the order generation
                                                            screen
                                                        </label>
                                                        <ul id="sort1" class="nav">
                                                            <li class="col-sm-2 my-1">
                                                                <label class="btn border text-dark w-100 gCategory-font-size mb-0">Men</label>
                                                            </li>
                                                            <li class="col-sm-2 my-1">
                                                                <label class="btn border text-dark w-100 gCategory-font-size mb-0">Women</label>
                                                            </li>
                                                            <li class="col-sm-2 my-1">
                                                                <label class="btn border text-dark w-100 gCategory-font-size mb-0">Kids</label>
                                                            </li>
                                                            <li class="col-sm-2 my-1">
                                                                <label class="btn border text-dark w-100 gCategory-font-size mb-0">Household</label>
                                                            </li>
                                                            <li class="col-sm-2 my-1">
                                                                <label class="btn border text-dark w-100 gCategory-font-size mb-0">Institutional</label>
                                                            </li>
                                                            <li class="col-sm-2 my-1">
                                                                <label class="btn border text-dark w-100 gCategory-font-size mb-0">others</label>
                                                            </li>
                                                        </ul>
                                                        <script>
                                                            $("#sort1").sortable({
                                                                helper: "clone",
                                                                opacity: 0.5,
                                                                cursor: "crosshair",
                                                                connectWith: ".nav",
                                                                receive: function (event, ui) {
                                                                    if ($(ui.sender).attr('id') === 'sort1'.children('li').length > 8) {
                                                                        $(ui.sender).sortable('cancel');
                                                                    }
                                                                }
                                                            });
                                                            $("#sort1").disableSelection();</script>
                                                    </div>
                                                    <div class="modal-footer gCategory-border-color1 justify-content-start p-1">
                                                        <button type="button"
                                                                class="btn gCategory-bg-color w-fit-content gCategory-font my-2">
                                                            Update Category Sequence
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-sm">
                                <thead class="bg-secondary">
                                    <tr>
                                        <th class="text-left text-white gCategory-font-size"></th>
                                        <th class="text-left text-white gCategory-font-size">Category Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.RegistredGarmentsCategory.Count == 0)
                                    {
                                        <tr style="text-align:center">
                                            <td>
                                                <label> <b> No Registered Garment Categerory Found.... </b> </label>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (string garmentCategory in Model.RegistredGarmentsCategory)
                                        {
                                <tr class="border">
                                    <td class="text-center"><a class="btnselect btn btn-primary">Select</a></td>
                                    <td class="text-center"><a class="btnselect btn btn-primary">Delete</a></td>
                                    <td class="text-center">@garmentCategory</td>
                                </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#deleteOperation").hide();
            if ($("#IsFormSubmit").val() != undefined && $("#IsFormSubmit").val() == "true") {
                // $("#stores").submit();
            }
            $('#alertmessagediv').fadeIn().delay(3000).fadeOut('slow');
        });
        $('.btnselect').click(function (e) {addOperation
            $("#addOperation").hide();
            $("#deleteOperation").show();
            var currentRow = $(this).closest("tr");
            var garmentName = currentRow.find("td:eq(2)").text();
            $("#GcGarmentCategory").val(garmentName);
          //  var usrEmail = $("#usrEmail").val();
        });
        $("#GcGarmentCategory").on('keyup keypress keydown blur change', function () {
            $("#GcGarmentCategory").val();
            $("#addOperation").show();
            $("#deleteOperation").hide();
        });
        $("#myinput").keyup(function () {
            var val = $.trim(this.value);
            if (val === "")
                $('img').show();
            else {
                $('img').hide();
                val = val.split(" ").join("\\ ");
                $("img[alt*=" + val + " i]").show();
            }
        });</script>
</body>
</html>
