﻿@model FLS.LC.Web.Models.UserModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/lcMain.css" asp-append-version="true"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <div>
        <nav class="col-md-12 col-xs-12 col-sm-12 col-lg-12 d-flex flex-nowrap navbar navbar-dark bg">
            <div class="col-md-7 col-xs-7 col-sm-7 col-lg-7"></div>
            <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 justify-content-center">
            </div>
        </nav>

        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 d-flex d-flex justify-content-center align-items-center mt-5 mb-5">
            <div class="col-md-1 col-sm-1 col-lg-4"></div>
            <div class="col-md-10 col-xs-10 col-sm-10 col-lg-4 mb-4 p-4 h-50 w-fit-content bshadow">
                <div class="d-block text-center">
                    <img src="~/assests/logo2.png" width="100" height="60" alt="login" />
                    <label class="d-block m-1 loginText">Account recovery</label>
                    <label class="d-block text-sm-start mt-2">This helps show that this account really</label>
                    <label class="d-block text-sm-start subLabel"> belongs to you</label>
                </div>
                @if (Model.NewPassword == null && Model.ConfirmPassword == null)
                {

                }
                else
                {
                    if (Model.ShowSuccessAlert == true)
                    {
                        @await Html.PartialAsync("_LayoutAlertMessage")
                        @Html.Hidden("RedirectTo", Url.Action("Login", "Login"));
                    }
                    else
                    {
                        @await Html.PartialAsync("_LayoutAlertMessage")}

                       }
                <form class="needs-validation" novalidate autocomplete="off" asp-action="ChangePassword" asp-controller="Login" method="post">
                    <div class="col-auto m-3">
                        <div class="mb-2">
                            @Html.TextBoxFor(m => m.CurrentPassword, new { id = "currentPassword", @placeholder = "Current Password", @class = "form-control w-100 input form-feedback-icon-valid", required = "required" })
                            <div class="valid-feedback feedback-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="invalid-feedback feedback-icon">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="mb-2">
                            @Html.TextBoxFor(m => m.NewPassword, new { id = "newPassword", @placeholder = "New Password", @class = "form-control w-100 input form-feedback-icon-valid", required = "required", @type = "password" })
                            <div class="valid-feedback feedback-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="invalid-feedback feedback-icon">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="mb-2">
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { id = "newPasswordAgain", @placeholder = "New Password again", @class = "form-control w-100 input form-feedback-icon-valid", required = "required", @type = "password" })
                            <div class="valid-feedback feedback-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="invalid-feedback feedback-icon">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto m-3">
                        <button type="submit" class="btn btn-block w-100 loginButton">
                            <a class="loginButton">Next</a>
                        </button>
                    </div>
                </form>
                <script>
                    $(function () {
                        var duration = 4000; // 4 seconds
                        setTimeout(function () { $('#alertstatus').hide(); }, duration);
                    });

                    (function () {
                        'use strict'

                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.querySelectorAll('.needs-validation')

                        // Loop over them and prevent submission
                        Array.prototype.slice.call(forms)
                            .forEach(function (form) {
                                form.addEventListener('submit', function (event) {
                                    if (!form.checkValidity()) {
                                        event.preventDefault()
                                        event.stopPropagation()
                                    }

                                    form.classList.add('was-validated')
                                }, false)
                            })
                    })()</script>
            </div>
            <div class="col-md-1 col-sm-1 col-lg-4"> </div>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-dark bg justify-content-center">
        <Span class="m-1 footerColor">
            <i class="fa fa-copyright mr-1" aria-hidden="true"></i>Excel Laundry
            Services.com
        </Span>
        <span class="horizonLine"></span>
        <a class="text-center m-1 footerColor" href="#">Contact Us</a>
        <span class="horizonLine"></span>
        <a class="text-center m-1 footerColor" href="#">Privacy Policy</a>
        <span class="horizonLine"></span>
        <a class="text-center m-1 footerColor" href="#">Terms of service</a>
    </nav>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#RedirectTo").val() != undefined) {
                var url = $("#RedirectTo").val();
                location.href = url;
            }
        });
    </script>

</body>

</html>