﻿@model FLS.LC.Web.Models.UserModel
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="css/lcMain.css" asp-append-version="true"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="goFullscreen();">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <div class="overflow-auto">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="navbar navbar-expand-lg">
                        <div class="col-sm-3 d-flex flex-wrap justify-content-start align-items-center">
                            <a class="navbar-brand" href="#">
                                <img src="~/assests/logo.png" width="150" height="50" alt="message" />
                            </a>
                        </div>
                        <div class="col-sm-9"></div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="col-md-12 my-5">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4 m-3 p-4 h-50 bshadow">
                    <div class="d-block text-center">
                        <img src="~/assests/logo2.png" width="100" height="60" alt="login" />
                        <label class="d-block m-1 loginText">Hello there! &#128075;</label>
                    </div>
                    @if (Model.Password == null && Model.UserEmail == null)
                    {

                    }
                    else
                    {
                        if (Model.ShowSuccessAlert == true && Model.IsUserFirstLogin == false)
                        {

        @Html.Hidden("IsUserFirstLogin", "false");
        @Html.Hidden("HdnUserEmail", Model.UserEmail);
    }
    else
    {
        @await Html.PartialAsync("_LayoutAlertMessage")}
}
                    <form class="needs-validation" novalidate autocomplete="off" asp-action="Login" asp-controller="Login" method="post">
                        <div class="col-auto m-3">
                            <div class="mb-2">
                                <label for="username" class="d-block emailTitle">Login Id</label>
                                @Html.TextBoxFor(m => m.UserEmail, new { id = "email", @placeholder = "UserEmail", @class = "form-control w-100 input form-feedback-icon-valid", required = "required" })
                                <div class="valid-feedback feedback-icon">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="invalid-feedback feedback-icon">
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto m-3">
                            <div class="mb-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <label for="password" class="d-block emailTitle">Password</label>
                                    @Html.ActionLink("ForgotPassword ?", "Forgot", "Login", new { @class = "text-primary forgetText mb-2" })
                                </div>
                                @Html.TextBoxFor(m => m.Password, new { id = "password", @placeholder = "Password", @class = "form-control w-100 input form-feedback-icon-valid", required = "required", @type = "password" })
                                <div class="valid-feedback feedback-icon">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="invalid-feedback feedback-icon">
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap justify-content-start align-items-center">
                                @Html.ActionLink("Create an Account", "Register", "Login", new { @class = "text-primary forgetText mb-2" })
                                <!-- <a href="forgetPassword/forget.html" class="text-primary forgetText"> Forgot Password?</a> -->
                            </div>
                        </div>
                        <div class="col-auto m-3">
                            <button type="submit" class="btn btn-block w-100 loginButton">Login</button>
                        </div>
                    </form>
                    <script>
                        (function () {
                            'use strict'
                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                            var forms = document.querySelectorAll('.needs-validation')
                            // Loop over them and prevent submission
                            Array.prototype.slice.call(forms)
                                .forEach(function (form) {
                                    form.addEventListener('submit', function (event) {
                                        if (!form.checkValidity()) {
                                            event.preventDefault()
                                            event.stopPropagation()
                                        }

                                        form.classList.add('was-validated')
                                    }, false)
                                })
                        })()</script>
                </div>
                <div class="col-sm-6 margin-b d-flex justify-content-center">
                    <div id="slider" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="width" src="./assests/blue1.jpeg">
                                <div class="d-flex flex-column mb-2 mt-4">
                                    <label class="text-center carouselTitle">Letter Creator Suite</label>
                                    <label class="text-center carousalSubTitle">Generate Best in class letters</label>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="width" src="./assests/laundry.gif">
                                <div class="d-flex flex-column mb-2 mt-4">
                                    <label class="text-center carouselTitle">Attendance Through Facial Recognition</label>
                                    <label class="text-center carousalSubTitle">Safe touch-less entry</label>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="width" src="./assests/9.png">
                                <div class="d-flex flex-column mb-2 mt-4">
                                    <label class="text-center carouselTitle">Simplify Communication</label>
                                    <label class="text-center carousalSubTitle">
                                        communicate to employees via email,
                                        newsfeed
                                    </label>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="width" src="./assests/blue2.jpeg">
                                <div class="d-flex flex-column mb-2 mt-4">
                                    <label class="text-center carouselTitle">Tasks and Checklists</label>
                                    <label class="text-center carousalSubTitle">
                                        Automate and streamline your daily tasks
                                    </label>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="width" src="./assests/Wash-Square.gif">
                                <div class="d-flex flex-column mb-2 mt-4">
                                    <label class="text-center carouselTitle">Anytime, Anywhere Access</label>
                                    <label class="text-center carousalSubTitle">
                                        Employees self service at your fingertips
                                    </label>
                                </div>
                            </div>
                        </div>
                        <ol class="carousel-indicators">
                            <li data-target="#slider" data-slide-to="0" class="active"></li>
                            <li data-target="#slider" data-slide-to="1"></li>
                            <li data-target="#slider" data-slide-to="2"></li>
                            <li data-target="#slider" data-slide-to="3"></li>
                            <li data-target="#slider" data-slide-to="4"></li>
                        </ol>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
            </div>
            <nav class="navbar fixed-bottom navbar-dark bg justify-content-center">
                <Span class="m-1 footerColor">
                    <i class="fa fa-copyright mr-1" aria-hidden="true"></i>Excel Laundry
                    Services.com
                </Span>
                <span class="horizonLine"></span>
                <a class="text-center m-1 footerColor" href="#">Contact Us</a>
                <span class="horizonLine"></span>
                <a class="text-center m-1 footerColor" href="#">Privacy Policy</a>
                <span class="horizonLine"></span>
                <a class="text-center m-1 footerColor" href="#">Terms of service</a>
            </nav>
        </div>
    <!-- popup Change Your Password html -->
    <!-- The Modal -->
    <div class="modal fade" id="ChangePassword">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Change Password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <lable id="lblOTPInformation"></lable>
                    <div style="color:coral;" id="AlertInfo"></div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.CurrentPassword, new { @placeholder = "Current Password", @class = "form-control", required = "required", id = "currentPassword" ,@type = "password" })
                        @Html.TextBoxFor(m => m.NewPassword, new { @placeholder = "New password", @class = "form-control", required = "required", id = "newPassword", @type = "password" })
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @placeholder = "New Password again", @class = "form-control", required = "required", id = "newPasswordAgain", @type = "password" })
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="changepassword" class="ibtn">Next</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function goFullscreen(element) {
            if (element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            } else if (element.webkitRequestFullScreen) {
                element.webkitRequestFullScreen();
            }
        }
        $(document).ready(function () {
            $('#AlertInfo').hide();
            $('#alertmessagediv').fadeIn().delay(3000).fadeOut('slow');
            if ($("#IsUserFirstLogin").val() != undefined && $("#IsUserFirstLogin").val()=="false")
            $("#ChangePassword").modal('show');
        });


        $("#changepassword").click(function () {
            if ($("#newPassword").get(0).value != $("#newPasswordAgain").get(0).value) {
                $('#AlertInfo').show();
                $("#AlertInfo").html("Password Do not Match with New Password and Confirm Password!");
                return false;
            }
            var model =
            {
                'CurrentPassword': $("#currentPassword").get(0).value,
                'NewPassword': $("#newPassword").get(0).value,
                'ConfirmPassword': $("#newPasswordAgain").get(0).value,
                'UserEmail': $("#HdnUserEmail").val(),
            }
            var redirectUrl= '@Url.Action("Login","Login")';
            $.ajax
                                ({
                                    type: "POST",
                                    url: '@Url.Action("ChangeUserPassword", "Login")',
                                    data: model,
                                    success: function (data) {
                                        if (data == "true") {
                                            $('body').removeClass('modal-open');
                                            $('.modal-backdrop').remove();
                                            window.location.href = redirectUrl;
                                        }
                                        else {
                                            $('#AlertInfo').show();
                                            $('#AlertInfo').html("<p>" + data + "</p>");
                                            return false;
                                        }
                                    }
                                })
        });
    </script>

</body>
</html>