﻿@model FLS.LC.Web.Models.UserReg
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/lcMain.css" asp-append-version="true"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <div>
        <nav class="col-md-12 col-xs-12 col-sm-12 col-lg-12 d-flex flex-nowrap navbar navbar-dark bg">
            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 d-flex flex-wrap justify-content-end">
                <a class="navbar-brand" href="#">
                    <img src="~/assests/logo.png" width="150" height="50" alt="message" />
                </a>
            </div>
            <div class="col-md-7 col-xs-7 col-sm-7 col-lg-7"></div>
            <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 justify-content-center"></div>
        </nav>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 d-flex flex-wrap mt-5">
            <div class="col-xs-1 col-lg-1"></div>
            <div class="col-md-7 col-xs-5 col-sm-7 col-lg-6 d-flex mb-5 justify-content-center align-items-center">
                <div id="slider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block width" src="~/assests/blue1.jpeg">
                            <div class="m-4">
                                <h3 class="text-center carouselTitle">Letter Creator Suite</h3>
                                <h6 class="text-center carousalSubTitle">Generate Best in class letters</h6>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block width" src="~/assests/laundry.gif">
                            <div class="m-4">
                                <h3 class="text-center carouselTitle">Attendance Through Facial Recognition</h3>
                                <h6 class="text-center carousalSubTitle">Safe touch-less entry</h6>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block width" src="~/assests/9.png">
                            <div class="m-4">
                                <h3 class="text-center carouselTitle">Simplify Communication</h3>
                                <h6 class="text-center carousalSubTitle">
                                    communicate to employees via email, newsfeed
                                </h6>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block width" src="~/assests/blue2.jpeg">
                            <div class="m-4">
                                <h3 class="text-center carouselTitle">Tasks and Checklists</h3>
                                <h6 class="text-center carousalSubTitle">Automate and streamline your daily tasks</h6>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block width" src="~/assests/Wash-Square.gif">
                            <div class="m-4">
                                <h3 class="text-center carouselTitle">Anytime, Anywhere Access</h3>
                                <h6 class="text-center carousalSubTitle">Employees self service at your fingertips</h6>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#slider" data-slide-to="0" class="active"></li>
                        <li data-target="#slider" data-slide-to="1"></li>
                        <li data-target="#slider" data-slide-to="2"></li>\
                        <li data-target="#slider" data-slide-to="3"></li>
                        <li data-target="#slider" data-slide-to="4"></li>
                    </ol>
                </div>
            </div>
            <div class="col-md-5 col-xs-5 col-sm-5 col-lg-4 h-50 p-4 w-fit-content bshadow margin">
                @if (Model.Email == null && Model.Email == null)
                {

                }
                else
                {
                   @await Html.PartialAsync("_LayoutAlertMessage")
                }
                <form class="needs-validation" novalidate autocomplete="off" asp-action="Register" asp-controller="Login" method="post">
                    <div class="col-auto m-3">
                        <div class="mb-2">
                            <label for="username" class="emailTitle">UserName</label>
                            @Html.TextBoxFor(m => m.UserName, new { id = "userName", @placeholder = "UserName", @class = "form-control w-100 input form-feedback-icon-valid", required = "required" })
                            <div class="valid-feedback feedback-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="invalid-feedback feedback-icon">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto m-3">
                        <div class="mb-2">
                            <label for="email" class="d-block emailTitle">Email</label>
                            @Html.TextBoxFor(m => m.Email, new { id = "email", @placeholder = "UserEmail", @class = "form-control w-100 input form-feedback-icon-valid", required = "required" })
                            <div class="valid-feedback feedback-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="invalid-feedback feedback-icon">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto m-3">
                        <div class="mb-2">
                            <label for="phoneno" class="d-block emailTitle">PhoneNo</label>
                            @Html.TextBoxFor(m => m.PhoneNo, new { id = "phoneno", @placeholder = "PhoneNo", @class = "form-control w-100 input form-feedback-icon-valid", required = "required" })
                            <div class="valid-feedback feedback-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="invalid-feedback feedback-icon">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="gender" class="emailTitle">Gender</label>
                            @Html.DropDownListFor(x => x.Gender, new[]{
                            new SelectListItem(){ Text = "Male", Value = "1"},
                            new SelectListItem(){ Text = "Female", Value = "2"}
                            }, "Select the Gender", new { @class = "custom-select w-100 input", required = "required" })
                            <div class="valid-feedback feedback-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="invalid-feedback feedback-icon">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" id="privacyPolicy" class="mt-1 form-check-input" required />
                            <label for="privacyPolicy" class="d-block form-check-label emailTitle ml-2">
                                I Accept the <a href="#">
                                    Terms of
                                    Use
                                </a> &
                                <a href="#">Privacy Policy</a>
                            </label>
                        </div>
                    </div>
                    <div class="col-auto m-3">
                        <button type="submit" class="btn btn-block w-100 loginButton">
                            Register
                        </button>
                        @Html.ActionLink("Back to Login", "Login", "Login")
                    </div>
                </form>
                <script>
                    (function () {
                        "use strict";
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.querySelectorAll(".needs-validation");
                        // Loop over them and prevent submission
                        Array.prototype.slice.call(forms).forEach(function (form) {
                            form.addEventListener(
                                "submit",
                                function (event) {
                                    if (!form.checkValidity()) {
                                        event.preventDefault();
                                        event.stopPropagation();
                                    }

                                    form.classList.add("was-validated");
                                },
                                false
                            );
                        });
                    })();</script>
            </div>
            <div class="col-xs-1 col-lg-1"></div>
        </div>
        <nav class="navbar fixed-bottom navbar-dark bg justify-content-center">
            <Span class="m-1 footerColor">
                <i class="fa fa-copyright mr-1" aria-hidden="true"></i>Excel Laundry
                Services.com
            </Span>
            <span class="horizonLine"></span>
            <a class="text-center m-1 footerColor" href="#">Contact Us</a>
            <span class="horizonLine"></span>
            <a class="text-center m-1 footerColor" href="#">Privacy Policy</a>
            <span class="horizonLine"></span>
            <a class="text-center m-1 footerColor" href="#">Terms of service</a>
        </nav>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#alertmessagediv').fadeIn().delay(3000).fadeOut('slow');
        });
    </script>
</body>
</html>