﻿@model FLS.LC.Web.Models.Master.GarmentspriceConfigurationDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/lc.css" asp-append-version="true" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <div>
        @Html.Hidden("usrEmail", Model.GpcUsremail);
        <form method="post" id="priceListConfig" enctype="multipart/form-data" asp-controller="PriceListConfiguration" asp-action="PriceListConfiguration" class="needs-validation p-3" novalidate autocomplete="off">
            <div class="position-absolute priceListDescription-main-content priceListDescription-main-min-width">
                <div class="col-md-12 priceListDescription-margin-bottom">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="priceListDescription-white-box border-primary-color">
                                        <div class="priceListDescription-bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                            <label class="mb-0 priceListDescription-text-size">Price List</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <div class="input-group input-group-sm my-2">
                                                    <label class="input-group-text priceListDescription-font-size">Store Name</label>
                                                    @Html.DropDownListFor(model => model.GpcUstname, new SelectList(ViewBag.RegisteredUserStoresListItems, "Value", "Text", Model.GpcUstname), "Select One", new { @id = "selectedStore" })
                                                    <i class="fa fa-info-circle pl-1 pt-1 text-primary-color"
                                                       data-bs-toggle="tooltip"
                                                       title='select the default form for discount that you offer.'></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="input-group input-group-sm my-2">
                                                    <label class="input-group-text font-size">Register Price List</label> &nbsp; &nbsp; &nbsp;
                                                    @if (@Model.GpcUstname == null)
                                                    {
                                                        <label id="priceListName">No PriceList</label>
                                                    }
                                                    else
                                                    {
                                                        <label id="effectedPriceListName">@Model.GpcUstname PriceList</label>
                                                    }
                                                </div>
                                            </div>
                                            <div id="DownloadExcellTemplate" class="col-sm-5 d-flex flex-wrap justify-content-center align-items-center">
                                                <div class="my-2 d-flex flex-wrap justify-content-center align-items-center">
                                                    <i class="fa fa-download mx-1"></i>
                                                    <a id="DownloadExcellTemplate" asp-controller="PriceListConfiguration" asp-action="downLoadExcelFile" class="font-size mb-0 mx-1"> Download Excell Template</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 d-flex flex-wrap justify-content-between align-items-center">
                                                <div class="col-sm-6">
                                                    <button type="button" id="editPriceList" style="@(Model.GpcUstname!=null ? "display:block" : "display:none")"
                                                            class="btn btn-info font w-100 my-2">
                                                        Edit Price list by % or Amount
                                                    </button>
                                                </div>      
                                                <div class="col-sm-5 d-flex flex-wrap justify-content-center align-items-center">
                                                    <button type="button" id="priceList"
                                                            class="btn btn-info font w-100 my-2">
                                                        Import Price list
                                                    </button>
                                                </div>
                                                <div class="col-sm-3">
                                                    <button id="editRegisteredPrices" type="button" class="btn btn-info font w-100 my-2" style="@(Model.GpcUstname!=null ? "display:block" : "display:none")"
                                                            onclick="location.href='@Url.Action("EditPriceList", "EditPriceList")'">
                                                        Edit
                                                    </button>
                                                </div>
                                            </div>
                                            <script>
                                                document.getElementById("priceList").onclick = function () {
                                                    document.getElementById("price").style.display = "block";
                                                    document.getElementById("editPrice").style.display = "none";
                                                }
                                                document.getElementById("editPriceList").onclick = function () {
                                                    document.getElementById("editPrice").style.display = "block";
                                                    document.getElementById("price").style.display = "none";
                                                }</script>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" id="price" style="display: none;">
                                    <div class="white-box border-primary-color">
                                        <div class="bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                            <label class="mb-0 text-size">Import Price List</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <div class="input-group input-group-sm my-2">
                                                    <label for="location" class="input-border">Choose file to upload</label>
                                                    @Html.TextBoxFor(m => m.GpcImprtPriceList, new { type = "file", id = "userStoreLogo", @class = "input-file form-control input form-feedback-icon-valid", required = "required" })
                                                </div>
                                            </div>
                                            <div class="col-sm-5 d-flex flex-wrap justify-content-center align-items-center">
                                                <button type="submit" class="btn btn-info btn-sm">
                                                    Upload and Import
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" id="editPrice" style="display: none;">
                                    <div class="white-box border-primary-color">
                                        <div class="bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                            <label class="mb-0 font-size">
                                                Edit Price List by percentage / flat amount(Zero
                                                priced garments will not be affected.)
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                           name="inlineRadioOptions" id="increment" value="option1">
                                                    <label class="form-check-label text-secondary font-size"
                                                           for="inlineRadio1">Increment</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                           name="inlineRadioOptions" id="decrement" value="option2">
                                                    <label class="form-check-label text-secondary font-size"
                                                           for="inlineRadio2">Decrement</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="form-group required d-flex flex-wrap my-2">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend w-50">
                                                            <span class="input-group-text flex-row">
                                                                Price By
                                                                <div class="input-groups input-group-sm mx-1">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text bg-color border-radius">%</span>
                                                                    </div>
                                                                    <input id="priceby" type="text" class="form-control border-radius-input" placeholder="Flat">
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 d-flex flex-wrap justify-content-start align-items-center">
                                                <button id="updateprice" type="button" class="btn btn-info btn-sm">
                                                    Update Price
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="white-box border-secondary-color">
                                <div class="bg-color-secondary d-flex flex-wrap justify-content-between align-items-center p-2">
                                    <label class="mb-0 text-size text-secondary">How to Import Price List ?</label>
                                </div>
                                <div class="m-2 d-flex flex-wrap">
                                    <label class="mb-0 font-size bold mx-1">Step-1</label>
                                    <label class="mb-0 font-size mx-1">
                                        Select a price list from drop-down that you want to
                                        download and edit.
                                    </label>
                                </div>
                                <div class="m-2 d-flex flex-wrap">
                                    <label class="mb-0 font-size bold mx-1">Step-2</label>
                                    <label class="mb-0 font-size mx-1">
                                        Click on download excel template it will download
                                        selected price list in excel format.
                                    </label>
                                </div>
                                <div class="m-2 d-flex flex-row">
                                    <label class="mb-0 font-size bold mx-1 w">Step-3</label>
                                    <label class="mb-0 font-size">
                                        Open this file in Excel. change price's of garments
                                        as required. but remember you can't change following:
                                        <div class="d-flex flex-column">
                                            <label class="mb-0">- Garment</label>
                                            <label class="mb-0">- Category</label>
                                            <label class="mb-0">- Garment Code</label>
                                            <label class="mb-0">- Name of services</label>
                                            <label class="mb-0">
                                                - You can't add new garments or services, even if you do it
                                                it will be ignored when imported.
                                            </label>
                                            <label class="mb-0">- Also don't change excel filename</label>
                                            <label class="mb-0">
                                                - Change any prices that you want and save excel
                                                file.
                                            </label>
                                        </div>
                                    </label>
                                </div>
                                <div class="m-2 d-flex flex-wrap">
                                    <label class="mb-0 font-size bold mx-1">Step-4</label>
                                    <label class="mb-0 font-size mx-1">
                                        Once you are done with above steps, click on "import
                                        Price list" button.
                                    </label>
                                </div>
                                <div class="m-2 d-flex flex-wrap">
                                    <label class="mb-0 font-size bold mx-1">Step-5</label>
                                    <label class="mb-0 font-size mx-1">Click on "Choose file to upload" button.</label>
                                </div>
                                <div class="m-2 d-flex flex-wrap">
                                    <label class="mb-0 font-size bold mx-1">Step-6</label>
                                    <label class="mb-0 font-size mx-1">
                                        Select a file that you have download and edited in
                                        step no-3.
                                    </label>
                                </div>
                                <div class="m-2 d-flex flex-row">
                                    <label class="mb-0 font-size bold mx-1 w">Step-7</label>
                                    <label class="mb-0 font-size">
                                        Click on "upload and import" and select the price
                                        list from drop-down in which you want to import.
                                    </label>
                                </div>
                                <div class="m-2 d-flex flex-wrap">
                                    <label class="mb-0 font-size bold mx-1">Step-8</label>
                                    <label class="mb-0 font-size mx-1">Click on "import now".</label>
                                </div>
                                <div class="m-2 d-flex flex-wrap">
                                    <label class="mb-0 font-size bold mx-1">Step-9</label>
                                    <label class="mb-0 font-size mx-1">
                                        Congratulations ! you are done, price list should be
                                        imported by now.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#priceListName").html("");
                $("#updateprice").click(function () {
                    var selectOptions = $('#selectedStore option:selected');
                    if (selectOptions.length > 0) {
                        var resultString = "";
                        resultString = selectOptions.text();
                    }
                    var usrEmail = $("#usrEmail").val();
                    var isIncrementChecked = $('#increment:checked').val() ? true : false;
                    var isDecrementChecked = $('#decrement:checked').val() ? true : false;
                    var pricePercentage = $("#priceby").val();
                    var model = {
                        'usrEmail': usrEmail.trim(),
                        'usrStoreName': resultString.trim(),
                        'isIncrementChecked': isIncrementChecked,
                        'isDecrementChecked': isDecrementChecked,
                        'pricePercentage': pricePercentage,
                    }
                    $.ajax
                                ({
                                    type: "POST",
                                    url: '@Url.Action("updateRegisteredPriceListByStore", "PriceListConfiguration")',
                                    data: model,
                                    success: function (result) {
                                        alert(result);
                                         }
                                })
                });
                $('#selectedStore').change(function () {
                    var selectOptions = $('#selectedStore option:selected');
                    if (selectOptions.length > 0) {
                        var resultString = "";
                        resultString = selectOptions.text();
                        var usrEmail = $("#usrEmail").val();
                        var model = {
                            'usrEmail': usrEmail.trim(),
                            'usrStoreName': resultString.trim(),
                        }
                        $.ajax
                                ({
                                    type: "POST",
                                    url: '@Url.Action("GetRegisteredPriceListByStore", "PriceListConfiguration")',
                                    data: model,
                                    success: function (result) {
                                        if (result === "No PriceList")
                                        {
                                            $("#priceListName").html("No PriceList");
                                            $("#effectedPriceListName").html(result);
                                            $("#priceList").show();
                                            $("#editPriceList").hide();
                                            $("#editRegisteredPrices").hide();
                                        }
                                        else {
                                            $("#priceListName").show();
                                            $("#priceListName").html(result);
                                            $("#priceList").hide();
                                            $("#editPriceList").show();
                                            $("#editRegisteredPrices").show();
                                             }
                                         }
                                })
                    }
                });
            });
        </script>
    </div>
</body>

</html>
