﻿@model FLS.LC.Web.Models.UserModel
@using FLS.LC.Web.Models
    @{
        //ViewData["Title"] = "StoreInformation";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="~/css/RegUsers.css" asp-append-version="true"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
              integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
        <div>
            <div class="col-12 d-flex justify-content-center mt-5 mb-5">
                <div class="card w-fit-content h-fit-content bshadow bg-white p-4">
                    <form asp-action="RegUsers" asp-controller="Home" method="post">
                        <div class="mt-2 mb-2">
                            <label class="text-dark mb-2">Store Owners</label>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center border border-secondary text-secondary">Sl.No</th>
                                        <th scope="col" class="text-center border border-secondary text-secondary">Image</th>
                                        <th scope="col" class="text-center border border-secondary text-secondary">Name</th>
                                        <th scope="col" class="text-center border border-secondary text-secondary">Email</th>
                                        <th scope="col" class="text-center border border-secondary text-secondary">Mobile</th>
                                        <th scope="col" class="text-center border border-secondary text-secondary">Status</th>
                                        <th scope="col" class="text-center border border-secondary text-secondary">
                                            Subscribe/Unsubscribe
                                        </th>
                                        <th scope="col" class="text-center border border-secondary text-secondary">
                                            End
                                            Subscription Date
                                        </th>
                                        <th scope="col" class="text-center border border-secondary text-secondary">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (RegUsers RegUsers in Model.Users)
                                    {
                                        <tr>
                                            <td class="text-center border border-secondary text-secondary p-4">1</td>
                                            <td class="text-center border border-secondary text-secondary">
                                                <img src="~/assests/dashboard.png" width="35" height="35" alt="message" />
                                            </td>
                                            <td class="text-center border border-secondary text-secondary p-4"> @Html.DisplayFor(modelItem => RegUsers.UsrUserName) </td>
                                            <td class="text-center border border-secondary text-secondary p-4"> @Html.DisplayFor(modelItem => RegUsers.UsrUserEmail)</td>
                                            <td class="text-center border border-secondary text-secondary p-4"> @Html.DisplayFor(modelItem => RegUsers.UsrUserPhone)</td>
                                            @if (RegUsers.UsrIsActive)
                                            {
                                                <td class="text-center border border-secondary text-secondary">
                                                    <label class="mb-0 p-2 bg-success text-center text-white rounded text-uppercase">Active</label>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center border border-secondary text-secondary">
                                                    <label class="mb-0 p-2 bg-danger text-center text-white rounded text-uppercase">InActive</label>
                                                </td>
                                            }
                                            @if (RegUsers.UsrIsSubscribed)
                                            {
                                                <td class="text-center border border-secondary text-secondary">
                                                    <label class="mb-0 p-2 bg-success text-center text-white text-uppercase rounded">Subscribed</label>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center border border-secondary text-secondary">
                                                    <label class="mb-0 p-2 bg-danger text-center text-white rounded text-uppercase">UnSubscribed</label>
                                                </td>
                                                <td class="text-center border border-secondary text-secondary p-4"></td>
                                            }
                                            <td>
                                                <ul class="list-unstyled mb-0 d-flex justify-content-end">
                                                    <li><a href="#" class="text-primary" data-toggle="tooltip" title="" data-original-title="view"><i class="far fa-eye"></i></a></li> &nbsp;
                                                    <li><a href="#" class="text-info" data-toggle="tooltip" title="" data-original-title="Edit"><i class="fas fa-pencil-alt"></i></a></li> &nbsp;
                                                    <li><a href="#" class="text-danger" data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="paging-web-screen paging-mobile-screen">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        <td>
                                            @if (i != Model.CurrentPageIndex)
                                            {
                                                <a href="javascript:PagerClick(@i);">@i</a>
                                            }
                                            else
                                            {
                                                <span>@i</span>
                                            }
                                        </td>
                                    }
                                </tr>
                            </table>
                        </div>
                        <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function PagerClick(index) {
                document.getElementById("hfCurrentPageIndex").value = index;
                document.forms[0].submit();
            }
        </script>
    </body>
</html>