﻿@model FLS.LC.Web.Models.Master.ListRegisteredGarmentsByStore
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/lc.css" asp-append-version="true" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <div>
        @Html.Hidden("usrEmail", Model.GlcUsremail);
        <form method="post" id="Editpricelist" enctype="multipart/form-data" asp-controller="EditPriceList" asp-action="EditPriceList" class="needs-validation p-3" novalidate autocomplete="off">
            <div class="position-absolute priceListDescription-main-content priceListDescription-main-min-width">
                <div class="col-md-12 priceListDescription-margin-bottom">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="input-group input-group-sm my-2">
                                <label class="input-group-text priceListDescription-font-size">Store Name</label>
                                @Html.DropDownListFor(model => model.GlcUstname, new SelectList(ViewBag.RegisteredUserStoresListItems, "Value", "Text", Model.GlcUstname), "Select One", new { @onchange = "selectedValue()", @id = "selectedStore" })
                                <i class="fa fa-info-circle pl-1 pt-1 text-primary-color"
                                   data-bs-toggle="tooltip"
                                   title='select the default form for discount that you offer.'></i>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="white-box border-primary-color">
                                <div class="bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                    <label class="mb-0 text-size">
                                        Edit Default Price List: Select the garment and mention
                                        the cost of service in the PRICE field. This price would be fetched automatically
                                        while generating order.
                                    </label>
                                </div>
                                <div class="d-flex flex-wrap">
                                    <div class="col-sm-12 p-0 pt-2">
                                        <div class="tab-box">
                                            <div class="tabbable d-flex justify-content-center" style="border-bottom: 1px solid #dee2e6;">
                                                <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                                                    @if (Model.ShowSuccessAlert == true)
                                                    {
                                                        for (var i = 0; i < Model.lstGarmentService.Count; i++)
                                                        {
                                                            <li><a id="btnServiceselect@(i)" class="btnServiceselect btn btn-primary nav-link" href="" data-toggle="tab">@Model.lstGarmentService[i]</a></li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 p-0 pt-2">
                                        <div class="tab-box">
                                            <div class="tabbable d-flex justify-content-center" style="border-bottom: 1px solid #dee2e6;">
                                                <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                                                    @if (Model.ShowSuccessAlert == true)
                                                    {
                                                        for (var i = 0; i < Model.lstGarmentCategory.Count; i++)
                                                        {
                                                            <li><a id="btnCategoryselect@(i)" class="btnCategoryselect btn btn-primary nav-link" href="" data-toggle="tab">@Model.lstGarmentCategory[i]</a></li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="tab-content p-2">
                                            <div class="tab-pane fade" id="men">
                                                <div class="d-flex flex-wrap">
                                                    @if (Model.ShowSuccessAlert == true)
                                                    {
                                                        @foreach (var RegisteredGarmentsDetailsByStore in Model.lstRegisteredGarmentsDetailsByStore)
                                                        {
                                                            if (RegisteredGarmentsDetailsByStore.GarmentCategory == "Men")
                                                            {
                                                                <div class="col-sm-1 mx">
                                                                    <input id="men_price_@(RegisteredGarmentsDetailsByStore.GarmentName)" type="text" value="@RegisteredGarmentsDetailsByStore.GarmentServicePrice" class="form-control-image">
                                                                    <img class="img-responsive p-2"
                                                                         src="~/images/Garments/@(RegisteredGarmentsDetailsByStore.GarmentName).png" width="75" height="75" />
                                                                    <label class="fontsize"> @RegisteredGarmentsDetailsByStore.GarmentName </label>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="tab-pane fade " id="women">
                                                <div class="d-flex flex-wrap">
                                                    @if (Model.ShowSuccessAlert == true)
                                                    {
                                                        @foreach (var RegisteredGarmentsDetailsByStore in Model.lstRegisteredGarmentsDetailsByStore)
                                                        {
                                                            if (RegisteredGarmentsDetailsByStore.GarmentCategory == "Women")
                                                            {
                                                                <div class="col-sm-1 mx">
                                                                    <input type="text" value="@RegisteredGarmentsDetailsByStore.GarmentServicePrice" class="form-control-image">
                                                                    <img class="img-responsive p-2"
                                                                         src="~/images/Garments/@(RegisteredGarmentsDetailsByStore.GarmentName).png" width="75" height="75" />
                                                                    <label class="fontsize"> @RegisteredGarmentsDetailsByStore.GarmentName </label>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="kids">
                                                <div class="d-flex flex-wrap">
                                                    @if (Model.ShowSuccessAlert == true)
                                                    {
                                                        @foreach (var RegisteredGarmentsDetailsByStore in Model.lstRegisteredGarmentsDetailsByStore)
                                                        {
                                                            if (RegisteredGarmentsDetailsByStore.GarmentCategory == "Kids")
                                                            {
                                                                <div class="col-sm-1 mx">
                                                                    <input type="text" value="@RegisteredGarmentsDetailsByStore.GarmentServicePrice" class="form-control-image">
                                                                    <img class="img-responsive p-2"
                                                                         src="~/images/Garments/@(RegisteredGarmentsDetailsByStore.GarmentName).png" width="75" height="75" />
                                                                    <label class="fontsize"> @RegisteredGarmentsDetailsByStore.GarmentName </label>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="household">
                                                <div class="d-flex flex-wrap">
                                                    @if (Model.ShowSuccessAlert == true)
                                                    {
                                                        @foreach (var RegisteredGarmentsDetailsByStore in Model.lstRegisteredGarmentsDetailsByStore)
                                                        {
                                                            if (RegisteredGarmentsDetailsByStore.GarmentCategory == "Household")
                                                            {
                                                                <div class="col-sm-1 mx">
                                                                    <input type="text" value="@RegisteredGarmentsDetailsByStore.GarmentServicePrice" class="form-control-image">
                                                                    <img class="img-responsive p-2"
                                                                         src="~/images/Garments/@(RegisteredGarmentsDetailsByStore.GarmentName).png" width="75" height="75" />
                                                                    <label class="fontsize"> @RegisteredGarmentsDetailsByStore.GarmentName </label>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="institutional">
                                                <div class="d-flex flex-wrap">
                                                    @if (Model.ShowSuccessAlert == true)
                                                    {
                                                        @foreach (var RegisteredGarmentsDetailsByStore in Model.lstRegisteredGarmentsDetailsByStore)
                                                        {
                                                            if (RegisteredGarmentsDetailsByStore.GarmentCategory == "Institutional")
                                                            {
                                                                <div class="col-sm-1 mx">
                                                                    <input type="text" value="@RegisteredGarmentsDetailsByStore.GarmentServicePrice" class="form-control-image">
                                                                    <img class="img-responsive p-2"
                                                                         src="~/images/Garments/@(RegisteredGarmentsDetailsByStore.GarmentName).png" width="75" height="75" />
                                                                    <label class="fontsize"> @RegisteredGarmentsDetailsByStore.GarmentName </label>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="others">
                                                <div class="d-flex flex-wrap">
                                                    @if (Model.ShowSuccessAlert == true)
                                                    {
                                                        @foreach (var RegisteredGarmentsDetailsByStore in Model.lstRegisteredGarmentsDetailsByStore)
                                                        {
                                                            if (RegisteredGarmentsDetailsByStore.GarmentCategory == "Others")
                                                            {
                                                                <div class="col-sm-1 mx">
                                                                    <input type="text" value="@RegisteredGarmentsDetailsByStore.GarmentServicePrice" class="form-control-image">
                                                                    <img class="img-responsive p-2"
                                                                         src="~/images/Garments/@(RegisteredGarmentsDetailsByStore.GarmentName).png" width="75" height="75" />
                                                                    <label class="fontsize"> @RegisteredGarmentsDetailsByStore.GarmentName </label>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            @if (Model.ShowSuccessAlert == true)
                                            {
                                                <div class="col-sm-2 p-0 pt-2">
                                                    <div class="form-group text-center py-3 m-0">
                                                        <label>Price</label>
                                                        <input id="updatedPrice" type="text" class="form-control">
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <button type="button" id="postUpdatedPriceByGarment" class="btn btn-info font w-100 my-2">
                                                            Update
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript">
            var selectedService;
            var selectedGarment;
            var modifiedPrice;
            var modifiedGarmentName;
            function getSelectedGarmentAndService() {
                if (typeof selectedService === 'undefined' || selectedGarment === null || typeof selectedGarment === 'undefined' || selectedService === null) {
                }
                else {
                    var selectedStore = $('#selectedStore option:selected').text();
                    var usrEmail = $("#usrEmail").val();
                    if (selectedService == "Alteration Only") {
                        var model = {
                        'usrEmail': usrEmail.trim(),
                        'usrStoreName': selectedStore.trim(),
                        'service': selectedService.trim(),
                        'garment': selectedGarment.trim(),
                    }
                        $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("GetSericePriceByGarment", "EditPriceList")',
                        data: model,
                        success: function (result) {
                            if (result == "false")
                            {
                                $("#updateGarment").hide();
                                $("#deleteGarment").hide();
                                $("#addGarment").show();
                            }
                            else if (result.length > 0)
                            {
                                $.each(result, function (index, item)
                                {
                                    var id = "men_price_" + item.gpcGarmentName;
                                    $("#" + id).val(item.gpcGarmentServicePrice);
                                });
                            }
                        }
                    });
                    }
                    else if (selectedService == "Dry Cleaning")
                    {
                        var model = {
                        'usrEmail': usrEmail.trim(),
                        'usrStoreName': selectedStore.trim(),
                        'service': selectedService.trim(),
                        'garment': selectedGarment.trim(),
                    }
                        $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("GetSericePriceByGarment", "EditPriceList")',
                        data: model,
                        success: function (result) {
                            if (result == "false")
                            {
                                $("#updateGarment").hide();
                                $("#deleteGarment").hide();
                                $("#addGarment").show();
                            }
                            else if (result.length > 0)
                            {
                                $.each(result, function (index, item)
                                {
                                    var id = "men_price_" + item.gpcGarmentName;
                                    $("#" + id).val(item.gpcGarmentServicePrice);
                                });
                            }
                        }
                    });
                    }
                    else if (selectedService == "Freshener") {
                        var model = {
                        'usrEmail': usrEmail.trim(),
                        'usrStoreName': selectedStore.trim(),
                        'service': selectedService.trim(),
                        'garment': selectedGarment.trim(),
                    }
                        $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("GetSericePriceByGarment", "EditPriceList")',
                        data: model,
                        success: function (result) {
                            if (result == "false")
                            {
                                $("#updateGarment").hide();
                                $("#deleteGarment").hide();
                                $("#addGarment").show();
                            }
                            else if (result.length > 0)
                            {
                                $.each(result, function (index, item)
                                {
                                    var id = "men_price_" + item.gpcGarmentName;
                                    $("#" + id).val(item.gpcGarmentServicePrice);
                                });
                            }
                        }
                    });
                    }
                    else if (selectedService == "On Hanger") {
                        var model = {
                        'usrEmail': usrEmail.trim(),
                        'usrStoreName': selectedStore.trim(),
                        'service': selectedService.trim(),
                        'garment': selectedGarment.trim(),
                    }
                        $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("GetSericePriceByGarment", "EditPriceList")',
                        data: model,
                        success: function (result) {
                            if (result == "false")
                            {
                                $("#updateGarment").hide();
                                $("#deleteGarment").hide();
                                $("#addGarment").show();
                            }
                            else if (result.length > 0)
                            {
                                $.each(result, function (index, item)
                                {
                                    var id = "men_price_" + item.gpcGarmentName;
                                    $("#" + id).val(item.gpcGarmentServicePrice);
                                });
                            }
                        }
                    });
                    }
                    else if (selectedService == "Ironing Only") {
                        var model = {
                        'usrEmail': usrEmail.trim(),
                        'usrStoreName': selectedStore.trim(),
                        'service': selectedService.trim(),
                        'garment': selectedGarment.trim(),
                    }
                        $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("GetSericePriceByGarment", "EditPriceList")',
                        data: model,
                        success: function (result) {
                            if (result == "false")
                            {
                                $("#updateGarment").hide();
                                $("#deleteGarment").hide();
                                $("#addGarment").show();
                            }
                            else if (result.length > 0)
                            {
                                $.each(result, function (index, item)
                                {
                                    var id = "men_price_" + item.gpcGarmentName;
                                    $("#" + id).val(item.gpcGarmentServicePrice);
                                });
                            }
                        }
                    });
                    }
                    else if (selectedService == "Iron Only") {
                        var model = {
                        'usrEmail': usrEmail.trim(),
                        'usrStoreName': selectedStore.trim(),
                        'service': selectedService.trim(),
                        'garment': selectedGarment.trim(),
                    }
                        $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("GetSericePriceByGarment", "EditPriceList")',
                        data: model,
                        success: function (result) {
                            if (result == "false")
                            {
                                $("#updateGarment").hide();
                                $("#deleteGarment").hide();
                                $("#addGarment").show();
                            }
                            else if (result.length > 0)
                            {
                                $.each(result, function (index, item)
                                {
                                    var id = "men_price_" + item.gpcGarmentName;
                                    $("#" + id).val(item.gpcGarmentServicePrice);
                                });
                            }
                        }
                    });
                    }
                    else if (selectedService == "Laundry") {
                        var model = {
                        'usrEmail': usrEmail.trim(),
                        'usrStoreName': selectedStore.trim(),
                        'service': selectedService.trim(),
                        'garment': selectedGarment.trim(),
                    }
                        $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("GetSericePriceByGarment", "EditPriceList")',
                        data: model,
                        success: function (result) {
                            if (result == "false")
                            {
                                $("#updateGarment").hide();
                                $("#deleteGarment").hide();
                                $("#addGarment").show();
                            }
                            else if (result.length > 0)
                            {
                                $.each(result, function (index, item)
                                {
                                    var id = "men_price_" + item.gpcGarmentName;
                                    $("#" + id).val(item.gpcGarmentServicePrice);
                                });
                            }
                        }
                    });
                    }
                    else if (selectedService == "Leather Care") {
                        var model = {
                        'usrEmail': usrEmail.trim(),
                        'usrStoreName': selectedStore.trim(),
                        'service': selectedService.trim(),
                        'garment': selectedGarment.trim(),
                    }
                        $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("GetSericePriceByGarment", "EditPriceList")',
                        data: model,
                        success: function (result) {
                            if (result == "false")
                            {
                                $("#updateGarment").hide();
                                $("#deleteGarment").hide();
                                $("#addGarment").show();
                            }
                            else if (result.length > 0)
                            {
                                $.each(result, function (index, item)
                                {
                                    var id = "men_price_" + item.gpcGarmentName;
                                    $("#" + id).val(item.gpcGarmentServicePrice);
                                });
                            }
                        }
                    });
                    }
                    else if (selectedService == "Mending Only") {
                        var model = {
                        'usrEmail': usrEmail.trim(),
                        'usrStoreName': selectedStore.trim(),
                        'service': selectedService.trim(),
                        'garment': selectedGarment.trim(),
                    }
                        $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("GetSericePriceByGarment", "EditPriceList")',
                        data: model,
                        success: function (result) {
                            if (result == "false")
                            {
                                $("#updateGarment").hide();
                                $("#deleteGarment").hide();
                                $("#addGarment").show();
                            }
                            else if (result.length > 0)
                            {
                                $.each(result, function (index, item)
                                {
                                    var id = "men_price_" + item.gpcGarmentName;
                                    $("#" + id).val(item.gpcGarmentServicePrice);
                                });
                            }
                        }
                    });
                    }
                    else if (selectedService == "Mending Only") {
                        var model = {
                        'usrEmail': usrEmail.trim(),
                        'usrStoreName': selectedStore.trim(),
                        'service': selectedService.trim(),
                        'garment': selectedGarment.trim(),
                    }
                        $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("GetSericePriceByGarment", "EditPriceList")',
                        data: model,
                        success: function (result) {
                            if (result == "false")
                            {
                                $("#updateGarment").hide();
                                $("#deleteGarment").hide();
                                $("#addGarment").show();
                            }
                            else if (result.length > 0)
                            {
                                $.each(result, function (index, item)
                                {
                                    var id = "men_price_" + item.gpcGarmentName;
                                    $("#" + id).val(item.gpcGarmentServicePrice);
                                });
                            }
                        }
                    });
                    }
                    else if (selectedService == "Softener") {
                        var model = {
                        'usrEmail': usrEmail.trim(),
                        'usrStoreName': selectedStore.trim(),
                        'service': selectedService.trim(),
                        'garment': selectedGarment.trim(),
                    }
                        $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("GetSericePriceByGarment", "EditPriceList")',
                        data: model,
                        success: function (result) {
                            if (result == "false")
                            {
                                $("#updateGarment").hide();
                                $("#deleteGarment").hide();
                                $("#addGarment").show();
                            }
                            else if (result.length > 0)
                            {
                                $.each(result, function (index, item)
                                {
                                    var id = "men_price_" + item.gpcGarmentName;
                                    $("#" + id).val(item.gpcGarmentServicePrice);
                                });
                            }
                        }
                    });
                    }
                    else if (selectedService == "Wash and Fold") {
                        var model = {
                        'usrEmail': usrEmail.trim(),
                        'usrStoreName': selectedStore.trim(),
                        'service': selectedService.trim(),
                        'garment': selectedGarment.trim(),
                    }
                        $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("GetSericePriceByGarment", "EditPriceList")',
                        data: model,
                        success: function (result) {
                            if (result == "false")
                            {
                                $("#updateGarment").hide();
                                $("#deleteGarment").hide();
                                $("#addGarment").show();
                            }
                            else if (result.length > 0)
                            {
                                $.each(result, function (index, item)
                                {
                                    var id = "men_price_" + item.gpcGarmentName;
                                    $("#" + id).val(item.gpcGarmentServicePrice);
                                });
                            }
                        }
                    });
                    }
                    else if (selectedService == "Wash and Iron") {
                        var model = {
                        'usrEmail': usrEmail.trim(),
                        'usrStoreName': selectedStore.trim(),
                        'service': selectedService.trim(),
                        'garment': selectedGarment.trim(),
                    }
                        $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("GetSericePriceByGarment", "EditPriceList")',
                        data: model,
                        success: function (result) {
                            if (result == "false")
                            {
                                $("#updateGarment").hide();
                                $("#deleteGarment").hide();
                                $("#addGarment").show();
                            }
                            else if (result.length > 0)
                            {
                                $.each(result, function (index, item)
                                {
                                    var id = "men_price_" + item.gpcGarmentName;
                                    $("#" + id).val(item.gpcGarmentServicePrice);
                                });
                            }
                        }
                    });
                    }
                    if (selectedGarment == "Men") {
                        if ($("#women").hasClass("show active"))
                            $("#women").removeClass("show active");

                        if ($("#kids").hasClass("show active"))
                            $("#kids").removeClass("show active");

                        if ($("#household").hasClass("show active"))
                            $("#household").removeClass("show active");

                        if ($("#institutional").hasClass("show active"))
                            $("#institutional").removeClass("show active");

                        if ($("#others").hasClass("show active"))
                            $("#others").removeClass("show active");

                        $("#men").addClass("show active");
                    }
                    else if (selectedGarment == "Women") {
                        if ($("#men").hasClass("show active"))
                            $("#men").removeClass("show active");

                        if ($("#kids").hasClass("show active"))
                            $("#kids").removeClass("show active");

                        if ($("#household").hasClass("show active"))
                            $("#household").removeClass("show active");

                        if ($("#institutional").hasClass("show active"))
                            $("#institutional").removeClass("show active");

                        if ($("#others").hasClass("show active"))
                            $("#others").removeClass("show active");

                        $("#women").addClass("show active");
                    }
                    else if (selectedGarment == "Kids") {
                        if ($("#men").hasClass("show active"))
                            $("#men").removeClass("show active");

                        if ($("#women").hasClass("show active"))
                            $("#women").removeClass("show active");

                        if ($("#household").hasClass("show active"))
                            $("#household").removeClass("show active");

                        if ($("#institutional").hasClass("show active"))
                            $("#institutional").removeClass("show active");

                        if ($("#others").hasClass("show active"))
                            $("#others").removeClass("show active");

                        $("#kids").addClass("show active");
                    }
                    else if (selectedGarment == "Household") {
                        if ($("#men").hasClass("show active"))
                            $("#men").removeClass("show active");

                        if ($("#women").hasClass("show active"))
                            $("#women").removeClass("show active");

                        if ($("#kids").hasClass("show active"))
                            $("#kids").removeClass("show active");

                        if ($("#institutional").hasClass("show active"))
                            $("#institutional").removeClass("show active");

                        if ($("#others").hasClass("show active"))
                            $("#others").removeClass("show active");

                        $("#household").addClass("show active");
                    }
                    else if (selectedGarment == "Institutional") {
                        if ($("#men").hasClass("show active"))
                            $("#men").removeClass("show active");

                        if ($("#women").hasClass("show active"))
                            $("#women").removeClass("show active");

                        if ($("#kids").hasClass("show active"))
                            $("#kids").removeClass("show active");

                        if ($("#household").hasClass("show active"))
                            $("#household").removeClass("show active");

                        if ($("#others").hasClass("show active"))
                            $("#others").removeClass("show active");

                        $("#institutional").addClass("show active");
                    }
                    else if (selectedGarment == "Others") {
                        if ($("#men").hasClass("show active"))
                            $("#men").removeClass("show active");

                        if ($("#women").hasClass("show active"))
                            $("#women").removeClass("show active");

                        if ($("#kids").hasClass("show active"))
                            $("#kids").removeClass("show active");

                        if ($("#household").hasClass("show active"))
                            $("#household").removeClass("show active");

                        if ($("#institutional").hasClass("show active"))
                            $("#institutional").removeClass("show active");

                        $("#others").addClass("show active");
                    }
                }
            }
            function selectedValue() {
                $("#Editpricelist").submit();
            }
            $(document).ready(function () {
                $('#men input').change(function () {
                    var garmentName = $(this).next().next().text();
                    var pricevalue = $(this).val();
                    pricevalue = pricevalue.replace(/^0+/, '');
                    modifiedPrice = pricevalue;
                    modifiedGarmentName = garmentName;
                    $("#updatedPrice").val(modifiedPrice);
                });
                $('#women input').change(function () {
                    var garmentName = $(this).next().next().text();
                    var pricevalue = $(this).val();
                    pricevalue = pricevalue.replace(/^0+/, '');
                    modifiedPrice = pricevalue;
                    modifiedGarmentName = garmentName;
                    $("#updatedPrice").val(modifiedPrice);
                });
                $('#kids input').change(function () {
                    var garmentName = $(this).next().next().text();
                    var pricevalue = $(this).val();
                    pricevalue = pricevalue.replace(/^0+/, '');
                    modifiedPrice = pricevalue;
                    modifiedGarmentName = garmentName;
                    $("#updatedPrice").val(modifiedPrice);
                });
                $('#household input').change(function () {
                    var garmentName = $(this).next().next().text();
                    var pricevalue = $(this).val();
                    pricevalue = pricevalue.replace(/^0+/, '');
                    modifiedPrice = pricevalue;
                    modifiedGarmentName = garmentName;
                    $("#updatedPrice").val(modifiedPrice);
                });
                $('#institutional input').change(function () {
                    var garmentName = $(this).next().next().text();
                    var pricevalue = $(this).val();
                    pricevalue = pricevalue.replace(/^0+/, '');
                    modifiedPrice = pricevalue;
                    modifiedGarmentName = garmentName;
                    $("#updatedPrice").val(modifiedPrice);
                });
                $('#others input').change(function () {
                    var garmentName = $(this).next().next().text();
                    var pricevalue = $(this).val();
                    pricevalue = pricevalue.replace(/^0+/, '');
                    modifiedPrice = pricevalue;
                    modifiedGarmentName = garmentName;
                    $("#updatedPrice").val(modifiedPrice);
                });
                $("#postUpdatedPriceByGarment").click(function () {
                    var selectedStore = $('#selectedStore option:selected').text();
                    var usrEmail = $("#usrEmail").val();
                    var service = selectedService;
                    var garment = selectedGarment;
                    var model = {
                        'usrEmail': usrEmail.trim(),
                        'usrStoreName': selectedStore.trim(),
                        'updatedprice': modifiedPrice,
                        'garmentname': modifiedGarmentName,
                        'service': service,
                        'garment': garment
                    }
                     $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("UpdateServicePriceByGarment", "EditPriceList")',
                        data: model,
                        success: function (result) {
                            if (result == "false")
                            {
                                $("#Editpricelist").submit();
                            }
                            else if (result == "true")
                            {
                                $("#Editpricelist").submit();
                            }
                        }
                    });

                });
                $("#updatedPrice").attr('readonly', true);
                $('.btnServiceselect').click(function () {
                    selectedService = $(this).text();
                });
                $('.btnCategoryselect').click(function () {
                    selectedGarment = $(this).text();
                });
                $('.btnServiceselect, .btnCategoryselect').on('click', getSelectedGarmentAndService);

            });
        </script>
    </div>
</body>

</html>
