﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/lcMain.css" asp-append-version="true" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <div>
        <div class="position-absolute brand-main-content brand-main-min-width">
            <div class="alert brand-alert-silver text-secondary text-center d-flex flex-wrap justify-content-center align-items-center m-3" role="alert">
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="brand-white-box brand-border-primary-color">
                            <div class="brand-bg-color d-flex flex-wrap justify-content-between align-items-center p-2">
                                <label class="mb-0 brand-font-size">Brand Creation</label>
                            </div>
                            <form class="px-3 py-1" enctype="multipart/form-data" autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group required d-flex my-2">
                                            <div class="input-group input-group-sm">
                                                <label class="input-group-text brand-font-size">Brand Name</label>
                                                <input type="text" class="form-control"
                                                       placeholder="Kindly Enter Brand Name" />
                                            </div>
                                            <i class="fa fa-info-circle pl-1 pt-1 brand-text-primary-color"
                                               data-bs-toggle="tooltip"
                                               title='Create list of brands to be used at the time of order generation for better garment identification'></i>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12 d-flex flex-wrap justify-content-start">
                                        <button type="button" class="btn btn-info brand-font my-2 mr-2">
                                            <i class="fa fa-floppy-o"></i>
                                            Create
                                        </button>
                                        <button type="button" class="btn btn-info brand-font my-2 ml-2" data-toggle="modal"
                                                data-target="#exampleModal">
                                            <i class="fa fa-trash"></i>
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-sm">
                                <thead class="bg-secondary">
                                    <tr>
                                        <th class="text-left text-white">
                                            <div class="form-check d-flex align-items-center">
                                                <input class="form-check-input brand-font-size" type="checkbox">
                                                <label class="form-check-label mt-1 brand-font-size">
                                                    Select All
                                                </label>
                                            </div>
                                        </th>
                                        <th class="text-left text-white brand-font-size"></th>
                                        <th class="text-left text-white brand-font-size">Brand Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="border">
                                        <td class="text-left brand-font-size">
                                            <div class="form-check my-2 d-flex align-items-center">
                                                <input class="form-check-input" type="checkbox">
                                            </div>
                                        </td>
                                        <td class="text-left brand-font-size">Select</td>
                                        <td class="text-left brand-font-size">Zanetti</td>
                                    </tr>
                                    <tr class="border">
                                        <td class="text-left brand-font-size">
                                            <div class="form-check my-2 d-flex align-items-center">
                                                <input class="form-check-input" type="checkbox">
                                            </div>
                                        </td>
                                        <td class="text-left brand-font-size">Select</td>
                                        <td class="text-left brand-font-size">Wrangler</td>
                                    </tr>
                                    <tr class="border">
                                        <td class="text-left brand-font-size">
                                            <div class="form-check my-2 d-flex align-items-center">
                                                <input class="form-check-input" type="checkbox">
                                            </div>
                                        </td>
                                        <td class="text-left brand-font-size">Select</td>
                                        <td class="text-left brand-font-size">Versace</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>